:root {
  --footbar-height: var(--fluid-60-40);
  --footbar-content-width: var(--fluid-360-1080);
}
.footbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--footbar-height);
  background: var(--primary-bg);
}
.footbar-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: var(--footbar-content-width);
  margin: var(--landing-padding3) var(--landing-padding2);
}
.footbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--landing-padding3);
  margin-left: auto;
  margin-right: auto;
}
.footbar-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-layout);
  font-size: var(--fs--2);
  color: var(--primary-content);
  margin-left: auto;
  margin-right: auto;
}
.footbarlogo {
  display: flex;
  --svg-primary: var(--primary-content);
  --svg-secondary: var(--glow);
}
.footbarlogo.logo1 {
  height: 1.05rem;
}
.footbarlogo.logo2 {
  height: 0.5rem;
}
.footbarlogo.logo3 {
  height: 1.2rem;
}