.NV-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: var(--navbar-z-index);
  background: var(--bg-primary);
  width: 100%;
  flex-direction: column;
}
.NV-body-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navbar-height-primary);
  width: var(--navbar-width);
  padding: var(--navbar-padding);
}
.NV-body-secondary {
  display: none;
  top: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: var(--navbar-height-secondary);
  background: var(--navbg-secondary);
  width: var(--navbar-width);
  padding: var(--navbar-padding);
}
.NV-body-secondary:hover {
  background: var(--navbg-secondary-hover);
}
/* Navbar Logo */ /* Navbar Logo */ /* Navbar Logo */ /* Navbar Logo */
.NV-logo {
  display: flex;
  align-items: center;
  width: var(--navbar-logo-height);
  border: none;
  cursor: pointer;
  --svg-primary: var(--text-on-brand);
}
.NV-logo:hover {
  --svg-primary: var(--navbar-logo-hover);
  transform: scale(1.02);
}
/* Navbar Logo */ /* Navbar Logo */ /* Navbar Logo */ /* Navbar Logo */
/* Navbar Menu */ /* Navbar Menu */ /* Navbar Menu */ /* Navbar Menu */
.NV-menu-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 var(--navbar-menu-gap) 0 auto;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
.NV-menu-body:hover {
  transition: all 0.2s ease-in;
  --navbar-menu-gap: 1.5rem;
  font-weight: bold;
  background: var(--navbg-bg-hover);
  border-left: 2px solid var(--navbg-bg-hover-border);
  border-right: 2px solid var(--navbg-bg-hover-border);
  padding: 0 20px;
}
.NV-menu-body .active {
  font-weight: bold;
  color: var(--accent);
}
.NV-menu-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-layout);
  text-align: center;
  line-height: 1rem;
  color: var(--text-on-brand);
  padding: 0 var(--navbar-item-gap);
  height: 90%;
  border: 1px solid transparent;
  border-radius: 3px;
}
.NV-menu-text:hover {
  background: var(--button-bg-hover);
  color: var(--button-text-hover);
  border: var(--button-border-hover);
  box-shadow: var(--button-shadow-hover);
}
.NV-body-secondary .NV-menu-body .NV-menu-text {
  font-size: var(--navbar-menu-font-size);
}
/* Navbar Menu */ /* Navbar Menu */ /* Navbar Menu */ /* Navbar Menu */
/* Navbar Theme */ /* Navbar Theme */ /* Navbar Theme */ /* Navbar Theme */
.NV-theme-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--navbar-menu-gap);
  height: 100%;
}
.NV-theme-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: calc(var(--navbar-height-primary) * 2 - 15px);
  overflow: hidden;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
.NV-theme-selection:hover {
  transition: all 0.2s ease-in;
  padding: 0 20px;
  background: var(--navbg-bg-hover);
  border-left: 2px solid var(--navbg-bg-hover-border);
  border-right: 2px solid var(--navbg-bg-hover-border);
  width: initial;
}
.NV-theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  aspect-ratio: 1;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}
.NV-theme-button:hover {
  background: var(--button-bg-hover);
  color: var(--button-text-hover);
  border: var(--button-border-hover);
  box-shadow: var(--button-shadow-hover);
}
.NVbtn0 {
  display: flex;
  background-color: initial;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  max-height: 70%;
  aspect-ratio: 1;
}
.NVbtn0:hover {
  filter: brightness(130%);
}
.NVbtn0.NVbtn1 {
  background-image: var(--navbar-theme-btn1);
}
.NVbtn0.NVbtn2 {
  background-image: var(--navbar-theme-btn2);
}
.NVbtn0.NVbtn3 {
  background-image: var(--navbar-theme-btn3);
}
.NVbtn0.NVbtn4 {
  background-image: var(--navbar-theme-btn4);
}
[data-theme="light"] .NVbtn1 {
  display: none;
}
[data-theme="star"] .NVbtn2 {
  display: none;
}
[data-theme="dark"] .NVbtn3 {
  display: none;
}
[data-theme="infinity"] .NVbtn4 {
  display: none;
}

.language-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.language-switcher button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-layout);
  font-size: var(--navbar-menu-font-size);
  text-decoration: none;
  color: var(--text-on-brand);
  padding: 0 var(--navbar-item-gap);
  border: 1px solid transparent;
  height: 90%;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}
.language-switcher button:hover {
  /* background-color: color-mix(
    in srgb,
    var(--button-background-active) 90%,
    transparent
  ); */
  font-weight: bold;
  /* border: 1px solid var(--button-border2-active); */
  /* box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent); */
  font-style: normal;
  transition: all 0.2s ease-in;
  padding: 0 10px;
  background: var(--button-bg-hover);
  color: var(--button-text-hover);
  border: var(--button-border-hover);
  box-shadow: var(--button-shadow-hover);
}
.language-switcher .inact {
  display: none;
}
/* Navbar Theme */ /* Navbar Theme */ /* Navbar Theme */ /* Navbar Theme */
/* Navbar Secondary */ /* Navbar Secondary */ /* Navbar Secondary */
.NV-body-wrapper:hover .NV-body-primary {
  box-shadow: 0 8px 12px var(--navbg-shadow);
}
.NV-body-wrapper:hover .NV-body-secondary {
  display: flex;
}
/* Navbar Secondary */ /* Navbar Secondary */ /* Navbar Secondary */

@media only screen and (max-width: 800px) and (min-height: 416px) {
  .NV-body-secondary .NV-menu-body .NV-menu-text,
  .language-switcher button {
    font-size: var(--navbar-menu-font-size-m);
  }
}
@media only screen and (max-width: 899px) and (min-height: 416px) {
  .NV-logo {
    margin-right: auto;
    margin-left: calc(-1 * var(--navbar-padding-sides) / 3);
  }
  .NV-menu-toggle {
    background-color: initial;
    height: 90%;
    aspect-ratio: 1;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-right: calc(-1 * var(--navbar-padding-sides) / 3);
  }
  .NV-menu-toggle:hover,
  .NV-menu-toggle:active {
    background-color: color-mix(
      in srgb,
      var(--button-background-active) 20%,
      transparent
    );
    border: 1px solid var(--button-border2-active);
    box-shadow: 0 8px 12px
      color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  }
  .NV-menu-toggle-btn {
    color: var(--text-on-brand);
    width: 2rem;
    aspect-ratio: 2;
  }
  .NV-body-secondary {
    transition: transform 0.1s ease-in-out;
    transform: translateX(100%);
    display: flex;
    width: auto;
    height: initial;
    top: var(--navbar-height-primary);
    right: 0;
    position: fixed;
    flex-direction: column;
    align-items: end;
  }
  .NV-body-secondary.open {
    transform: translateX(0);
  }
  .NV-menu-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: initial;
  }
  .NV-menu-body:hover {
    transition: initial;
    font-weight: initial;
    background-color: initial;
    padding: initial;
    border: initial;
  }
  .NV-menu-text {
    width: 100%;
    padding: var(--navbar-item-gap-m);
    justify-content: end;
  }
  .NV-menu-text:active {
    background-color: color-mix(
      in srgb,
      var(--button-background-active) 20%,
      transparent
    );
    color: var(--text-on-brand);
    font-weight: normal;
    border: 1px solid var(--button-border2-active);
    box-shadow: 0 8px 12px
      color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  }
  .NV-theme-body {
    width: 100%;
    height: 58px;
  }
  .NV-theme-selection {
    width: 100%;
    overflow: initial;
    border: initial;
  }
  .NV-theme-selection:hover {
    transition: initial;
    background-color: initial;
    padding: initial;
    border: initial;
  }
  .NV-theme-button {
    height: 100%;
  }
  .language-switcher {
    width: 100%;
  }
  .language-switcher button:hover {
    font-weight: initial;
    transition: initial;
    padding: 0 var(--navbar-item-gap);
  }
}
