:root {
  --navbar-height-primary: var(--fluid-60-50);
  --landing-pfp-size: var(--fluid-50-40);
  --landing-pfp-aspect-ratio: calc(560 / 600);
  --pfpzone-width-1: calc(60 / 150 * 100%);
  --pfpzone-width-2: calc(30 / 150 * 100%);
  --pfpzone-height-1: calc(97 / 150 * 100% * var(--landing-pfp-aspect-ratio));
  --pfpzone-height-2: calc(
    (var(--landing-pfp-size) / var(--landing-pfp-aspect-ratio)) -
      var(--pfpzone-height-1)
  );
  --navbar-menu-height: var(--fluid-40-30);
  --navbar-mobile-menu-width: 70%;
  --icon-size: var(--navbar-menu-height);
}
/* 
|| -----------------------------------------
|| NAVBAR
|| -----------------------------------------
*/
.NV-body-wrapper:hover .NV-body-primary {
  box-shadow: 0 0 10px 1px hsl(from var(--shadow) h s l / 0.4);
}
.NV-body-wrapper:hover .NV-body-secondary {
  display: flex;
}
.NV-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: var(--navbar-z-index);
  background-color: var(--primary-bg);
  width: 100%;
  flex-direction: column;
}
.NV-body-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navbar-height-primary);
  width: calc(100% - 2 * var(--landing-padding2));
  padding: 0 var(--landing-padding2);
  gap: var(--landing-padding2);
}
.NV-body-secondary {
  display: none;
  top: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: var(--navbar-height-secondary);
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
  width: calc(100% - 2 * var(--landing-padding2));
  padding: var(--landing-padding2);
}
.NV-body-secondary:hover {
  background-color: hsl(from var(--primary-bg) h s l / 0.9);
}
/* 
|| -----------------------------------------
|| NAVBAR -> NAVBAR BRANDING
|| -----------------------------------------
*/
.NV-branding {
  display: flex;
  position: relative;
  margin-left: var(--landing-padding);
}
.landing-profile {
  background-color: hsl(from var(--tertiary-bg) h s l / 0.4);
  color: var(--tertiary-content);
  width: 100%;
  padding: var(--landing-padding2) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: var(--landing-padding2);
  --svg-1: var(--primary-content);
}
.pfpzone {
  pointer-events: auto;
}
.pfpzone.A0,
.pfpzone.B0 {
  width: var(--pfpzone-width-1);
  height: var(--pfpzone-height-1);
}
.pfpzone.C0 {
  width: var(--pfpzone-width-2);
  height: var(--pfpzone-height-1);
}
.pfpzone.A1,
.pfpzone.B1 {
  width: var(--pfpzone-width-1);
  height: var(--pfpzone-height-2);
}
.pfpzone.C1 {
  width: var(--pfpzone-width-2);
  height: var(--pfpzone-height-2);
}
.pfp-overlay {
  position: absolute;
  top: 0;
  background-image: var(--landing-pfp-overlay);
  background-size: cover;
  width: var(--landing-pfp-size);
  aspect-ratio: var(--landing-pfp-aspect-ratio);
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  z-index: 2;
}
.pfp-overlay:hover {
  opacity: 1;
}
.landing-pfp-container {
  position: relative;
}
.landing-pfp {
  z-index: 1;
  position: relative;
  background-image: var(--landing-pfp-overlay);
  background-size: cover;
  width: var(--landing-pfp-size);
  aspect-ratio: 560 / 600;
}
.landing-pfp-bg {
  position: absolute;
  top: 0;
  left: 0;
  --stroke: 0.25px;
  width: calc(100% + var(--stroke));
  height: calc(100% + var(--stroke));
  --svg-1: var(--primary-content);
}
.NV-logo {
  margin-left: var(--landing-padding4);
}
.landing-name {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-2);
  color: var(--primary-content);
  text-shadow: 0 0 10px hsl(from var(--glow) h s l / 0.5);
  paint-order: stroke fill;
  margin-top: calc(var(--landing-padding) / -1);
  line-height: 1.6;
}
.landing-name:hover {
  color: var(--primary-content-hover);
  text-shadow: 0 0 10px var(--glow);
  -webkit-text-stroke: 4px hsl(from var(--glow) h s l / 0.5);
}
/* 
|| -----------------------------------------
|| NAVBAR -> NAVBAR MENU
|| -----------------------------------------
*/
.NV-menu-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--navbar-menu-height);
  margin: 0 var(--landing-padding2) 0 auto;
}
.NV-menu-body .active {
  font-weight: bold;
  color: var(--primary-content);
  text-shadow: 0 0 10px hsl(from var(--glow) h s l / 0.5);
  paint-order: stroke fill;
}
.NV-menu-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-layout);
  text-align: center;
  line-height: 1rem;
  color: var(--primary-content);
  height: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: var(--landing-padding4) var(--landing-padding2);
}
.NV-menu-text:hover {
  background-color: var(--tertiary-bg-hover);
  color: var(--tertiary-content-hover);
  border: 1px solid var(--tertiary-content-hover);
  box-shadow: 0 8px 12px color-mix(in srgb, var(--glow) 50%, transparent);
}
.NV-body-secondary .NV-menu-body .NV-menu-text {
  font-size: var(--fs--1);
}
/* 
|| -----------------------------------------
|| ( LANDING PROFILE ) -> THEME BUTTONS
|| -----------------------------------------
*/
.landing-theme-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--icon-size);
  gap: var(--landing-padding2);
}
.landing-theme-button {
  background-color: inherit;
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  border: 1px solid transparent;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--landing-padding2);
}
.landing-theme-button:hover:not(.landing-theme-button.active) {
  padding: var(--landing-padding4);
  opacity: 0.6;
  transform: scale(1.2);
}
.landing-theme-icon {
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  aspect-ratio: 1;
  border: none;
}
.landing-theme-button.active {
  aspect-ratio: initial;
  margin: 0 var(--landing-padding);
  padding: var(--landing-padding4) var(--landing-padding2);
  opacity: 1;
  transform: scale(1.2);
  border: 1px solid var(--tertiary-content-hover);
  background-color: var(--tertiary-bg-hover);
  color: var(--tertiary-content-hover);
  box-shadow: 0 8px 12px color-mix(in srgb, var(--glow) 50%, transparent);
  cursor: auto;
}
.landing-theme-button.active[aria-label]::after {
  content: attr(aria-label);
  font-size: var(--fs--2);
}
.landing-theme-button.active:hover {
  box-shadow: inherit;
}
/* 
|| -----------------------------------------
|| NAVBAR -> LANGUAGE SWITCHER
|| -----------------------------------------
*/
.language-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--navbar-menu-height);
  margin: 0 var(--landing-padding2);
}
.language-switcher button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-layout);
  text-decoration: none;
  line-height: 1rem;
  color: var(--primary-content);
  padding: var(--landing-padding4) var(--landing-padding2);
  border: 1px solid transparent;
  height: 100%;
  background: none;
  font-size: var(--fs--1);
}
.language-switcher button:hover {
  background-color: var(--tertiary-bg-hover);
  color: var(--tertiary-content-hover);
  border: 1px solid var(--tertiary-content-hover);
  box-shadow: 0 8px 12px color-mix(in srgb, var(--glow) 50%, transparent);
}
.language-switcher .inact {
  display: none;
}
/* 
|| -----------------------------------------
|| NAVBAR -> MOBILE LAYOUT
|| -----------------------------------------
*/
.NV-menu-toggle {
  background-color: initial;
  height: var(--navbar-menu-height);
  aspect-ratio: 1;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: var(--landing-padding2);
  margin-left: auto;
}
.NV-menu-toggle:hover,
.NV-menu-toggle:active {
  background-color: var(--tertiary-bg-hover);
  color: var(--tertiary-content-hover);
  border: 1px solid var(--tertiary-content-hover);
  box-shadow: 0 8px 12px color-mix(in srgb, var(--glow) 50%, transparent);
}
.NV-menu-toggle-btn {
  color: var(--tertiary-content-hover);
  width: 2rem;
  aspect-ratio: 2;
}
.navbar-mobile {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
.navbar-mobile-menu {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: var(--navbar-height-primary);
  right: 0;
  max-width: calc(90% - 2 * var(--landing-padding2));
  background-color: hsl(from var(--secondary-bg) h s l / 0.9);
  padding: var(--landing-padding2) var(--landing-padding);
  gap: var(--landing-padding2);
}
.navbar-mobile-menu.open {
  display: flex;
}
.navbar-mobile-menu .landing-theme-selection {
  height: initial;
  flex-wrap: wrap;
}
.navbar-mobile-menu .landing-theme-selection .landing-theme-button {
  flex-direction: column;
  height: var(--icon-size);
  opacity: 1;
}
.navbar-mobile-menu .NV-menu-body {
  flex-direction: column;
  align-items: end;
  height: initial;
  margin: initial;
}
.navbar-mobile-menu .language-switcher {
  margin: initial;
}
.navbar-mobile-menu .NV-menu-text {
  height: var(--navbar-menu-height);
}
