* {
  --navbar-paddingbody: 50px;
  --navbar-paddingmenu: 20px;
  --navbar-paddingitem: 10px;
}
@media only screen and (max-width: 800px) {
  * {
    --navbar-paddingbody: 20px;
    --navbar-paddingmenu: 10px;
    --navbar-paddingitem: 5px;
  }
}

.NV-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: var(--navbar-z-index);
  background: var(--bg-primary);
  width: 100%;
  flex-direction: column;
}
.NV-body-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: calc(100% - 2 * var(--navbar-paddingbody));
  padding: 0 var(--navbar-paddingbody);
}
.NV-body-secondary {
  display: none;
  top: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 45px;
  background: var(--navbg-secondary);
  width: calc(100% - 2 * var(--navbar-paddingbody));
  padding: 0 var(--navbar-paddingbody);
}

/* Navbar Logo */ /* Navbar Logo */ /* Navbar Logo */ /* Navbar Logo */
.NV-logo {
  width: 165px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-image: var(--navbar-img);
}
.NV-logo:hover {
  background-image: var(--navbar-img-hover);
  transform: scale(1.02);
}
/* Navbar Logo */ /* Navbar Logo */ /* Navbar Logo */ /* Navbar Logo */

/* Navbar Menu */ /* Navbar Menu */ /* Navbar Menu */ /* Navbar Menu */
.NV-menu-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 var(--navbar-paddingmenu) 0 auto;
}
.NV-menu-body .active {
  font-weight: bold;
  color: var(--accent);
}
.NV-menu-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-layout);
  color: var(--text-on-brand);
  padding: 0 var(--navbar-paddingitem);
  height: 90%;
  border: 1px solid transparent;
  border-radius: 3px;
}
.NV-menu-text:hover {
  background-color: color-mix(
    in srgb,
    var(--button-background-active) 20%,
    transparent
  );
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
}
.NV-body-secondary .NV-menu-body .NV-menu-text {
  font-size: var(--fs-xs);
}
@media only screen and (max-width: 769px) {
  .NV-body-secondary .NV-menu-body .NV-menu-text {
    font-size: var(--fs-sm);
  }
}
/* Navbar Menu */ /* Navbar Menu */ /* Navbar Menu */ /* Navbar Menu */

/* Navbar Theme */ /* Navbar Theme */ /* Navbar Theme */ /* Navbar Theme */
.NV-theme-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--navbar-paddingmenu);
  height: 100%;
}
.NV-theme-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.NV-theme-button {
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  aspect-ratio: 1;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}
.NV-theme-button:hover {
  background-color: color-mix(
    in srgb,
    var(--button-background-active) 20%,
    transparent
  );
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
}
.NVbtn1 {
  background-image: var(--navbar-theme-btn1);
}
.NVbtn2 {
  background-image: var(--navbar-theme-btn2);
}
.NVbtn3 {
  background-image: var(--navbar-theme-btn3);
}
[data-theme="light"] .NVbtn1 {
  display: none;
}
[data-theme="star"] .NVbtn2 {
  display: none;
}
[data-theme="dark"] .NVbtn3 {
  display: none;
}

.language-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.language-switcher button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-layout);
  font-size: var(--fs-sm);
  text-decoration: none;
  color: var(--text-on-brand);
  padding: 0 var(--navbar-paddingitem);
  border: 1px solid transparent;
  height: 90%;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}
.language-switcher button:hover {
  background-color: color-mix(
    in srgb,
    var(--button-background-active) 20%,
    transparent
  );
  color: var(--text-on-brand);
  font-weight: normal;
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  font-style: normal;
}
.language-switcher .inact {
  display: none;
}
/* Navbar Theme */ /* Navbar Theme */ /* Navbar Theme */ /* Navbar Theme */

/* Navbar Secondary */ /* Navbar Secondary */ /* Navbar Secondary */
.NV-body-wrapper:hover .NV-body-main {
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
}
[data-theme="dark"] .NV-body .NV-body-main {
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2) 50%, transparent);
}
.NV-body-wrapper:hover .NV-body-secondary {
  display: flex;
}
/* Navbar Secondary */ /* Navbar Secondary */ /* Navbar Secondary */

@media only screen and (max-width: 899px) {
  .NV-body-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: calc(100% - 2 * var(--navbar-paddingbody));
    padding: 0 var(--navbar-paddingbody);
  }
  .NV-logo {
    margin-right: auto;
  }
  .NV-menu-toggle {
    background-color: initial;
    height: 90%;
    aspect-ratio: 1;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  .NV-menu-toggle:hover,
  .NV-menu-toggle:active {
    background-color: color-mix(
      in srgb,
      var(--button-background-active) 20%,
      transparent
    );
    border: 1px solid var(--button-border2-active);
    box-shadow: 0 8px 12px
      color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  }
  .NV-menu-toggle-btn {
    color: var(--navtext-a);
  }
  .NV-body-secondary {
    transition: transform 0.1s ease-in-out;
    transform: translateX(100%);
    display: flex;
    width: 200px;
    height: initial;
    top: 64px;
    right: 0;
    position: fixed;
    flex-direction: column;
    align-items: end;
    background: var(--navbg-secondary-m);
  }
  .NV-body-secondary.open {
    transform: translateX(0);
    right: 0;
  }
  .NV-menu-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .NV-menu-text {
    width: 100%;
    padding: 15px;
    justify-content: end;
  }
  .NV-menu-text:active {
    background-color: color-mix(
      in srgb,
      var(--button-background-active) 20%,
      transparent
    );
    color: var(--navtext-a);
    font-weight: normal;
    border: 1px solid var(--button-border2-active);
    box-shadow: 0 8px 12px
      color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  }
  .NV-theme-body {
    width: 100%;
    height: 58px;
  }
  .NV-theme-selection {
    width: 100%;
  }
  .NV-theme-button {
    height: 100%;
  }
  .language-switcher {
    width: 100%;
  }
}
