::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-on-primary);
  border: 2px solid var(--bg-primary);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--text-on-primary) var(--bg-primary);
  }
}