.scroll-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  left: 15vw;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(0);
  opacity: 0;
  z-index: 1;
  background-color: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 50%,
    transparent
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--C-Vesnea_Pink);
  border-radius: 50%;
  cursor: pointer;
}
.scroll-to-top:hover {
  transform: scale(1.1);
  opacity: 1;
  background-color: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 75%,
    transparent
  );
}
.scroll-to-top:active {
  transform: scale(1.1);
  opacity: 1;
}
.scroll-to-top.show {
  transform: scale(1);
  opacity: 0.5;
}
.scroll-to-top-icon {
  width: 50px;
}
@media only screen and (max-width: 800px) {
  .scroll-to-top {
    bottom: 60px;
    left: 10px;
  }
}