.scroll-to-top {
  background-color: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 50%,
    transparent
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--C-Vesnea_Pink);
  border-radius: 50%;
  cursor: pointer;
}
.scroll-to-top:hover {
  background-color: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 75%,
    transparent
  );
}