.aboutchar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  padding: 0 10vw;
  background-color: var(--bg-primary);

  font-size: var(--Fs-Content);
  color: var(--text-on-primary);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
.aboutchar:hover {
  color: var(--C-Vesnea_white);
  text-shadow: 0 2px 5px
    color-mix(in srgb, var(--C-Vesnea_Pink) 50%, transparent);
  transform: scale(1, 1.02);
}
/* 
|| -----------------------------------------
|| CHARACTER CARD PAGE (CharInfo.js)
|| -----------------------------------------
*/
@keyframes bgpulse {
  0% {
    background-color: hsl(from var(--primary-bg) h s l / 0.8);
  }
  50% {
    background-color: hsl(from var(--primary-bg) h s l / 0.95);
  }
  100% {
    background-color: hsl(from var(--primary-bg) h s l / 0.8);
  }
}
.charinfobg {
  width: 100%;
  background-color: hsl(from var(--primary-bg) h s l / 0.9);
  animation: bgpulse 10s ease-in-out infinite;
}
.charinfobg .generalbody {
  border-bottom: 0.3rem solid var(--primary-bg-hover);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
/* 
|| -----------------------------------------
|| CHARACTER CARDS -> CHARACTER SELECTOR TOP
|| -----------------------------------------
*/
.character-selector-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: var(--selector-height-padding) 0;
  gap: var(--selector-icons-gap);
  border-radius: 15px;
  transition: all 0.1s ease-in;
}
.character-group {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: calc(var(--charinfo-icon-totalsize) * 4);
  border-radius: 8px;
  color: var(--primary-content);
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  box-shadow: 0 0 10px 1px hsl(from var(--shadow) h s l / 0.2);
}
.character-group:hover {
  border: 1px solid var(--primary-bg-hover);
  background-color: hsl(from var(--primary-bg-hover) h s l / 0.3);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.group-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: calc(var(--charinfo-icon-totalsize) * 1.2);
  padding: var(--selector-icons-gap) calc(var(--selector-icons-gap) * 1.2);
  font-size: var(--fs-base);
  text-align: center;
  font-family: var(--font-main);
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
}
.group-container {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.6s ease;
}
.charinfo-label {
  display: flex;
  align-items: center;
  padding: var(--selector-icons-gap);
  gap: var(--selector-icons-gap);
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
  border-left: 4px solid transparent;
  color: inherit;
}
.charinfo-label:hover {
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
  border-left: 4px solid var(--primary-bg-hover);
}
.charinfo-icon-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(--charinfo-icon-imgsize);
  height: var(--charinfo-icon-imgsize);
  object-fit: cover;
  transition: transform 0.1s ease;
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
}
.charinfo-label:hover .charinfo-icon-2 {
  background-color: hsl(from var(--primary-content-hover) h s l / 0.8);
  color: var(--primary-content-hover);
  border: 2px solid var(--primary-content-hover);
  transform: scale(var(--charinfo-icon-hover-size));
}
.charinfo-name-top {
  text-decoration: none;
}
/* 
|| -----------------------------------------
|| CHARACTER CARDS -> CHARACTER SELECTOR
|| -----------------------------------------
*/
* {
  --selector-height-padding: 12px;
  --selector-min-height: calc(
    var(--charinfo-icon-totalsize) * var(--selector-icons-row-amount)
  );
  --selector-hiding-height: calc(
    var(--selector-min-height) + (1 + var(--selector-icons-row-amount)) *
      var(--selector-height-padding)
  );

  --selector-icons-row-amount: 1;
  --selector-icons-gap: 10px;
  --charinfo-icon-totalsize: calc(
    var(--charinfo-icon-imgsize) + 2 * var(--charinfo-icon-border)
  );
  --charinfo-icon-imgsize: 50px;
  --charinfo-icon-border: 2px;
  --charinfo-icon-hover-size: 1.2;

  --contentB-btn-padding: 10px;
}
.character-selector-wrapper {
  z-index: var(--character-selector-z-index);
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  transition: all 0.1s ease-in;
}
.character-selector {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: var(--selector-min-height);
  padding: var(--selector-height-padding) 0;
  padding-bottom: calc(
    var(--selector-height-padding) * var(--selector-icons-row-amount)
  );
  gap: var(--selector-icons-gap);
  background-color: hsl(from var(--primary-bg) h s l / 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  transition: all 0.1s ease-in;
}
.character-selector-wrapper:hover .character-selector-btn {
  box-shadow: 0 -4px 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.character-selector.selectoractive {
  opacity: 1;
}
.character-selector-wrapper.selectorinactive {
  opacity: 0.5;
  margin-top: calc(-1 * var(--selector-min-height));
  margin-bottom: var(--selector-min-height);
  transform: translateY(var(--selector-hiding-height));
}
.character-selector-btn {
  opacity: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);

  color: var(--primary-content);
  background-color: hsl(from var(--primary-bg) h s l / 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 -4px 10px 1px hsl(from var(--shadow) h s l / 0.4);

  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
}
.character-selector-btn:hover {
  color: var(--primary-content);
  background-color: hsl(from var(--primary-bg) h s l / 0.8);
  border: 1px solid var(--primary-bg-hover);
  border-bottom: none;
  box-shadow: 0 -4px 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.character-selector-btntext.selectoractive {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.character-selector-btntext.selectorinactive {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}
.charinfo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--charinfo-icon-totalsize);
  height: var(--charinfo-icon-totalsize);
}
.charinfo-icon img {
  cursor: pointer;
  width: var(--charinfo-icon-imgsize);
  height: var(--charinfo-icon-imgsize);
  object-fit: cover;
  transition: transform 0.1s ease;
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
}
.charinfo-icon img:hover {
  background-color: hsl(from var(--primary-content-hover) h s l / 0.8);
  color: var(--primary-content-hover);
  border: 2px solid var(--primary-content-hover);
  transform: scale(var(--charinfo-icon-hover-size));
}
.charinfo-name {
  display: none;
  position: absolute;
  top: -50px;
  font-size: var(--fs-xl);
  color: var(--text-on-brand);
  text-shadow:
    2px 0 0 var(--bg-brand),
    -3px 0 0 var(--bg-brand),
    0 2px 0 var(--bg-brand),
    0 -2px 0 var(--bg-brand);
  text-decoration: none;
}
.charinfo-icon:hover .charinfo-name {
  display: flex;
  font-weight: bold;
}
/* 
|| -----------------------------------------
|| CHARACTER CARDS -> CARD LAYOUT
|| -----------------------------------------
*/
* {
  --container-padding: var(--landing-padding);
  --container-content-gap: var(--landing-padding);

  --card-width-closed: var(--fluid-280-368);
  --card-width-opened: clamp(
    var(--card-width-closed),
    calc(
      2 * var(--card-width-closed) + var(--container-content-gap) + 2 *
        var(--card-padding)
    ),
    90%
  );
  --card-height-opened: 70vh;

  --card-padding: var(--landing-padding);
  --card-content-gap: var(--landing-padding2);

  --card-contentA-width: calc(
    (var(--card-width-closed) - var(--card-content-gap)) / 2
  );
  --tab-width: calc(3 * var(--tab-height));
  --tab-height: var(--fluid-15-24);
}
.charinfowrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin: var(--container-padding);
  margin-top: calc(2 * var(--container-padding));
  gap: var(--container-content-gap);
}
.charinfowrapper.contentBinactive .charcard-contentB {
  display: none;
}

/* >>> CharacterCard.js */
.character-card {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--card-width-closed);
  padding: var(--card-padding);
  padding-bottom: calc(var(--card-content-gap) + var(--tab-height));
  background-color: hsl(from var(--primary-bg) h s l / 0.8);
  color: var(--primary-content);
  box-shadow: 0 0 10px 1px hsl(from var(--shadow) h s l / 0.2);
  border: 1px solid hsl(from var(--glow) h s l / 0.5);
  border-radius: 8px;
}
.character-card.opened {
  width: var(--card-width-opened);
  height: var(--card-height-opened);
  border: 1px solid var(--primary-bg-hover);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.character-card.opened .charcard-content-main {
  zoom: 0.7;
  margin-bottom: initial;
}
.character-card.opened .charcard-contentA {
  flex-direction: column;
}
.character-card.opened .charcard-contentB {
  display: none;
}
.character-card:hover {
  border: 1px solid var(--primary-bg-hover);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
@media only screen and (max-width: 500px) {
  .character-card.opened .charcard-content {
    flex-direction: column;
    align-items: center;
  }
  .character-card.opened .charcard-contentA1 {
    width: 100%;
    flex-direction: row;
  }
  .character-card.opened .charcardPFP {
    width: 50px;
  }
  .charcardAltName {
    line-height: 1.2rem;
  }
  .character-card.opened .charcard-contentA2 {
    display: none;
  }
/* .charcard-contentA2 .charcardProp {
  line-height: 1.2rem;
  } */
}
/* 
|| -----------------------------------------
|| CHARACTER CARDS -> CARD CONTENT B BUTTON
|| -----------------------------------------
*/
.contentB-btn {
  z-index: var(--charcard-bio-btn-z-index);
  opacity: 1;
  cursor: pointer;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(var(--contentB-btn-padding) * 2);
  bottom: calc(var(--contentB-btn-padding) * 4);
  width: fit-content;
  padding: var(--contentB-btn-padding);
  color: var(--primary-content);
  background-color: hsl(from var(--primary-bg) h s l / 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px 1px hsl(from var(--shadow) h s l / 0.4);
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  border-radius: 8px;
  transition: all 0.1s ease-in;
}
.contentB-btn:hover {
  border: 1px solid var(--primary-bg-hover);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.contentB-btn.selectoractive {
  opacity: 0;
  transition: all 0.3s ease;
}
.contentB-btn.selectorinactive {
  opacity: 1;
  transition: all 0.3s ease;
}
.contentB-text {
  font-size: var(--Fs-Content-small);
}
.contentB-toggle {
  display: flex;
  width: calc(var(--toggle-width) * 1.5 + 10px);
  margin-left: calc(var(--toggle-width) * -0.5);
}
.contentB-btn.selectoractive {
  opacity: 0.5;
  transform: translateY(var(--selector-min-height));
  transition: all 0.1s ease-in;
}
.contentB-btn.selectorinactive {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-in;
}
@media only screen and (min-width: 971px) and (max-width: 1200px) {
  * {
    --selector-height-padding: 6px;
    --charinfo-icon-imgsize: 40px;
    --selector-icons-gap: 8px;
  }
}
@media only screen and (max-width: 970px) {
  * {
    --selector-height-padding: 6px;
    --charinfo-icon-imgsize: 40px;
    --selector-icons-row-amount: 2;
    --selector-icons-gap: 5px;
  }
}
@media only screen and (max-width: 800px) {
  * {
    --contentB-btn-padding: 5px;
  }
}
@media only screen and (max-width: 570px) {
  * {
    --selector-icons-row-amount: 3;
  }
}
/* 
|| -----------------------------------------
|| CHARACTER CARDS -> CARD CONTENT
|| -----------------------------------------
*/
.charcard-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: var(--card-content-gap);
}
.charcard-content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--card-content-gap);
}
.charcard-contentA {
  display: flex;
  flex-direction: row;
  gap: var(--card-content-gap);
}
.charcard-contentA1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: var(--card-contentA-width);
  gap: var(--card-content-gap);
}
.charcardPFP {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: hsl(from var(--glow) h s l / 0.5);
  border: 1px solid var(--glow);
  border-radius: 8px;
}
.charcard-contentA2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: var(--card-contentA-width);
  padding-top: var(--landing-padding);
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  border-radius: 8px;
  overflow: hidden;
}
.charcardName {
  font-family: var(--font-heading);
  font-size: var(--fs-md);
  font-weight: 500;
  text-align: center;
}
.charcardAltName {
  font-family: var(--font-accent);
  font-size: var(--fs-sm);
  text-align: center;
  color: hsl(from var(--primary-content) h s l / 0.8);
}
.charcard-contentA2 .charcardValue {
  font-weight: 600;
}
.charcardProp {
  font-size: var(--fs--2);
  color: hsl(from var(--primary-content) h s l / 0.8);
  font-style: italic;
  font-weight: 300;
  line-height: var(--fluid-15-25);
}
.charcard-art-preview-content-wrapper .charcardProp {
  font-style: initial;
  font-weight: 500;
}
.charcard-contentA2-list {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.charcard-contentA2-list.pronouns {
  margin-bottom: var(--landing-padding3);
}
.charcard-contentA2-list.pronouns .charcardProp {
  margin-bottom: initial;
}
.charcard-contentA2 .charcardProp {
  margin-bottom: calc(-1 * var(--landing-padding2));
}
.charcardValue.Female {
  color: var(--gender-female);
}
.charcardValue.Male {
  color: var(--gender-male);
}
.charcardValue.Genderless {
  color: var(--gender-genderless);
}
.charcardValue.Unknown {
  color: var(--gender-unknown);
}
.charcardValue.pronouns {
  display: flex;
  gap: var(--landing-padding3);
}
.pronoun-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--attribute-badge-width);
  height: var(--attribute-badge-height);
  padding: var(--landing-padding4) var(--landing-padding2);
  font-family: var(--font-layout);
  font-size: var(--fs--2);
  background-color: var(--primary-bg);
  color: var(--primary-content);
  box-shadow: 0 2px 2px color-mix(in srgb, var(--primary-bg) 50%, transparent);
  border-radius: 6px;
  background-color: hsl(from var(--glow) h s l / 0.2);
  border: 1px solid var(--glow);
}
.charcard-contentA2-list.WH {
  display: flex;
  flex-direction: row;
  gap: var(--landing-padding);
}
.charcardAttributes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(2 * var(--attribute-badge-height) + 3 * var(--landing-padding3));
  padding: var(--landing-padding3) 0;
  gap: var(--landing-padding3);
}
.charcard-contentA2-list.attributes {
  border-radius: 6px;
  border-top: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
}
.charcard-contentB {
  white-space: pre-line;
  padding: var(--landing-padding2);
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  border-radius: 8px;
}
.charcard-desc-list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: var(--landing-padding) var(--landing-padding2);
  border-radius: 4px;
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  border-left: 4px solid var(--primary-bg-hover);
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
  gap: var(--landing-padding2);
  text-align: left;
  width: 100%;
  width: calc(100% - 3 * var(--landing-padding2));
}
.charcard-desc-list .charcardProp {
  font-size: var(--fs-1);
  font-style: initial;
  font-weight: 600;
}
.charcard-desc-list p {
  text-indent: 0;
  margin-bottom: initial;
}
.charcard-desc-list:hover {
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
  border: 1px solid hsl(from var(--glow) h s l / 0.2);
  border-left: 4px solid var(--glow);
}
.charcard-desc-list:hover .charcardProp {
  color: var(--primary-content-hover);
}
.charcardpersonality {
  display: flex;
}
.charcardpersonality-label {
  min-width: 70px;
  text-align: left;
}
.charcardpersonality-colon {
  margin: 0 6px;
}
.charcardpersonality-value {
  flex: 1;
  text-align: left;
}
/* 
|| -----------------------------------------
|| CARD CONTENT -> CARD TABS
|| -----------------------------------------
*/
.charcard-tab-wrapper {
  z-index: var(--charcard-tab-z-index);
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
  border-top: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  border-left: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
}
.charcard-tab {
  cursor: pointer;
  width: var(--tab-width);
  height: var(--tab-height);
  font-size: var(--fs--2);
  font-weight: bold;
  text-align: center;
  line-height: var(--fluid-20-25);
  border-bottom: 2px solid transparent;
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
}
.charcard-tab:hover,
.charcard-tab.active {
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
}
/* 
|| -----------------------------------------
|| CARD CONTENT -> EXTRA CONTENTS
|| -----------------------------------------
*/
.charcard-extra {
  opacity: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  color: inherit;
  gap: var(--landing-padding3);
  scrollbar-gutter: stable;
}
.charcard-extra.artworks {
  border-radius: 4px;
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
}
.charcard-extra-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--charcard-pfp-size);
}
.charcard-move-list {
  margin-left: var(--landing-padding);
}
.charcard-move-name {
  font-weight: bold;
}
.charcard-artworkselections {
  display: flex;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: center;
  width: calc(100% - 2 * var(--landing-padding2));
  justify-content: center;
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
  padding: var(--landing-padding2);
  border-bottom: 0.1rem solid var(--primary-bg-hover);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.charcard-artworkselections .charcard-tab-wrapper {
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  border-radius: 4px;
  position: initial;
}
.charcard-artworkselections .charcard-tab {
  --tab-width: calc(4 * var(--tab-height));
}
.charcard-artworks {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: var(--fluid-2-5);
}
.charcard-artworks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.charcard-artworks img {
  height: calc(var(--card-contentA-width) * 0.7);
  height: var(--fluid-80-125);
  margin: auto;
  object-fit: cover;
  border-radius: 12px;
}
.charcard-art-thumb {
  cursor: pointer;
  border: 1px solid transparent;
}
.charcard-art-thumb:hover {
  border: 1px solid var(--primary-bg-hover);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
  transform: scale(1.05);
}
.charcard-art-preview-overlay {
  z-index: var(--charcard-art-preview-z-index);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: hsl(from var(--glow) h s l / 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.charcard-art-preview-content {
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  gap: 10px;
  text-align: center;
  border-radius: 16px;
  background-color: hsl(from var(--primary-bg) h s l / 0.9);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.5);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.charcard-art-preview-content img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}
.charcard-art-preview-content-wrapper .charcardValue {
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: var(--primary-content);
}
.charcard-close-btn {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  font-size: 1.5rem;
}
.charcard-close-btn:hover {
  transform: scale(0.8);
  font-style: initial;
}
/* @media only screen and (min-width: 801px) and (max-width: 1550px) {
  .charcard-artworks img {
    height: 150px;
  }
}
@media only screen and (max-width: 800px) {
  .charcard-art-preview-content {
    gap: 0;
    padding-bottom: 5px;
  }
  .charcard-art-preview-content-wrapper .charcardProp {
    line-height: 1.8rem;
    margin-bottom: -4px;
  }
  .charcard-art-preview-content-wrapper .charcardValue {
    line-height: 1.2em;
    margin-bottom: 1px;
  }
  .charcard-artworks img {
    height: 80px;
  }
} */
