* {
  --sidebar-width: var(--fluid-380-500);
  --sidebar-btn-width: var(--fluid-25-50);

  --hero-width: var(--fluid-150-200);
  --hero-height: var(--fluid-50-60);

  --hero-thumbnail-height: var(--fluid-35-50);
  --thumbnail-height: var(--fluid-80-200);
}
.gallerybg {
  width: 100%;
  margin: auto;
  padding: 0px 0 50px 0;
  background-color: hsl(from var(--secondary-bg) h s l / 0.8);
}
.project-showcase {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin: var(--charcard-wrapper-gap);
  gap: var(--charcard-wrapper-gap);
  color: var(--primary-content);
}
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-bg);
  padding: 1rem 0;
}
.project-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: var(--hero-width);
  border-radius: 8px;
  color: var(--primary-content);
  border: 1px solid hsl(from var(--primary-bg-hover) h s l / 0.2);
  box-shadow: 0 0 10px 1px hsl(from var(--shadow) h s l / 0.2);
}
.hero-section:hover {
  border: 1px solid var(--primary-bg-hover);
  background-color: hsl(from var(--primary-bg-hover) h s l / 0.3);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.herolabel {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: var(--hero-height);
  padding: var(--selector-icons-gap) calc(var(--selector-icons-gap) * 1.2);
  font-size: var(--fs-0);
  text-align: center;
  font-family: var(--font-main);
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
  line-height: 1.5rem;
}
.hero-thumbnail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
}
.hero-thumbnail .art-thumbnail img {
  height: var(--hero-thumbnail-height);
}
.art-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.art-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}
.art-thumbnail:hover {
  border: 1px solid var(--primary-bg-hover);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
  transform: scale(1.05);
}
.art-thumbnail img {
  max-width: 90vw;
  height: var(--thumbnail-height);
  margin: auto;
  object-fit: cover;
}
.gallery-sidebar {
  z-index: var(--gallery-sidebar-z-index);
  display: flex;
  position: fixed;
  top: var(--navbar-height-primary);
  height: calc(100vh - var(--navbar-height-primary));
  width: var(--sidebar-width);
  margin-left: calc(
    (
        var(--sidebar-width) - var(--sidebar-btn-width) -
          var(--landing-padding2) * 2
      ) *
      -1
  );
  transition: transform 0.2s ease;
}
.gallery-sidebar.is-closed {
  transform: translateX(0);
}
.gallery-sidebar.is-open {
  transform: translateX(
    calc((var(--sidebar-width) - var(--sidebar-btn-width)))
  );
}
.cover.is-open {
  z-index: var(--gallery-sidebar-z-index);
  display: flex;
  position: fixed;
  width: calc(100% - var(--sidebar-width) - var(--landing-padding2) * 3);
  right: 0;
  height: 100vh;
  /* background: linear-gradient(
    to right,
    hsl(from var(--primary-bg-hover) h s l / 0.4),
    hsl(from var(--primary-bg-hover) h s l / 0.2)
  ); */
  background-color: hsl(from var(--primary-bg-hover) h s l / 0.3);
  border-left: 3px dashed var(--primary-bg-hover);
  transition: all 0.3s ease;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.gallery-sidebar-body {
  overflow-y: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  width: calc(100% - var(--sidebar-btn-width) - var(--landing-padding) * 2);
  height: calc(100% - var(--navbar-height-primary));
  margin-top: auto;
  margin-bottom: auto;
  margin-left: calc(-1 * var(--landing-padding));
  padding: var(--fluid-10-15);
  background-color: hsl(from var(--primary-bg) h s l / 0.7);
  box-shadow: 0 0 10px 5px hsl(from var(--secondary-bg) h s l / 0.9);
  border-radius: var(--button-border-radius);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.gallery-sidebar-body:hover {
  background-color: hsl(from var(--primary-bg) h s l / 0.9);
}
.gallery-sidebar-btn {
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 25px);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  cursor: pointer;
  background-color: hsl(from var(--primary-bg) h s l / 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  color: var(--primary-content);
  border: 1px solid var(--primary-content);
  border-radius: 8px;
  box-shadow: 0 8px 12px hsl(from var(--primary-content) h s l / 0.2);
}
.gallery-sidebar-btn-open,
.gallery-sidebar-btn-close {
  display: flex;
  width: var(--sidebar-btn-width);
  padding: 0 var(--fluid-2-3);
}
.gallery-sidebar-btn.is-open {
  opacity: 0.8;
  background-color: hsl(from var(--primary-bg-hover) h s l / 0.5);
  color: var(--primary-content-hover);
  border: 1px solid var(--primary-content-hover);
  box-shadow: 0 8px 12px hsl(from var(--primary-content-hover) h s l / 0.5);
}
.gallery-sidebar-btn:hover {
  opacity: 1;
  background-color: hsl(from var(--primary-bg-hover) h s l / 0.5);
  color: var(--primary-content-hover);
  border: 1px solid var(--primary-content-hover);
  box-shadow: 0 8px 12px hsl(from var(--primary-content-hover) h s l / 0.5);
}
.gallery-sidebar-btn-open {
  --svg-primary: var(--primary-content);
  --svg-secondary: var(--primary-bg);
}
.gallery-sidebar-btn-close {
  --svg-primary: var(--primary-bg);
  --svg-secondary: var(--primary-content);
}
.gallery-sidebar-btn-open:hover {
  --svg-primary: var(--primary-content);
  --svg-secondary: var(--primary-bg);
}
.gallery-sidebar-btn-close:hover {
  --svg-primary: var(--primary-content);
  --svg-secondary: var(--primary-bg);
}
