.gallerybg {
  width: 100%;
  margin: auto;
  padding: 0px 0 50px 0;
  background-color: hsl(from var(--bg-secondary) h s l / 0.8);
}
.project-showcase {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin: var(--charcard-wrapper-gap);
  gap: var(--charcard-wrapper-gap);
  color: var(--text-on-primary);
}
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-primary);
  padding: 1rem 0;
  border-radius: 8px;
}
.project-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 10rem;
  border-radius: 8px;
}
.hero-section:hover {
  background-color: hsl(from var(--text-on-brand) h s l / 0.3);
  box-shadow: 0 0 10px 5px hsl(from var(--text-on-brand) h s l / 0.3);
}
.herolabel {
  margin: 0;
  padding: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  background-color: hsl(from var(--bg-secondary) h s l / 0.8);
  font-weight: bold;
  font-size: var(--fs-base);
  font-family: var(--font-main);
  color: var(--text-on-primary);
  text-decoration: none;
}
.herolabel.ontheside {
  height: initial;
  align-items: center;
  font-size: var(--fs-sm);
}
.hero-thumbnail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
  background-color: hsl(from var(--bg-brand) h s l / 0.5);
}
.hero-thumbnail .art-thumbnail img {
  height: 3rem;
}
.hero-thumbnail.ontheside .art-thumbnail img {
  height: 2rem;
}
.art-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.art-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.1s ease;
}
.art-thumbnail:hover {
  border: 1px solid var(--text-on-brand);
  box-shadow: 0 0 15px 5px
    color-mix(in srgb, var(--text-on-brand) 50%, transparent);
  transform: scale(1.05);
}
.art-thumbnail img {
  max-width: 90vw;
  height: 200px;
  margin: auto;
  object-fit: cover;
}
.gallery-sidebar {
  z-index: var(--gallery-sidebar-z-index);
  display: flex;
  position: fixed;
  height: calc(100vh - var(--navbar-height-primary));
  --sidebar-width: 25rem;
  width: var(--sidebar-width);
  margin-left: calc((var(--sidebar-width) - 62px - 5px) * -1);
}
.gallery-sidebar.is-closed {
  transform: translateX(0);
}
.gallery-sidebar.is-open {
  transition: opacity 0.5s ease;
  transform: translateX(calc((var(--sidebar-width) - 62px + 5px)));
}
.cover.is-open {
  z-index: var(--gallery-sidebar-z-index);
  display: flex;
  position: fixed;
  width: calc(100vw - 25rem - 20px);
  right: 0;
  height: 100vh;
  background: linear-gradient(
    to right,
    hsl(from var(--bg-secondary) h s l / 0.3),
    hsl(from var(--bg-secondary) h s l / 0.8)
  );
  border-left: 5px double var(--bg-secondary);
  /* pointer-events: none; */
}
.gallery-sidebar-body {
  overflow-y: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  width: calc(100% - 62px - 2.5px);
  height: calc(100% - 52.5px);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -5px;
  padding: 15px 0;
  background-color: hsl(from var(--bg-primary) h s l / 0.9);
  box-shadow: 0 0 10px 5px hsl(from var(--bg-secondary) h s l / 0.9);
  border-radius: var(--button-border-radius);
}
.gallery-sidebar-btn {
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 25px);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: var(--bg-primary);
  color: var(--text-on-primary);
  border: var(--button-border-primary);
  border-radius: var(--button-border-radius);
  cursor: pointer;
}
.gallery-sidebar-btn-open,
.gallery-sidebar-btn-close {
  display: flex;
  width: 50px;
  padding: 0 5px;
}
.gallery-sidebar-btn.is-open {
  opacity: 0.8;
  background-color: var(--button-bg-hover);
  color: var(--button-text-hover);
  border: var(--button-border-hover);
  box-shadow: var(--button-shadow-hover);
}
.gallery-sidebar-btn:hover {
  opacity: 1;
  background-color: var(--button-bg-hover);
  color: var(--button-text-hover);
  border: var(--button-border-hover);
  box-shadow: var(--button-shadow-hover);
}
.gallery-sidebar-btn-open {
  --svg-primary: var(--text-dimmed-on-primary);
  --svg-secondary: var(--bg-primary);
}
.gallery-sidebar-btn-close {
  --svg-primary: var(--bg-primary);
  --svg-secondary: var(--text-dimmed-on-primary);
}
.gallery-sidebar-btn-open:hover {
  --svg-primary: var(--text-on-primary);
  --svg-secondary: var(--bg-primary);
}
.gallery-sidebar-btn-close:hover {
  --svg-primary: var(--text-on-primary);
  --svg-secondary: var(--bg-primary);
}
@media only screen and (max-width: 800px) {
  .gallery-sidebar {
    --sidebar-width: 14rem;
  }
  .gallery-sidebar-body {
    width: calc(100% - 25px - 7.5px);
    height: calc(100% - 40px);
  }
  .gallery-sidebar-btn {
    height: calc(100% - 10px);
  }
  .gallery-sidebar-btn-open,
  .gallery-sidebar-btn-close {
    display: flex;
    width: 25px;
    padding: 0 2.5px;
  }
  .cover.is-open {
    width: calc(100vw - 14rem - 20px);
  }
}
