.introduction {
  display: flex;
  justify-content: center;
  height: calc(100vh - 65px);
  background-size: cover;
  background-position-x: center;
  transition: all 0.1s ease;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary);
}
.welcomewrapper {
  justify-content: center;
  background-size: cover;
  background-position-x: center;
  width: 50%;
  height: auto;
  aspect-ratio: 3/2;
  transition: all 0.1s ease;
  background-image: var(--homepage-welcome-img);
}
.welcometextwrap {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.welcometitle {
  padding-bottom: 15px;
  color: var(--text-on-brand);
}
.shortintro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(var(--bg-secondary), var(--bg-primary));
}
.shortintro1 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
  width: 705px;
}
.smallintro1 {
  width: 235px;
}
.shortintro2 {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: right;
  padding-bottom: 15px;
  width: 705px;
}
.shortintro3 {
  display: flex;
  height: 100px;
  text-align: center;
  align-items: center;
  width: 705px;
}

.commsect {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: var(--bg-primary);
}
.commsectbanner {
  width: 1065px;
  height: auto;
  aspect-ratio: 3/1;
  border-radius: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--homepage-commsect-img);
}
.commsectitem {
  padding-top: 25px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.1s ease;
  max-width: 90vw;
}
.commsectitemcard {
  width: 325px;
  height: 355px;
  display: flex;
  flex-direction: column;
  border-style: dashed;
  border-width: 2px;
  border-radius: 15px;
  padding: 15px;
  border-color: var(--text-on-primary);
}
.commsectitemtitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--text-on-brand);
}
.commsectitemtext {
  text-align: center;
  white-space: pre-line;
}
.commsectlearnmore {
  text-align: center;
  margin-top: auto;
  padding-bottom: 12px;
  color: var(--text-on-brand);
}
@media only screen and (max-width: 500px) {
  .welcomewrapper {
    margin-top: 60px;
  }
  .welcometextwrap {
    position: relative;
    top: -35px;
    padding-top: 0px;
    transition: all 0.1s ease;
  }
}
@media only screen and (max-width: 800px) {
  .introduction {
    height: calc(100vh - 65px);
  }
  .welcomewrapper {
    width: 100%;
  }

  .shortintro {
    padding-bottom: 15px;
  }
  .shortintro1 {
    width: 80%;
    text-align: center;
    flex-direction: column;
  }
  .shortintro2 {
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
    flex-direction: column;
  }
  .shortintro3 {
    width: 80%;
    height: auto;
  }
  .smallintro1,
  .smallintro2 {
    display: none;
  }

  .commsect {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .commsectitem {
    gap: 15px;
  }
  .commsectbanner {
    width: 90%;
    aspect-ratio: 600/525;
    background-image: var(--homepage-commsect-img-m);
  }
  .commsectitemcard {
    width: 250px;
    height: 280px;
    padding: 10px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .welcomewrapper {
    width: 100%;
  }

  .shortintro {
    padding-bottom: 15px;
  }
  .shortintro1 {
    width: 550px;
  }
  .shortintro2 {
    width: 550px;
  }
  .shortintro3 {
    width: 550px;
  }

  .commsect {
    padding-top: 15px;
  }
  .commsectitem {
    gap: 20px;
  }
  .commsectbanner {
    width: 80vw;
  }
  .commsectitemcard {
    width: 300px;
    height: 350px;
  }
}
/* 
|| -----------------------------------------
|| HOMEPAGE -> HPheader
|| -----------------------------------------
*/
.HPheader {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
  color: var(--primary-content);
  padding-top: var(--fluid-20-30);
  padding-bottom: var(--fluid-10-15);
}
.HPheader-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--landing-padding);
  padding: var(--landing-padding2) var(--landing-padding);
}
.HPheader-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--landing-padding);
  padding: var(--landing-padding2) var(--landing-padding);
  border-radius: 8px;
  border-left: 1px solid hsl(from var(--primary-content) h s l / 0.5);
  border-right: 1px solid hsl(from var(--primary-content) h s l / 0.5);
}
.HPheader-size-gender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HPheader-size-favpkmn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HPheader-size-favpkmn-list {
  display: flex;
  flex-direction: row;
  gap: var(--landing-padding3);
}
.HPheader-size-favpkmn-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: var(--fluid-25-30);
  height: var(--fluid-25-30);
}
.HPheader-size-favpkmn-icon img {
  border-radius: 12px;
  width: var(--fluid-25-30);
  transition: all 0.1s ease;
}
.HPheader-size-favpkmn-icon:hover img {
  transform: scale(1.2);
}
.HPheader-size-favpkmn-icon:active img {
  transform: scale(1.1);
}
.HPheader-size-favpkmn-name {
  position: relative;
  top: var(--landing-padding4);
  display: none;
  transition: all 0.1s ease;
}
.HPheader-size-favpkmn-icon:hover .HPheader-size-favpkmn-name {
  display: block;
}
.HPheader-size-favpkmn-icon:active .HPheader-size-favpkmn-name {
  display: block;
  transform: scale(0.9);
}
.HPheader-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: max(50%, 300px);
}
.HPheader-main h3 {
  margin-bottom: var(--landing-padding);
}
.HPheader-main p {
  margin-bottom: var(--landing-padding);
}
.HPheader-size-gender {
  color: var(--gender-female);
}
.HPheader-tail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--landing-padding);
  padding: var(--landing-padding2) var(--landing-padding);
}
.follow-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--landing-padding);
  padding: var(--landing-padding2) var(--landing-padding);
}
.follow-me-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "SeavalancheFont";
  font-size: var(--sffs-1);
  color: var(--primary-content);
  letter-spacing: 1px;
  text-decoration: none;
}
.follow-me-link-icon {
  background-size: cover;
  width: var(--fluid-35-50);
  height: var(--fluid-35-50);
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  --svg-0: var(--primary-bg);
  --svg-1: var(--primary-content);
  --svg-2: var(--primary-bg);
  transition: all 0.1s ease;
}
.follow-me-link-icon:hover {
  --svg-0: var(--primary-content);
  --svg-1: var(--primary-bg);
  --svg-2: var(--primary-content);
}
.follow-me-link-name {
}
/* 
|| -----------------------------------------
|| HOMEPAGE -> HPcarousel
|| -----------------------------------------
*/
.HPcarousel {
  position: relative;
  width: 100%;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 20px 5px color-mix(in srgb, var(--shadow) 60%, transparent);
}
.HPcarousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
  left: 10%;
  transform: scale(1.2) translateX(-2%);
  transition:
    opacity 2s ease,
    transform 25s;
}
/* Active fade in */
.HPcarousel-slide.active {
  opacity: 1;
}
/* Drift effect applied while visible */
.HPcarousel-slide.drift {
  transition:
    opacity 1s ease-in-out,
    transform 12s linear;
  transform: scale(1.2) translateX(-10%);
}
/* Indicators */
.HPcarousel-indicators {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 2;
  background: linear-gradient(
    to right,
    transparent 0%,
    hsl(from var(--primary-bg) h s l / 0.4) 15%,
    hsl(from var(--primary-bg) h s l / 0.6) 30%,
    hsl(from var(--primary-bg) h s l / 0.7) 50%,
    hsl(from var(--primary-bg) h s l / 0.6) 70%,
    hsl(from var(--primary-bg) h s l / 0.5) 85%,
    transparent 100%
  );
}
.HPcarousel-indicators:hover {
  background: linear-gradient(
    to right,
    transparent 0%,
    hsl(from var(--primary-bg) h s l / 0.6) 15%,
    hsl(from var(--primary-bg) h s l / 0.8) 30%,
    hsl(from var(--primary-bg) h s l / 0.9) 50%,
    hsl(from var(--primary-bg) h s l / 0.8) 70%,
    hsl(from var(--primary-bg) h s l / 0.6) 85%,
    transparent 100%
  );
}
.HPcarousel-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--landing-padding2);
  padding: var(--landing-padding2) var(--landing-padding);
  line-height: 1.2;
  color: var(--primary-content);
  paint-order: stroke fill;
}
.HPcarousel-info:hover {
  text-shadow: 0 0 10px hsl(from var(--glow) h s l / 0.5);
}
.HPcarousel-info p {
  margin-bottom: initial;
}
.HPcarousel-prev,
.HPcarousel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 64px;
  background-color: hsl(from var(--primary-bg) h s l / 0.2);
  color: var(--primary-content);
  font-size: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s ease;
}
.HPcarousel-prev {
  left: 0;
}
.HPcarousel-next {
  right: 0;
}
.HPcarousel:hover .HPcarousel-btn {
  opacity: 1;
}
.HPcarousel-dot {
  display: inline-block;
  width: 36px;
  height: 8px;
  margin: 0 6px;
  background-color: hsl(from var(--primary-content) h s l / 0.2);
  border: 1px solid transparent;
  border-radius: 20%;
  cursor: pointer;
  transition: all 0.1s ease;
}
.HPcarousel-dot.active {
  background-color: var(--primary-content);
  transform: scale(1.1) scaleY(1.5);
}
.HPcarousel-dot:hover {
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-content);
  box-shadow: 0 0 4px 2px color-mix(in srgb, var(--glow) 50%, transparent);
  transform: scale(1.3) scaleY(2);
}
@media only screen and (max-width: 500px) {
  .HPcarousel-prev,
  .HPcarousel-next {
    width: 24px;
    font-size: 2rem;
  }
  .HPcarousel-dot {
    width: 12px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  .HPcarousel-prev,
  .HPcarousel-next {
    width: 36px;
  }
  .HPcarousel-dot {
    width: 24px;
  }
}
