.aboutchar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  padding: 0 10vw;
  background-color: var(--bg-color-3);
  font-family: var(--F-Default);
  font-size: var(--Fs-Content);
  color: var(--navtext-a);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
.aboutchar:hover {
  color: var(--C-Vesnea_white);
  text-shadow: 0 2px 5px
    color-mix(in srgb, var(--C-Vesnea_Pink) 50%, transparent);
  transform: scale(1, 1.02);
}
/* >>> CharInfo.js */
.charinfobg {
  width: 100%;
  margin: auto;
  padding: 0px 0 50px 0;
}

/* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */
* {
  --selector-min-height: 80px;
}
.character-selector-wrapper {
  z-index: 5;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  gap: 5px;
  transition: all 0.1s ease-in;
}
.character-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--selector-min-height);
  gap: 10px;
  background: var(--charcard-bg);
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--C-Vesnea_Purple) 30%, transparent);
}
.character-selector:hover {
  transition: all 0.1s ease-in;
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
}
/* .character-selector.hidden {
  transition: opacity 0.5s ease;
  pointer-events: none;
  opacity: 0;
} */
.character-selector.selectoractive {
  opacity: 1;
}
.character-selector-wrapper.selectorinactive {
  opacity: 0.5;
  margin-top: calc(-1 * var(--selector-min-height));
  margin-bottom: var(--selector-min-height);
  transform: translateY(var(--selector-min-height));
  transition: all 0.1s ease-in;
}
.character-selector-btn {
  opacity: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 25px;
  background-color: var(--button-background);
  color: var(--charcard-text-value);
  border: 1px solid transparent;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--C-Vesnea_Purple) 30%, transparent);
}
.character-selector-btn:hover {
  background-color: var(--button-background-active);
  color: var(--charcard-bg);
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: all 0.1s ease-in;
}
.character-selector-btntext.selectoractive {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.character-selector-btntext.selectorinactive {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}
.charinfo-icon {
  width: 54px;
  height: 54px;
}
.charinfo-icon img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: transform 0.1s ease;
  background: var(--charcard-PFPbg);
  border: 2px solid var(--charcard-PFPborder);
  border-radius: 50%;
}
.charinfo-icon img:hover {
  transform: scale(1.2);
}
.contentB-btn {
  z-index: 5;
  opacity: 1;
  cursor: pointer;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  bottom: 20px;
  width: fit-content;
  padding: 10px;
  background-color: color-mix(
    in srgb,
    var(--button-background) 50%,
    transparent
  );
  color: var(--charcard-text-value);
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--C-Vesnea_Purple) 30%, transparent);
}
.contentB-btn:hover {
  background-color: color-mix(
    in srgb,
    var(--button-background-active) 50%,
    transparent
  );
  color: var(--charcard-bg);
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: all 0.1s ease-in;
}
.contentB-btn.selectoractive {
  opacity: 0;
  transition: all 0.3s ease;
}
.contentB-btn.selectorinactive {
  opacity: 1;
  transition: all 0.3s ease;
}
.contentB-text {
  font-size: var(--Fs-Content-small);
}
.contentB-toggle {
  width: calc(var(--toggle-width) * 1.5 + 10px);
  margin-left: calc(var(--toggle-width) * -0.5);
}
.contentB-btn.selectoractive {
  opacity: 0.5;
  transform: translateY(var(--selector-min-height));
  transition: all 0.1s ease-in;
}
.contentB-btn.selectorinactive {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-in;
}
* {
  --toggle-color-active: var(--button-background-active);
  --toggle-color-inactive: var(--button-background);
  --toggle-color-switch: var(--C-Vesnea_white);
  --toggle-color-disabled: #ddd;

  --toggle-height: 30px;
  --toggle-ratio: 1.8;
  --toggle-border-radius: 4px;
  --toggle-width: calc(var(--toggle-height) * var(--toggle-ratio));
  --toggle-switch-size: calc(var(--toggle-height) * 24 / 34);
  --toggle-switch-margin: calc(var(--toggle-height) * 5 / 34);
}
.toggle-switch {
  user-select: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  left: calc(var(--toggle-width) * 2 / 3);
  width: var(--toggle-width);
  text-align: left;
}
.toggle-switch-checkbox {
  display: none;
}
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  border-radius: var(--toggle-border-radius);
}
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: all 0.1s ease;
}
.toggle-switch-inner:before,
.toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: var(--toggle-height);
  box-sizing: border-box;
  content: "";
}
.toggle-switch-inner:before {
  background-color: var(--toggle-color-active);
}
.toggle-switch-inner:after {
  background-color: var(--toggle-color-inactive);
}
.toggle-switch-switch {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: calc(
    var(--toggle-width) - var(--toggle-switch-size) -
      var(--toggle-switch-margin) * 2
  );
  width: var(--toggle-switch-size);
  margin: var(--toggle-switch-margin);
  background: var(--toggle-color-switch);
  border: 0 solid var(--toggle-color-inactive);
  border-radius: var(--toggle-border-radius);
  transition: all 0.1s ease;
}
.toggle-switch-disabled {
  cursor: not-allowed;
  background-color: var(--toggle-color-disabled);
}
.toggle-switch-disabled:before {
  cursor: not-allowed;
  background-color: var(--toggle-color-disabled);
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}
/* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */
/* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */
.charinfowrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin: 20px;
  gap: 30px;
  color: var(--charcard-text-value);
}
.charinfowrapper.contentBinactive .charcard-content-main {
  margin-bottom: 15px;
}
.charinfowrapper.contentBinactive .charcard-contentB {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .charinfowrapper {
    max-width: 90vw;
  }
}

/* >>> CharacterCard.js */
.character-card {
  position: relative;
  padding: 20px;
  background: var(--charcard-bg);
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.character-card:hover {
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: all 0.1s ease-in;
}
.character-card.preview-open {
  transform: none !important;
  transition: none !important;
}
@media only screen and (max-width: 800px) {
  .character-card {
    max-width: calc(900px - 5.5px);
    width: 70vw;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .character-card {
    max-width: calc(900px - 5.5px);
    width: 80vw;
  }
}
/* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */
/* CHARCARD CONTENT */ /* CHARCARD CONTENT */ /* CHARCARD CONTENT */ /* CHARCARD CONTENT */
.charcard-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.charcard-content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.charcard-contentA {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.charcard-contentA1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.charcardPFP {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 244.5px;
  height: 244.5px;
  margin-bottom: 10px;
  background: var(--charcard-PFPbg);
  border: 3px solid var(--charcard-PFPborder);
  border-radius: 35px;
}
.charcard-contentA2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px;
  background-color: hsl(from var(--bg-color-3) h s l / 0.5);
  border-radius: 8px;
}
[data-theme="star"] .charcard-contentA2 {
  background-color: hsl(from var(--C-Uzakon_Purple) h s l / 0.1);
}
.charcardName {
  font-family: var(--F-CharCard);
  font-size: var(--Fs-Title);
  color: var(--charcard-text-name);
}
.charcardAltName {
  font-family: var(--F-CharCard);
  font-size: var(--Fs-Content-small);
  color: var(--charcard-text-altname);
}
.charcardProp {
  font-family: var(--F-Montserrat);
  font-size: var(--Fs-Content-small);
  color: var(--charcard-text-prop);
  font-style: italic;
}
.charcardValue {
  margin-bottom: 5px;
  font-family: var(--F-Default);
  font-size: var(--Fs-Content);
  color: var(--charcard-text-value);
}
.charcard-contentA2-WH {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.charcardAttributes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  gap: 8px;
}
.charcard-contentB {
  padding: 10px;
  width: 510px;
}
.charcard-contentB-bio {
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .charcard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .charcard-contentA {
    flex-direction: column;
    padding-bottom: 5px;
  }
  .charcard-contentA1 {
    margin-left: auto;
    margin-right: auto;
  }
  .charcardPFP {
    width: 30vw;
    height: 30vw;
    max-width: 244.5px;
    max-height: 244.5px;
    min-width: 150px;
    min-height: 150px;
    margin-bottom: 10px;
  }
  .charcard-contentB-bio {
    margin-top: 20px;
    text-align: left;
  }
}
/* CHARCARD CONTENT */ /* CHARCARD CONTENT */ /* CHARCARD CONTENT */ /* CHARCARD CONTENT */
/* CHARCARD TAB */ /* CHARCARD TAB */ /* CHARCARD TAB */ /* CHARCARD TAB */
.charcard-tab-wrapper {
  z-index: 4;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
}
.charcard-tab {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: hsl(from var(--bg-color-3) h s l / 0.5);
  color: var(--charcard-text-value);
  font-family: var(--F-Default);
  font-size: var(--Fs-Content-small);
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  transition: all 0.1s ease;
}
.charcard-tab:hover {
  background: var(--charcard-border);
  color: var(--charcard-bg);
  transform: translateY(0%) rotate(0deg) scale(1.05);
}
.charcard-tab.active {
  background: var(--charcard-active-tab);
  color: var(--charcard-active-tab-text);
  border-color: var(--charcard-active-tab-border);
  transform: translateY(0%) rotate(0deg) scale(1.05);
}
/* CHARCARD TAB */ /* CHARCARD TAB */ /* CHARCARD TAB */ /* CHARCARD TAB */
/* CHARCARD EXTRA */ /* CHARCARD EXTRA */ /* CHARCARD EXTRA */ /* CHARCARD EXTRA */
.charcard-extra {
  opacity: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60vw;
  max-height: 80vh;
  padding-top: 15px;
  transition: all 0.3s ease;
}
.charcard-extra .charcardValue {
  overflow: hidden;
}
.charcard-move-list {
  margin-bottom: 10px;
}
.charcard-move-name {
  color: var(--charcard-active-tab);
  font-weight: bold;
}
.charcard-artworks {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
}
.charcard-artworks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.charcard-artworks img {
  max-width: 90vw;
  height: 200px;
  margin: auto;
  object-fit: cover;
  border-radius: 12px;
}
.charcard-art-thumb {
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.1s ease-in;
}
.charcard-art-thumb:hover {
  transition: all 0.1s ease-in;
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 0 15px 5px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: all 0.1s ease-in;
}
.charcard-art-preview-overlay {
  z-index: 6;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background-color: color-mix(
    in srgb,
    var(--charcard-PFPbg) 15%,
    var(--C-SeaWeb_Dark_Purple2) 85%
  );
}
.charcard-art-preview-content {
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  gap: 10px;
  text-align: center;
  border-radius: 16px;
  background: var(--charcard-bg);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--C-SeaWeb_Dark_Purple) 25%, transparent);
}
.charcard-art-preview-content img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}
.charcard-art-preview-content-wrapper .charcardValue {
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}
.charcard-close-btn {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  width: 50px;
  height: 50px;
  background: none;
  color: var(--charcard-PFPborder);
  border: none;
  font-size: 1.5rem;
}
.charcard-close-btn:hover {
  transform: scale(1.03);
}
@media only screen and (max-width: 800px) {
  .character-card .charcard-content .charcard-extra {
    max-height: 5500px;
  }
  .character-card .charcard-content .charcard-extra {
    padding-top: 10px;
  }
  .charcard-move-list {
    margin-bottom: 5px;
  }
  .charcard-artworks {
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    column-gap: 15px;
    text-align: center;
  }
  .charcard-artworks-wrapper {
    width: 30vw;
  }
  .charcard-artworks img {
    width: 30vw;
    height: 30vw;
  }
}
/* CHARCARD EXTRA */ /* CHARCARD EXTRA */ /* CHARCARD EXTRA */ /* CHARCARD EXTRA */
