.aboutchar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  padding: 0 10vw;
  background-color: var(--bg-color-3);
  font-family: var(--F-Default);
  font-size: var(--Fs-Content);
  color: var(--navtext-a);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
.aboutchar:hover {
  color: var(--C-Vesnea_white);
  text-shadow: 0 2px 5px
    color-mix(in srgb, var(--C-Vesnea_Pink) 50%, transparent);
  transform: scale(1, 1.02);
}
/* >>> CharInfo.js */
.charinfobg {
  width: 100%;
  margin: auto;
  padding: 0px 0 50px 0;
}

/* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */
* {
  --selector-height-padding: 12px;
  --selector-min-height: calc(
    var(--charinfo-icon-totalsize) * var(--selector-icons-row-amount)
  );
  --selector-hiding-height: calc(
    var(--selector-min-height) + (1 + var(--selector-icons-row-amount)) *
      var(--selector-height-padding)
  );

  --selector-icons-row-amount: 1;
  --selector-icons-gap: 10px;
  --charinfo-icon-totalsize: calc(
    var(--charinfo-icon-imgsize) + 2 * var(--charinfo-icon-border)
  );
  --charinfo-icon-imgsize: 50px;
  --charinfo-icon-border: 2px;
  --charinfo-icon-hover-size: 1.2;

  --contentB-btn-padding: 10px;
}
/* .character-selector-cover {
  z-index: 6;
  position: absolute;
  display: flex;
  width: 100%;
  height: 200px;
  background: var(--charcard-bg);
}
@media only screen and (max-width: 800px) {
  .character-selector-cover {
    height: 260px;
  }
} */
.character-selector-wrapper {
  z-index: 5;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  gap: 5px;
  transition: all 0.1s ease-in;
}
.character-selector {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--selector-min-height);
  padding: var(--selector-height-padding) 0;
  padding-bottom: calc(
    var(--selector-height-padding) * var(--selector-icons-row-amount)
  );
  gap: var(--selector-icons-gap);
  background-color: hsl(from var(--bg-color-3) h s l / 0.5);
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--C-Vesnea_Purple) 30%, transparent);
  transition: all 0.1s ease-in;
}
.character-selector:hover {
  transition: all 0.1s ease-in;
  background-color: hsl(from var(--bg-color-3) h s l / 0.8);
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--C-SeaWeb_Dark_Purple) 80%, transparent);
}
[data-theme="light"] .character-selector:hover {
  background-color: hsl(from var(--bg-color-2) h s l / 0.8);
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--C-Vesnea_Purple) 50%, transparent);
}
.character-selector.selectoractive {
  opacity: 1;
}
.character-selector-wrapper.selectorinactive {
  opacity: 0.5;
  margin-top: calc(-1 * var(--selector-min-height));
  margin-bottom: var(--selector-min-height);
  transform: translateY(var(--selector-hiding-height));
  transition: all 0.1s ease-in;
}
.character-selector-btn {
  opacity: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--charinfo-icon-imgsize) * 6 / 5);
  height: calc(var(--charinfo-icon-imgsize) / 2);
  background-color: var(--button-background);
  color: var(--charcard-text-value);
  border: 1px solid transparent;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--C-Vesnea_Purple) 30%, transparent);
}
.character-selector-btn:hover {
  background-color: var(--button-background-active);
  color: var(--charcard-bg);
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: all 0.1s ease-in;
}
.character-selector-btntext.selectoractive {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.character-selector-btntext.selectorinactive {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}
.charinfo-icon {
  width: var(--charinfo-icon-totalsize);
  height: var(--charinfo-icon-totalsize);
}
.charinfo-icon img {
  cursor: pointer;
  width: var(--charinfo-icon-imgsize);
  height: var(--charinfo-icon-imgsize);
  object-fit: cover;
  transition: transform 0.1s ease;
  background: hsl(from var(--bg-color-3) h s l / 0.5);
  border: var(--charcard-pfp-border-size) solid transparent;
  border-radius: 50%;
}
.charinfo-icon img:hover {
  border: var(--charinfo-icon-border) solid var(--charcard-PFPborder);
  transform: scale(var(--charinfo-icon-hover-size));
  box-shadow: 0 0 8px 4px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
}
.contentB-btn {
  z-index: 5;
  opacity: 1;
  cursor: pointer;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(var(--contentB-btn-padding) * 2);
  bottom: calc(var(--contentB-btn-padding) * 2);
  width: fit-content;
  padding: var(--contentB-btn-padding);
  background-color: color-mix(
    in srgb,
    var(--button-background) 50%,
    transparent
  );
  color: var(--charcard-text-value);
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--C-Vesnea_Purple) 30%, transparent);
}
.contentB-btn:hover {
  background-color: color-mix(
    in srgb,
    var(--button-background-active) 50%,
    transparent
  );
  color: var(--charcard-bg);
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 0 30px 10px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: all 0.1s ease-in;
}
.contentB-btn.selectoractive {
  opacity: 0;
  transition: all 0.3s ease;
}
.contentB-btn.selectorinactive {
  opacity: 1;
  transition: all 0.3s ease;
}
.contentB-text {
  font-size: var(--Fs-Content-small);
}
.contentB-toggle {
  display: flex;
  width: calc(var(--toggle-width) * 1.5 + 10px);
  margin-left: calc(var(--toggle-width) * -0.5);
}
.contentB-btn.selectoractive {
  opacity: 0.5;
  transform: translateY(var(--selector-min-height));
  transition: all 0.1s ease-in;
}
.contentB-btn.selectorinactive {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-in;
}
@media only screen and (min-width: 971px) and (max-width: 1200px) {
  * {
    --selector-height-padding: 6px;
    --charinfo-icon-imgsize: 40px;
    --selector-icons-gap: 8px;
  }
}
@media only screen and (max-width: 970px) {
  * {
    --selector-height-padding: 6px;
    --charinfo-icon-imgsize: 40px;
    --selector-icons-row-amount: 2;
    --selector-icons-gap: 5px;
  }
  .character-selector {
    width: 80%;
    border-radius: 8px 8px 0 0;
  }
}
@media only screen and (max-width: 800px) {
  * {
    --contentB-btn-padding: 5px;
    --toggle-height: 25px;
  }
}
@media only screen and (max-width: 570px) {
  * {
    --selector-icons-row-amount: 3;
  }
}
/* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */ /* CHARACTER SELECTOR */
/* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */
* {
  --charcard-wrapper-gap: 20px;
  --charcard-card-padding: 20px;
}
.charinfowrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin: var(--charcard-wrapper-gap);
  gap: var(--charcard-wrapper-gap);
  color: var(--charcard-text-value);
}
.charinfowrapper.contentBinactive .charcard-content-main {
  margin-bottom: calc(
    var(--charcard-tab-height) / 2 + 20px - var(--charcard-card-padding)
  );
}
.charinfowrapper.contentBinactive .charcard-contentB {
  display: none;
}

/* >>> CharacterCard.js */
.character-card {
  position: relative;
  overflow: hidden;
  padding: var(--charcard-card-padding);
  background: var(--charcard-bg);
  border: 1px solid transparent;
  border-radius: 8px;
}
.character-card.opened {
  background-color: color-mix(
    in srgb,
    var(--C-Vesnea_Purple) 10%,
    var(--charcard-bg) 40%
  );
  box-shadow: 0 0 8px 4px
    color-mix(in srgb, var(--button-border2-active) 30%, transparent);
}
[data-theme="light"] .character-card.opened {
  background-color: color-mix(in srgb, var(--charcard-bg) 90%, transparent);
}
.character-card:hover {
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
}
.character-card.preview-open {
  transform: none !important;
  transition: none !important;
}
@media only screen and (max-width: 800px) {
  * {
    --charcard-wrapper-gap: 10px;
    --charcard-card-padding: 10px;
  }
}
/* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */ /* CHARCARD */
/* CHARCARD CONTENT */ /* CHARCARD CONTENT */ /* CHARCARD CONTENT */
* {
  --charcard-content-gap: 10px;
  --charcard-contentAB-totalwidth: calc(
    var(--charcard-contentA1-width)+var(--charcard-contentA2-width)+var(
        --charcard-contentB-width
      )
  );
  --charcard-contentA1-width: 250px;
  --charcard-contentA1-gap1: 0;
  --charcard-contentA1-gap2: 5px;
  --charcard-pfp-size: calc(
    var(--charcard-contentA1-width) - 2 * var(--charcard-pfp-border-size)
  );
  --charcard-pfp-radius: 35px;
  --charcard-pfp-border-size: 3px;
  --charcard-contentA2-width: calc(
    var(--charcard-contentA1-width) - var(--charcard-content-gap) * 2
  );
  --charcard-attribute-gap: calc(var(--charcard-contentA1-gap2) * 8 / 5);
  --charcard-contentB-width: calc(
    var(--charcard-contentA1-width) * 2 + var(--charcard-content-gap)
  );
  --charcard-contentB-height: var(--charcard-contentB-width);
}
.charcard-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(var(--charcard-content-gap) * 2);
}
.charcard-content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--charcard-content-gap);
}
.charcard-contentA {
  display: flex;
  flex-direction: row;
  gap: var(--charcard-content-gap);
}
.charcard-contentA1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--charcard-contentA1-width);
}
.charcardPFP {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--charcard-pfp-size);
  height: var(--charcard-pfp-size);
  margin-bottom: var(--charcard-content-gap);
  background: hsl(from var(--bg-color-3) h s l / 0.5);
  border: var(--charcard-pfp-border-size) solid transparent;
  border-radius: var(--charcard-pfp-radius);
}
.charcard-contentA2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: var(--charcard-contentA2-width);
  padding: var(--charcard-content-gap);
  background-color: hsl(from var(--bg-color-3) h s l / 0.5);
  border-radius: 8px;
}
[data-theme="star"] .charcard-contentA2 {
  background-color: hsl(from var(--C-Uzakon_Purple) h s l / 0.1);
}
.charcard-contentA2:hover {
  box-shadow: 0px 0px 10px hsl(from var(--bg-color-3) h s l / 0.5);
}
.charcardName {
  font-family: var(--F-CharCard);
  font-size: var(--Fs-Title);
  color: var(--charcard-text-name);
}
.charcardAltName {
  font-family: var(--F-CharCard);
  font-size: var(--Fs-Content-small);
  color: var(--charcard-text-altname);
  text-align: center;
}
.charcardProp {
  margin-bottom: var(--charcard-contentA1-gap1);
  font-family: var(--F-Montserrat);
  font-size: var(--Fs-Content-small);
  color: var(--charcard-text-prop);
  font-style: italic;
}
.charcardValue {
  margin-bottom: var(--charcard-contentA1-gap2);
  font-family: var(--F-Default);
  font-size: var(--Fs-Content);
  color: var(--charcard-text-value);
}
.charcardValue.Female {
  color: var(--attribute-sound);
  font-weight: 500;
}
.charcardValue.Male {
  color: hsl(
    from var(--attribute-water) calc(h + 5) calc(s + 15) calc(l + 15) / 1
  );
  font-weight: 500;
}
.charcardValue.Genderless {
  color: var(--attribute-wind);
  font-weight: 500;
}
[data-theme="light"] .charcardValue.Genderless {
  color: hsl(from var(--attribute-wind) h s calc(l - 20) / 1);
}
.charcardValue.NA {
  font-weight: 500;
}
.charcard-contentA2-WH {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.charcardAttributes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--attribute-height) * 2 + var(--charcard-attribute-gap) * 3);
  padding: var(--charcard-content-gap);
  padding-top: calc(var(--charcard-content-gap) / 2);
  gap: var(--charcard-attribute-gap);
  background-color: var(--bg-color-3);
}
.charcardProp.charcardAttributes {
  height: fit-content;
  padding: 0 var(--charcard-content-gap);
  margin-top: var(--charcard-content-gap);
}
[data-theme="light"] .charcardProp.charcardAttributes {
  color: var(--C-Uzakon_Purple);
}
.charcard-contentB {
  overflow: auto;
  width: var(--charcard-contentB-width);
  /* height: var(--charcard-contentB-height); */
  /* max-height: 80vh; */
  padding-bottom: calc(
    var(--charcard-tab-height) - var(--charcard-card-padding) +
      var(--charcard-content-gap)
  );
  white-space: pre-line;
}
.charcard-contentB-parts {
  margin-top: calc(var(--charcard-content-gap));
  padding: calc(var(--charcard-card-padding) / 2);
  background-color: hsl(from var(--bg-color-3) h s l / 0.5);
  border-radius: 8px;
  white-space: pre-line;
}
[data-theme="light"] .charcard-contentB-parts .charcardProp {
  color: var(--C-Uzakon_Purple);
}
.charcard-contentB-parts.even {
  background-color: hsl(from var(--bg-color-3) h s l / 0.2);
}
.charcard-contentB-parts:hover {
  background-color: hsl(from var(--bg-color-3) h s l / 0.9);
  box-shadow: 0px 0px 10px hsl(from var(--bg-color-3) h s l / 0.5);
}
.charcardpersonality {
  display: flex;
}
.charcardpersonality-label {
  min-width: 70px;
  text-align: left;
}
.charcardpersonality-colon {
  margin: 0 6px;
}
.charcardpersonality-value {
  flex: 1;
  text-align: left;
}
/* @media only screen and (max-width: 1400px) {
  * {
    --charcard-contentB-width: var(--charcard-contentA1-width);
  }
  .charcard-contentA {
    flex-direction: column;
  }
} */
@media only screen and (min-width: 1120px) {
  /* .character-card-container {
    width: 95%;
  }
  .character-card {
    width: 100%;
  } */
  /* .charcard-content-main {
    flex-direction: row;
  }
  .charcard-contentB {
    width: 100%;
  } */
}
@media only screen and (min-width: 556px) and (max-width: 1260px) {
  .character-card.opened .charcard-contentA {
    flex-direction: column;
  }
  .charinfowrapper.contentBactive .charcard-content-main {
    width: 80%;
  }
  .charcard-contentB {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  * {
    --charcard-content-gap: 5px;
    --charcard-contentAB-totalwidth: calc(
      var(--charcard-contentA1-width)+var(--charcard-contentA2-width)+var(
          --charcard-contentB-width
        )
    );
    --charcard-contentA1-width: 180px;
    --charcard-contentA1-gap1: -8px;
    --charcard-contentA1-gap2: -5px;
    --charcard-pfp-radius: 25px;
    --charcard-pfp-border-size: 2px;
    --charcard-attribute-gap: var(--charcard-content-gap);
  }
  .charcard-contentB {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(
      var(--charcard-tab-height) - var(--charcard-card-padding) +
        var(--charcard-content-gap)
    );
    gap: calc(var(--charcard-content-gap) * 2);
  }
}
@media only screen and (max-width: 555px) {
  * {
    --charcard-contentA1-width: 130px;
    --charcard-contentA2-width: 160px;
    --charcard-contentB-height: 300px;
  }
  .character-card-container {
    width: 95%;
  }
  .character-card {
    width: 100%;
  }
  .charcard-content {
    flex-direction: column;
    gap: 0;
  }
  .charcard-contentA {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .charcard-contentB {
    width: 100%;
  }
  .charcard-extra {
    height: 300px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 440px) and (max-width: 555px) {
  .charcard-contentA {
    gap: 10px;
    justify-content: center;
  }
  .charcard-contentA2 {
    width: 250px;
  }
}
/* CHARCARD CONTENT */ /* CHARCARD CONTENT */ /* CHARCARD CONTENT */
/* CHARCARD TAB */ /* CHARCARD TAB */ /* CHARCARD TAB */ /* CHARCARD TAB */
* {
  --charcard-tab-width: 100px;
  --charcard-tab-height: 30px;
}
.charcard-tab-wrapper {
  z-index: 4;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
}
.charcard-tab {
  cursor: pointer;
  width: var(--charcard-tab-width);
  height: var(--charcard-tab-height);
  background-color: hsl(from var(--bg-color-3) h s l / 0.5);
  color: var(--charcard-text-value);
  font-family: var(--F-Default);
  font-size: var(--Fs-Content-small);
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  transition: all 0.1s ease;
}
.charcard-tab:hover {
  background: var(--charcard-border);
  color: var(--charcard-bg);
  transform: translateY(0%) rotate(0deg) scale(1.05);
}
.charcard-tab.active {
  background: var(--charcard-active-tab);
  color: var(--charcard-active-tab-text);
  border-color: var(--charcard-active-tab-border);
  transform: translateY(0%) rotate(0deg) scale(1.05);
}
@media only screen and (max-width: 800px) {
  * {
    --charcard-tab-width: 80px;
    --charcard-tab-height: 28px;
  }
}
/* CHARCARD TAB */ /* CHARCARD TAB */ /* CHARCARD TAB */ /* CHARCARD TAB */
/* CHARCARD EXTRA */ /* CHARCARD EXTRA */ /* CHARCARD EXTRA */ /* CHARCARD EXTRA */
.charcard-extra {
  opacity: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-height: 80vh;
  /* padding-top: 15px; */
  margin-top: -15px;
  transition: all 0.3s ease;
}
.charcard-move-list {
  margin-bottom: 10px;
}
.charcard-move-name {
  color: var(--charcard-active-tab);
  font-weight: bold;
}
[data-theme="light"] .charcard-move-name {
  color: hsl(from var(--charcard-text-value) calc(h + 30) calc(s + 70) l / 0.6);
}
.charcard-artworks {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
}
.charcard-artworks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.charcard-artworks img {
  max-width: 90vw;
  height: 200px;
  margin: auto;
  object-fit: cover;
  border-radius: 12px;
}
.charcard-art-thumb {
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.1s ease-in;
}
.charcard-art-thumb:hover {
  transition: all 0.1s ease-in;
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 0 15px 5px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: all 0.1s ease-in;
}
.charcard-art-preview-overlay {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background-color: color-mix(
    in srgb,
    var(--C-SeaWeb_Dark_Purple) 60%,
    transparent
  );
}
[data-theme="light"] .charcard-art-preview-overlay {
  background-color: color-mix(
    in srgb,
    var(--C-SeaWeb_Dark_Purple) 30%,
    var(--charcard-bg) 30%
  );
}
.charcard-art-preview-content {
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  gap: 10px;
  text-align: center;
  border-radius: 16px;
  background-color: hsl(from var(--bg-color-1) h s l / 0.8);
  box-shadow: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 0px 50px 20px color-mix(in srgb, var(--C-Vesnea_Pink) 50%, transparent);
  box-shadow: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 0px 50px 20px
      color-mix(in srgb, var(--charcard-PFPborder) 50%, transparent);
}
[data-theme="light"] .charcard-art-preview-content {
  background-color: hsl(from var(--bg-color-2) h s l / 0.8);
  box-shadow: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px
      color-mix(in srgb, var(--C-Uzakon_Light_Purple) 50%, transparent);
  box-shadow: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 0px 50px 20px
      color-mix(in srgb, var(--C-Uzakon_Light_Purple) 50%, transparent);
}
.charcard-art-preview-content img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}
.charcard-art-preview-content-wrapper .charcardValue {
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.charcard-close-btn {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  width: 50px;
  height: 50px;
  background: none;
  color: var(--charcard-closebtn);
  border: none;
  font-size: 1.5rem;
}
.charcard-close-btn:hover {
  transform: scale(1.03);
}
@media only screen and (min-width: 800px) and (max-width: 1550px) {
  .charcard-artworks img {
    height: 150px;
  }
}
@media only screen and (max-width: 800px) {
  .charcard-art-preview-content {
    gap: 0;
    padding-bottom: 5px;
  }
  .charcard-art-preview-content-wrapper .charcardProp {
    line-height: 1.8rem;
    margin-bottom: -4px;
  }
  .charcard-art-preview-content-wrapper .charcardValue {
    line-height: 1.2em;
    margin-bottom: 1px;
  }
  .charcard-artworks img {
    height: 80px;
  }
}
/* CHARCARD EXTRA */ /* CHARCARD EXTRA */ /* CHARCARD EXTRA */ /* CHARCARD EXTRA */
.charcard-tab2 {
  width: 40px;
}
.character-card-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.charcard-optional {
  display: flex;
  width: calc(100% - var(--charcard-card-padding) * 2 - 2px);
  margin-top: -10px;
  padding-bottom: 40px;
  background: color-mix(in srgb, var(--button-border2) 50%, transparent);
  border-radius: 0 0 8px 8px;
}
.charcard-optional-text {
  display: flex;
}
[data-theme="light"] .charcard-optional {
  background: color-mix(in srgb, var(--button-border2) 70%, transparent);
}
@media only screen and (max-width: 1400px) {
  .charcard-optional {
    padding-bottom: 70px;
  }
  .charcard-optional .charcard-tab-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* @media only screen and (min-width: 555px) and (max-width: 1400px) {
  .character-card-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .character-card {
    width: 100%;
  }
  .charcard-optional {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
  }
  .charcard-optional .charcard-tab-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
} */
@media only screen and (max-width: 555px) {
  .charcard-optional {
    width: 100%;
    padding-bottom: initial;
    flex-direction: column;
  }
  .charcard-optional .charcard-tab-wrapper {
    position: initial;
  }
}
