* {
  margin: 0;
  padding: 0;
}
p {
  text-indent: 50px;
  margin-bottom: 15px;
}
/* @import "react-alice-carousel/lib/alice-carousel.css"; */

/* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */
.navbar {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.brand-logo {
  background: none;
  border: none;
  cursor: pointer;
  width: 165px;
  height: 34.5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
[data-theme="light"] .brand-logo {
  background-image: url("./Assets/Navbar/NavbarLogo-light.png");
}
[data-theme="dark"] .brand-logo {
  background-image: url("./Assets/Navbar/NavbarLogo-dark.png");
}
[data-theme="star"] .brand-logo {
  background-image: url("./Assets/Navbar/NavbarLogo-star.png");
}
.navbar-wrapper {
  display: flex;
}
.navbar-menu {
  display: flex;
  transition: all 0.1s ease;
}
.navbar-func {
  align-items: center;
}
.theme-wrapper {
  display: flex;
  gap: 30px;
}
[data-theme="light"] .theme-btn1 {
  display: none;
}
[data-theme="star"] .theme-btn2 {
  display: none;
}
[data-theme="dark"] .theme-btn3 {
  display: none;
}
.theme-btn1,
.theme-btn2,
.theme-btn3 {
  transition: transform 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  width: 38px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.theme-btn1 {
  background-image: url("./Assets/Navbar/KorazuSun.svg");
}
.theme-btn2 {
  background-image: url("./Assets/Navbar/ZumikoStar.svg");
}
.theme-btn3 {
  background-image: url("./Assets/Navbar/UzakonMoon.svg");
}
.theme-btn1:hover,
.theme-btn2:hover,
.theme-btn3:hover {
  transform: scale(1.1);
}
.lang-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .navbar-wrapper {
    align-items: center;
    width: 100%;
    padding: 0 35px;
  }
  .navbar-menu {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    padding-right: 30px;
    position: fixed;
    top: 64px;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .navbar-menu.open {
    transform: translateX(0);
  }
  .navbar-menu-text {
    margin: 10px 0;
  }
  .navbar-menu-toggle {
    display: flex;
    cursor: pointer;
    margin-left: auto;
  }
  .navbar-menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
  }
  .navbar-func {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    width: 100%;
    gap: 35px;
    padding-right: 30px;
    position: fixed;
    top: calc(127px + 65px);
    right: 0;
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .navbar-func.open {
    transform: translateX(0);
  }
  .lang-btn {
    margin: 15px 0;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .navbar-wrapper {
    align-items: center;
    width: 100%;
    padding: 0 67px;
  }
  .navbar-menu {
    justify-content: right;
    margin-left: auto;
    margin-right: 60px;
    gap: 38px;
  }
  .navbar-menu-text {
    display: flex;
    align-items: center;
  }
  .navbar-button {
    transition: fill 0.3s ease;
  }
  .navbar-func {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    gap: 35px;
    width: 100%;
    padding-right: 75px;
    position: fixed;
    top: 64px;
    right: 0;
    transition: transform 0.1s ease-in-out, visibility 0.05s ease;
    padding-top: 10px;
    padding-bottom: 20px;
    transform: translateY(-30px);
    z-index: -1;
    visibility: hidden;
  }
  .navbar-func.open {
    transform: translateY(0);
    visibility: visible;
    transition: transform 0.1s ease-in-out, visibility 0.05s ease;
  }
  .lang-btn {
    margin: 10px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-wrapper {
    width: 1066px;
  }
  .navbar-menu {
    margin-left: auto;
    margin-right: 80px;
    gap: 38px;
  }
  .navbar-func {
    display: flex;
    gap: 80px;
  }
  .navbar-menu-text {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .navbar-menu-toggle {
    display: none;
  }
  .lang-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
/* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */
/* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */
.footnav {
  width: 100%;
  display: flex;
}
.footnavbg {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  justify-content: center;
  transition: all 0.1s ease;
}
[data-theme="light"] .footnavbg {
  background-image: url("./Assets/Footer/LightMode.jpg");
}
[data-theme="dark"] .footnavbg {
  background-image: url("./Assets/Footer/DarkMode.jpg");
}
[data-theme="star"] .footnavbg {
  height: 800px;
  background-image: url("./Assets/Footer/StarMode.jpg");
}

.footnav-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  transition: all 0.1s ease;
  margin-left: 0px;
  margin-right: 0px;
}
.footnav-wrapperX {
  display: flex;
  gap: 35px;
}
[data-theme="light"] .footnav-wrapper {
  margin-left: 194px;
}
[data-theme="dark"] .footnav-wrapper {
  margin-right: 194px;
}
[data-theme="star"] .footnav-wrapper {
  padding-top: 189px;
  align-items: center;
  margin-right: 194px;
}
[data-theme="star"] .footnav-wrapperX {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 20px;
  border-radius: 12pt;
  margin-left: 510px;
}
.footnav-wrapper1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footnav-wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
[data-theme="star"] .footnav-wrapper1,
.footnav-wrapper2 {
  width: 175px;
}
.footnav-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media only screen and (max-width: 639px) {
  [data-theme="light"] .footnavbg {
    background-image: url("./Assets/Footer/LightMode_XSSize.jpg");
  }
  [data-theme="dark"] .footnavbg {
    background-image: url("./Assets/Footer/DarkMode_XSSize.jpg");
  }
  [data-theme="star"] .footnavbg {
    height: 600px;
    background-image: url("./Assets/Footer/StarMode.jpg");
  }

  .footnav-wrapper {
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
  }
  [data-theme="light"] .footnav-wrapper,
  [data-theme="dark"] .footnav-wrapper,
  [data-theme="star"] .footnav-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
  [data-theme="star"] .footnav-wrapper {
    padding-top: 50px;
  }
  .footnav-wrapperX {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  [data-theme="star"] .footnav-wrapperX {
    margin-left: 0px;
    margin-right: 0px;
  }
  .footnav-wrapper1,
  .footnav-wrapper2 {
    width: 175px;
  }
}
/* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */
/* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */
.footbar {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footbar-text {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footbar-wrapper {
  width: 1066px;
  display: flex;
  margin: 0 35px;
}
.footbar .footbarlogo {
  height: 25px;
}
@media only screen and (max-width: 639px) {
  .footbar {
    height: 75px;
  }
  .footbar-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footbar-text {
    margin-right: auto;
    text-align: center;
  }
}
/* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */
/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

/* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */
/* Welcome */ /* Welcome */ /* Welcome */ /* Welcome */ /* Welcome */

.introduction {
  display: flex;
  background-image: url("./Assets/Homepage/Introduction-bg.jpg");
  background-size: cover;
  background-position-x: center;
  justify-content: center;
  height: calc(100vh - 65px);
  transition: all 0.1s ease;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcomewrapper {
  background-size: cover;
  background-position-x: center;
  justify-content: center;
  width: 50%;
  height: auto;
  aspect-ratio: 3/2;
  transition: all 0.1s ease;
}

.welcometextwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}
.welcometitle {
  padding-bottom: 15px;
}
@media only screen and (max-width: 500px) {
  .welcomewrapper {
    margin-top: 60px;
  }
  .welcometextwrap {
    padding-top: 0px;
    position: relative;
    top: -35px;
    transition: all 0.1s ease;
  }
}
@media only screen and (max-width: 800px) {
  .introduction {
    background-image: url("./Assets/Homepage/Introduction-bg-full.jpg");
    height: calc(100vh - 65px);
  }

  .welcomewrapper {
    width: 100%;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .welcomewrapper {
    width: 100%;
  }
}
/* Welcome */ /* Welcome */ /* Welcome */ /* Welcome */ /* Welcome */

.shortintro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.shortintro1 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
  width: 705px;
}
.smallintro1 {
  width: 235px;
}
.shortintro2 {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: right;
  padding-bottom: 15px;
  width: 705px;
}
.shortintro3 {
  display: flex;
  height: 100px;
  text-align: center;
  align-items: center;
  width: 705px;
}

.commsect {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 45px;
}
.commsectbanner {
  width: 1065px;
  height: auto;
  aspect-ratio: 3/1;
  border-radius: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}
.commsectitem {
  padding-top: 25px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.1s ease;
  max-width: 90vw;
}
.commsectitemcard {
  width: 325px;
  height: 355px;
  display: flex;
  flex-direction: column;
  border-style: dashed;
  border-width: 2px;
  border-radius: 15px;
  padding: 15px;
}
.commsectitemtitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.commsectitemtext {
  text-align: center;
  white-space: pre-line;
}
.commsectlearnmore {
  text-align: center;
  margin-top: auto;
  padding-bottom: 12px;
}
@media only screen and (max-width: 800px) {
  .shortintro {
    padding-bottom: 15px;
  }
  .shortintro1 {
    width: 80%;
    text-align: center;
    flex-direction: column;
  }
  .shortintro2 {
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
    flex-direction: column;
  }
  .shortintro3 {
    width: 80%;
    height: auto;
  }
  .smallintro1,
  .smallintro2 {
    display: none;
  }

  .commsect {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .commsectitem {
    gap: 15px;
  }
  .commsectbanner {
    width: 90%;
    aspect-ratio: 600/525;
  }
  .commsectitemcard {
    width: 250px;
    height: 280px;
    padding: 10px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .shortintro {
    padding-bottom: 15px;
  }
  .shortintro1 {
    width: 550px;
  }
  .shortintro2 {
    width: 550px;
  }
  .shortintro3 {
    width: 550px;
  }

  .commsect {
    padding-top: 15px;
  }
  .commsectitem {
    gap: 20px;
  }
  .commsectbanner {
    width: 80vw;
  }
  .commsectitemcard {
    width: 300px;
    height: 350px;
  }
}
/* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */

/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */
.projectshero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 35px;
}
.projectsheroheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1065px;
  padding-bottom: 15px;
}
.projectsherotitle {
  padding-bottom: 10px;
}
.projectsheroitem {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}
.projectsheroitemcard {
  width: 345px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.projectsheroitemtitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.projectsheroitemtext {
  text-align: center;
  white-space: pre-line;
}
.projectsherolearnmore {
  text-align: center;
  margin-top: auto;
  padding-bottom: 15px;
}

.historicalsect {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}
.timeline {
  width: auto;
}
.historicalsectinfo {
  width: 885px;
}
.historicalsect li {
  width: 100%;
}
.projectsshowcase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
/*ProjectSeaWeb*/
.websitelinktree {
  width: 100%;
  display: flex;
}
.linktreebg {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.websitelinktree-wrapper {
  display: flex;
  position: absolute;
  gap: 5px;
  padding-top: 30px;
  margin-left: 30%;
  flex-direction: column;
}
.websitelinktree-wrapper1 {
  margin-bottom: var(--Fs-Content);
}
.websitelinktree-wrapper1 li {
  list-style: none;
  padding-left: 0;
}
.websitelinktree-wrapper1 li div {
  display: block;
  padding-left: 12pt;
}

.webshowcase {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.webshowcase-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1065px;
}
.webshowcase-text1 {
  display: flex;
  justify-content: right;
  text-align: left;
  margin-left: auto;
  margin-top: auto;
  width: 435px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--Fs-Content);
}
.webshowcase-text2 {
  display: flex;
  justify-content: left;
  text-align: right;
  margin-right: auto;
  margin-top: auto;
  width: 435px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--Fs-Content);
}
.webstyle {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.separator {
  height: 10vw;
  max-height: 150px;
  object-fit: cover;
}
.webstyle-wrapperA {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 50px;
}
.webstyle-wrapperA-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}
.webstyle-wrapperB {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 30px;
}
.webstyle-wrapperB-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 800px) {
  .projectshero {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .projectsheroheader {
    width: 80%;
  }
  .projectsheroitem {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
  .projectsheroitemcard {
    width: 250px;
    height: 200px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
    padding: 5px;
  }

  .timeline {
    width: 100%;
    max-width: 1065px;
  }
  .historicalsectinfo {
    width: 80%;
  }
  /*ProjectSeaWeb*/
  .websitelinktree-wrapper {
    margin-left: max(10vw, 50px);
  }

  .webshowcase-wrapper {
    width: 80%;
    flex-direction: column;
    gap: 10px;
  }
  .webshowcase-text1 {
    width: 100%;
  }
  .webshowcase-text2 {
    width: 100%;
  }

  .colorstyle {
    width: 80%;
  }
  .webstyle-wrapperA {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .webstyle-wrapperB {
    margin-top: 5px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .projectshero {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .projectsheroheader {
    width: 80%;
  }
  .projectsheroitem {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
  .projectsheroitemcard {
    width: 250px;
    height: 235px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
    padding: 5px;
  }

  .timeline {
    width: 100%;
    max-width: 1065px;
  }
  .historicalsectinfo {
    width: 80%;
  }
  /*ProjectSeaWeb*/
  .websitelinktree-wrapper {
    margin-left: calc(40vw - 150px);
  }

  .webshowcase-wrapper {
    width: 80%;
    flex-direction: row;
    height: 200px;
    gap: 20px;
  }

  .colorstyle {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
}
/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */

/* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */
@media only screen and (max-width: 800px) {
  .commhero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .commheroimg {
    margin-top: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 1065px;
  }
  .commheroitem {
    display: flex;
    align-items: end;
    flex-direction: row;
    padding-bottom: 10px;
    position: relative;
    top: -5px;
    width: 90%;
    flex-wrap: wrap;
  }
  .commicon {
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 15px;
  }
  .commiconimg {
    width: 10vw;
    min-width: 50px;
  }
  .commicontext {
    padding-left: 3px;
    display: flex;
    flex-direction: column;
  }
  .commpromo {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 0;
    padding-right: 15px;
    padding-bottom: 3px;
  }
  .commpromowrapper {
    position: relative;
  }
  .promoimg {
    display: block;
    max-width: 80px;
    padding-top: 15px;
    height: auto;
    transition: transform 0.1s ease-in-out;
  }
  .promotext {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  .commpromowrapper:hover .promoimg {
    transform: translateY(-5px);
  }
  .commpromowrapper:hover .promotext {
    opacity: 1;
  }

  .artstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .artstyleimg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .commstatus {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .commstatuswrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }
  .vesneacomminfo {
    width: 90vw;
    height: auto;
  }
  .commstatustext {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
  }
  .commstatustext2 {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .kofinav {
    height: auto;
    width: 75%;
    padding-top: 10px;
  }

  .commcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    gap: 10px;
  }
  .commcarousel {
    width: 80%;
  }
  .carouselpict {
    height: 200px;
  }
  .commboard {
    width: 90%;
  }
  .commamount {
    width: 80%;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .commhero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .commheroimg {
    margin-top: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 1065px;
  }
  .commheroitem {
    display: flex;
    align-items: end;
    flex-direction: row;
    padding-bottom: 17px;
    position: relative;
    top: -13px;
    width: 90%;
    flex-wrap: wrap;
  }
  .commicon {
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 15px;
  }
  .commiconimg {
    width: 10vw;
    min-width: 80px;
  }
  .commicontext {
    padding-left: 3px;
    display: flex;
    flex-direction: column;
  }
  .commpromo {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 0;
    padding-right: 15px;
    padding-bottom: 3px;
  }
  .commpromowrapper {
    position: relative;
  }
  .promoimg {
    display: block;
    max-width: 120px;
    height: auto;
    transition: transform 0.1s ease-in-out;
  }
  .promotext {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  .commpromowrapper:hover .promoimg {
    transform: translateY(-5px);
  }
  .commpromowrapper:hover .promotext {
    opacity: 1;
  }

  .artstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .artstyleimg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .commstatus {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .commstatuswrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .vesneacomminfo {
    position: relative;
    left: max(5vw, 10px);
  }
  .commstatustexttitle {
    padding-bottom: 5px;
  }
  .commstatustext {
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
    right: max(12vw, 130px);
    margin-top: 115px;
  }
  .commstatustext2 {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
  }
  .kofinav {
    height: auto;
    width: 75%;
    padding-top: 10px;
  }

  .commcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 30px;
  }
  .commcarousel {
    width: 80%;
  }
  .carouselpict {
    height: 200px;
  }
  .commboard {
    width: 90%;
  }
  .commamount {
    width: 750px;
  }
}
@media only screen and (min-width: 1200px) {
  .commhero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .commheroimg {
    margin-top: 30px;
    border-radius: 20px;
  }
  .commheroitem {
    display: flex;
    align-items: end;
    flex-direction: row;
    padding-bottom: 17px;
    position: relative;
    top: -13px;
    width: 1065px;
  }
  .commicon {
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 37px;
  }
  .commiconimg {
    width: 125px;
  }
  .commicontext {
    padding-left: 3px;
    display: flex;
    flex-direction: column;
  }
  .commpromo {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 0px;
    padding-right: 70px;
    padding-bottom: 3px;
  }
  .commpromowrapper {
    position: relative;
  }
  .promoimg {
    display: block;
    max-width: 150px;
    height: auto;
    transition: transform 0.1s ease-in-out;
  }
  .promotext {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  .commpromowrapper:hover .promoimg {
    transform: translateY(-5px);
  }
  .commpromowrapper:hover .promotext {
    opacity: 1;
  }

  .artstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .artstyleimg {
    width: 100%;
  }

  .commstatus {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .commstatuswrapper {
    width: 1065px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .vesneacomminfo {
    margin-right: auto;
    position: relative;
    left: 90px;
  }
  .commstatustexttitle {
    padding-bottom: 0px;
  }
  .commstatustext {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: auto;
    position: relative;
    right: 141.5px;
    margin-top: 141px;
  }
  .commstatustext1 {
    text-align: right;
    width: 243px;
  }
  .commstatustext2 {
    padding-top: 29px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 255px;
  }
  .kofinav {
    height: 41px;
    width: 255px;
    padding-top: 10px;
  }

  .commcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 30px;
  }
  .commcarousel {
    width: 1065px;
  }
  .carouselpict {
    height: 200px;
  }
  .commboard {
    width: 1065px;
  }
  .commamount {
    width: 750px;
  }
}
/* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */

/* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */
.AC {
  transition: all 0.1s ease;
}
.ACinfo {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease;
}
.ACspacer {
  display: none;
}
.ACinfoitem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ACinfoitemcard {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Antagonist1 {
  border-style: dashed;
  border-width: 2px;
  border-radius: 15px;
  padding: 10px;
  margin: min(20px, 8vw);
}
.ACinfoitemtitle0,
.ACinfoitemtitle1,
.ACinfoitemtitle2,
.ACinfoitemtitle3,
.ACinfoitemtitle4,
.ACinfoitemtitle5,
.ACinfoitemtitle6,
.ACinfoitemtitleA1 {
  padding-bottom: 16px;
}
.ACinfoitemtext {
  text-align: center;
  font-weight: normal;
}
.AC {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-top: 35px;
}
.ACmythseavalancheint,
.ACseavalancheint,
.ACseavaint,
.ACvesneaint,
.ACkorazuint,
.ACuzakonint,
.ACzumikoint {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: min(75%, 975px);
  gap: 30px;
  padding: 5px;
  padding: 15px 35px;
}
.ACitem {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 45px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.ACcardtitle {
  text-align: center;
}
.ACcontent1,
.ACcontent2 {
  padding-top: 15px;
  text-align: left;
}

.aboutseparator {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutseparatorimg1 {
  border-style: dashed;
  border-width: 2px;
  border-radius: 15px;
}
@media only screen and (max-width: 800px) {
  .ACinfo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ACspacer {
    display: inline;
  }
  .ACinfoitem {
    gap: 15px;
  }
  .ACinfoitemcard {
    width: min(345px, 43vw);
    height: max(400px, 40vw);
  }
  .aboutmythseavalanche {
    max-width: 90vw;
    max-height: 450px;
    border-radius: 25px;
    margin-bottom: 15px;
  }
  .aboutseavalanche {
    max-width: 90vw;
    max-height: 450px;
  }
  .aboutseava {
    width: 90vw;
    max-width: 795px;
    max-height: 635px;
  }
  .aboutvesnea {
    width: 90vw;
    max-width: 375px;
    max-height: 400px;
  }
  .aboutkorazu,
  .aboutuzakon,
  .aboutzumiko {
    max-width: 90vw;
  }

  .ACmythseavalancheint,
  .ACseavalancheint,
  .ACseavaint,
  .ACvesneaint,
  .ACkorazuint,
  .ACuzakonint,
  .ACzumikoint {
    padding: 15px 20px;
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }

  .ACitem {
    gap: 45px;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .ACcard1,
  .ACcard2 {
    text-align: center;
    width: 80vw;
  }
  .aboutseparator {
    height: min(500px, 120vw);
  }
  .aboutseparatorimg1 {
    max-width: 80%;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .ACinfo {
    padding-top: 15px;
    padding-bottom: 15px;
    gap: max(30px, calc(700px - 99.5vw));
  }
  .ACinfoitem {
    max-width: 80%;
    min-width: 800px;
    gap: max(30px, calc(700px - 99.5vw));
  }
  .ACinfoitemcard {
    width: 345px;
    height: min(480px, 65vw);
  }

  .aboutmythseavalanche {
    width: auto;
    max-height: 450px;
    border-radius: 25px;
    margin-bottom: 15px;
  }
  .aboutseavalanche {
    width: auto;
    max-height: 450px;
  }
  .aboutseava {
    width: 90vw;
    max-width: 795px;
    max-height: 635px;
  }
  .aboutvesnea {
    width: 90vw;
    max-width: 375px;
    max-height: 400px;
  }

  .ACmythseavalancheinttitle {
    min-width: 235px;
    max-width: 300px;
  }

  .ACitem {
    gap: 30px;
    width: 80vw;
  }
  .ACcard1,
  .ACcard2 {
    text-align: right;
    width: max(310px, 37vw);
  }
}
@media only screen and (min-width: 1200px) {
  .ACinfo {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
  }
  .ACinfoitem {
    max-width: 1400px;
    gap: max(30px, calc(700px - 99.5vw));
  }
  .ACinfoitemcard {
    width: 345px;
    height: 532px;
  }

  .aboutmythseavalanche {
    width: auto;
    height: 450px;
    border-radius: 25px;
    margin-bottom: 25px;
  }
  .aboutseavalanche {
    width: auto;
    height: 450px;
  }
  .aboutseava {
    width: 795px;
    height: 635px;
  }
  .aboutvesnea {
    height: 400px;
  }

  .ACitem {
    width: 885px;
  }
  .ACcard1,
  .ACcard2 {
    text-align: right;
    width: 420px;
  }
}
/* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */

/* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */
@media only screen and (max-width: 800px) {
  .abouthero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .aboutherocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 80%;
  }
  .aboutherotitle {
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  .abouthero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .aboutherocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 70%;
  }
  .aboutherotitle {
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .abouthero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .aboutherocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 885px;
  }
  .aboutherotitle {
    padding-bottom: 10px;
  }
}
/* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */
