html {
  scroll-behavior: smooth;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  font-size: var(--Fs-Content);
  line-height: 20pt;
  text-decoration: initial;
  font-weight: 300;
  background-image: url("./Assets/Common/vesbg-1b.webp");
  background-size: 12%;
}
html[data-theme="dark"] {
  background-image: url("./Assets/Common/vesbg-2.webp");
}
html[data-theme="star"] {
  background-image: url("./Assets/Common/vesbg-3.webp");
}
.bigtitle {
  font-family: "Baskervville", "Noto Serif JP", serif;
  font-size: var(--Fs-BigTitle);
  line-height: normal;
  font-style: normal;
  text-decoration: initial;
}
.title {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  font-size: var(--Fs-Title);
  line-height: normal;
  font-style: italic;
  text-decoration: initial;
}
.fnbar {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-size: var(--Fs-Content-small);
  line-height: normal;
  text-decoration: initial;
}
.textpanel {
  border-bottom: 1px dashed var(--textpanel-border);
}
.textpanel input {
  background-color: var(--textpanel-background);
  font-family: var(--F-TextPanel);
  font-size: var(--Fs-Content);
  color: var(--textpanel-text);
  border: 1px solid var(--textpanel-border2);
  border-radius: 4px;
  outline: none;
}
.textpanel input:hover,
input:focus {
  background-color: var(--textpanel-background-active);
  color: var(--textpanel-text-active);
  border: 1px solid var(--textpanel-border-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--textpanel-border-active) 50%, transparent);
}
button {
  cursor: pointer;
  background-color: var(--button-bg-secondary);
  font-family: var(--font-layout);
  color: var(--button-text-secondary);
  border: var(--button-border-secondary);
  border-radius: var(--button-border-radius);
}
button:hover,
button:active {
  background-color: var(--button-bg-hover);
  color: var(--button-text-hover);
  border: var(--button-border-hover);
  box-shadow: var(--button-shadow-hover);
  text-shadow: 0 1px 3px var(--button-bg-hover);
}
input[type="color"] {
  border-radius: var(--button-border-radius);
  border: var(--button-border-primary);
}

.josefin-sans-AboutVesnea {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}
.noto-serif-jp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
}
.biz-udpmincho-regular {
  font-family: "BIZ UDPMincho", serif;
  font-weight: 400;
}

/* These are the standard font sizes*/
* {
  --Fs-Navbar: 13pt;
  --Fs-Footbar: 12pt;
  --Fs-NavbarTitle: 18pt;
  --Fs-BigTitle: 48pt;
  --Fs-Title: 24pt;
  --Fs-ContentTitle: 18pt;
  --Fs-Content: 18pt;
  --Fs-Content-small: 12pt;
  --Fs-Content-smaller: 10pt;
  --Fs-AboutVesneaTitle: 24pt;
  --Fs-NotFoundTitle: 6rem;
  --Fs-NotFoundDesc: 1.5rem;
  --Fs-NotFoundBtn: 1.2rem;
}
@media only screen and (max-width: 800px) {
  * {
    --Fs-Navbar: 12pt;
    --Fs-Footbar: 12pt;
    --Fs-NavbarTitle: 18pt;
    --Fs-BigTitle: 24pt;
    --Fs-Title: 20pt;
    --Fs-ContentTitle: 18pt;
    --Fs-Content: 12pt;
    --Fs-Content-small: 10pt;
    --Fs-Content-smaller: 8pt;
    --Fs-AboutVesneaTitle: 16pt;
  }
}

/*These are font sizer*/
* {
  --Fs-FontsizeS: 4pt;
  --Fs-FontsizeM: 8pt;
}

/* NOT FOUND */ /* NOT FOUND */ /* NOT FOUND */ /* NOT FOUND */
.not-found {
  background: linear-gradient(135deg, var(--notfound-bg1), var(--notfound-bg2));
  font-family: "Comic Sans MS", "Josefin Sans", sans-serif;
  color: var(--notfound-text1);
}
.not-found h1 {
  font-size: var(--Fs-NotFoundTitle);
}
.not-found p {
  font-size: var(--Fs-NotFoundDesc);
  color: var(--notfound-text2);
}
.not-found a {
  font-size: var(--Fs-NotFoundBtn);
  background-color: var(--notfound-btn);
  color: var(--notfound-textbtn);
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 10px color-mix(in srgb, var(--notfound-btn) 40%, transparent);
}
.not-found a:hover {
  box-shadow: 0 0 10px color-mix(in srgb, var(--notfound-btn) 60%, transparent);
}
/* NOT FOUND */ /* NOT FOUND */ /* NOT FOUND */ /* NOT FOUND */
/* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */
.underconstruction {
  background: linear-gradient(135deg, var(--notfound-bg1), var(--notfound-bg2));
  font-family: "Comic Sans MS", "Josefin Sans", sans-serif;
  color: var(--notfound-text1);
}
.underconstruction h1 {
  font-size: calc(var(--Fs-NotFoundTitle) - 42pt);
}
.underconstruction p {
  font-size: var(--Fs-NotFoundDesc);
  color: var(--notfound-text2);
}
.underconstruction a {
  font-size: var(--Fs-NotFoundBtn);
  background-color: var(--notfound-btn);
  color: var(--notfound-textbtn);
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 10px color-mix(in srgb, var(--notfound-btn) 40%, transparent);
}
.underconstruction a:hover {
  box-shadow: 0 0 10px color-mix(in srgb, var(--notfound-btn) 60%, transparent);
}
/* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */
/* TOGGLE */ /* TOGGLE */ /* TOGGLE */ /* TOGGLE */ /* TOGGLE */
* {
  --toggle-color-active: var(--button-background-active);
  --toggle-color-inactive: var(--button-background);
  --toggle-color-switch: var(--C-Vesnea_white);
  --toggle-color-disabled: #ddd;
}
.toggle-switch {
  text-align: left;
}
.toggle-switch-label {
  border-radius: var(--toggle-border-radius);
}
.toggle-switch-inner:before {
  background-color: var(--toggle-color-active);
}
.toggle-switch-inner:after {
  background-color: var(--toggle-color-inactive);
}
.toggle-switch-switch {
  background-color: var(--toggle-color-switch);
  border: 0 solid var(--toggle-color-inactive);
  border-radius: var(--toggle-border-radius);
  transition: all 0.1s ease;
}
.toggle-switch-disabled {
  background-color: var(--toggle-color-disabled);
}
.toggle-switch-disabled:before {
  background-color: var(--toggle-color-disabled);
}
/* TOGGLE */ /* TOGGLE */ /* TOGGLE */ /* TOGGLE */ /* TOGGLE */
/* ATTRIBUTES */ /* ATTRIBUTES */ /* ATTRIBUTES */ /* ATTRIBUTES */
.attribute-badge {
  font-family: var(--F-Montserrat);
  font-size: var(--Fs-Content-small);
  font-style: italic;
  font-weight: bold;
  box-shadow: 0 2px 2px
    color-mix(in srgb, var(--charcard-border) 50%, transparent);
  border-radius: 6px;
}
.attribute-badge.aether {
  background-color: var(--attribute-aether);
  color: var(--attribute-text-seawebdarkpurple);
}
.attribute-badge.void {
  background-color: var(--attribute-void);
  color: var(--attribute-text-vesneawhite);
}
.attribute-badge.light {
  background-color: var(--attribute-light);
  color: var(--attribute-text-seawebdarkpurple);
}
.attribute-badge.darkness {
  background-color: var(--attribute-darkness);
  color: var(--attribute-text-vesneawhite);
}
.attribute-badge.fire {
  background-color: var(--attribute-fire);
  color: var(--attribute-text-vesneawhite);
}
.attribute-badge.water {
  background-color: var(--attribute-water);
  color: var(--attribute-text-vesneawhite);
}
.attribute-badge.nature {
  background-color: var(--attribute-nature);
  color: var(--attribute-text-seawebdarkpurple);
}
.attribute-badge.metal {
  background-color: var(--attribute-metal);
  color: var(--attribute-text-vesneawhite);
}
.attribute-badge.electric {
  background-color: var(--attribute-electric);
  color: var(--attribute-text-seawebdarkpurple);
}
.attribute-badge.wind {
  background-color: var(--attribute-wind);
  color: var(--attribute-text-seawebdarkpurple);
}
.attribute-badge.magical {
  background-color: var(--attribute-magical);
  color: var(--attribute-text-seawebdarkpurple);
}
.attribute-badge.psionic {
  background-color: var(--attribute-psionic);
  color: var(--attribute-text-vesneawhite);
}
.attribute-badge.spirit {
  background-color: var(--attribute-spirit);
  color: var(--attribute-text-vesneawhite);
}
.attribute-badge.sound {
  background-color: var(--attribute-sound);
  color: var(--attribute-text-seawebdarkpurple);
}
/* ATTRIBUTES */ /* ATTRIBUTES */ /* ATTRIBUTES */ /* ATTRIBUTES */

/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */
.projectcarditem {
  border-top: 2px dashed var(--aboutvesnea-cardborder);
}
.AVIntroContent {
  line-height: 25pt;
}
.projectcarditem .AVMyStyleAlt {
  color: var(--aboutvesnea-text);
  text-decoration: none;
}
.projectcarditem .AVMyStyleAlt:hover {
  color: var(--aboutvesnea-link);
}
.historicalsect {
  background-color: var(--C-SeaWeb_Purple);
}
.historicalsectinfo {
  font-size: var(--Fs-ContentTitle);
  color: var(--C-Vesnea_white);
}
.historicalsect li {
  font-size: var(--Fs-Content);
  color: var(--C-Vesnea_white);
}
.projectsshowcase {
  background-color: var(--C-Vesnea_white);

  font-size: var(--Fs-ContentTitle);
  font-style: italic;
}
/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */

/* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */
.ACinfo {
  background-color: var(--bg-color-1);
}
.ACinfoitemcard {
  font-weight: bold;
}

[data-theme="light"] .Antagonist1 {
  border-color: var(--C-Zumiko_Red);
}
[data-theme="light"] .ACinfoitemtitleA1 {
  color: var(--C-Zumiko_Red);
}
[data-theme="dark"] .Antagonist1 {
  border-color: var(--C-Zumiko_Red);
}
[data-theme="dark"] .ACinfoitemtitleA1 {
  color: var(--C-Zumiko_Red);
}
.Antagonist1,
.ACinfoitemtitleA1 {
  border-color: var(--text-color-1a);
}
.ACinfoitemtitleA1 {
  color: var(--text-color-1a);
}

[data-theme="light"] .ACinfoitemtitle0 {
  color: var(--C-Vesnea_Purple);
}
[data-theme="light"] .ACinfoitemtitle1 {
  color: var(--C-Vesnea_Purple);
}
[data-theme="light"] .ACinfoitemtitle2 {
  color: var(--C-Seava_Dark_Blue);
}
[data-theme="light"] .ACinfoitemtitle3 {
  color: var(--C-Vesnea_Pink);
}
[data-theme="light"] .ACinfoitemtitle4 {
  color: var(--C-Korazu_Orange);
}
[data-theme="light"] .ACinfoitemtitle5 {
  color: var(--C-Uzakon_Purple);
}
[data-theme="light"] .ACinfoitemtitle6 {
  color: var(--C-Zumiko_Red);
}
[data-theme="dark"] .ACinfoitemtitle0 {
  color: var(--C-Vesnea_white);
}
[data-theme="dark"] .ACinfoitemtitle1 {
  color: var(--C-Seava_Yellow);
}
[data-theme="dark"] .ACinfoitemtitle2 {
  color: var(--C-Seava_Light_Blue);
}
[data-theme="dark"] .ACinfoitemtitle3 {
  color: var(--C-Vesnea_Light_Pink);
}
[data-theme="dark"] .ACinfoitemtitle4 {
  color: var(--C-Korazu_Yellow);
}
[data-theme="dark"] .ACinfoitemtitle5 {
  color: var(--C-Uzakon_Light_Purple);
}
[data-theme="dark"] .ACinfoitemtitle6 {
  color: var(--C-Zumiko_Pink);
}
.ACinfoitemtitle0,
.ACinfoitemtitle1,
.ACinfoitemtitle2,
.ACinfoitemtitle3,
.ACinfoitemtitle4,
.ACinfoitemtitle5,
.ACinfoitemtitle6 {
  color: var(--text-color-1a);
}
.ACinfoitemtext {
  color: var(--text-color-1b);
  line-height: 15pt;
  font-style: italic;
  font-weight: 300;
}

.AC {
  background-color: var(--bg-color-3);
}

.ACmythseavalancheinttitle,
.ACseavalancheinttitle,
.ACseavainttitle,
.ACvesneainttitle,
.ACkorazuinttitle,
.ACuzakoninttitle,
.ACzumikointtitle {
  font-size: var(--Fs-Title);
  font-weight: bold;
}
.ACmythseavalancheinttitleB {
  font-size: var(--Fs-Content);
  font-weight: normal;
  font-style: italic;
}
[data-theme="dark"] .ACmythseavalancheinttitle {
  color: var(--C-Vesnea_white);
}
[data-theme="dark"] .ACmythseavalancheinttitleB {
  color: var(--C-MythSeavalanche_Dark_Green);
}
[data-theme="dark"] .ACseavalancheinttitle {
  color: var(--C-Seava_Yellow);
}
[data-theme="dark"] .ACseavainttitle {
  color: var(--C-Seava_Light_Blue);
}
[data-theme="dark"] .ACvesneainttitle {
  color: var(--C-Vesnea_Light_Pink);
}
[data-theme="dark"] .ACkorazuinttitle {
  color: var(--C-Korazu_Orange);
}
[data-theme="dark"] .ACuzakoninttitle {
  color: var(--C-Uzakon_Purple);
}
[data-theme="dark"] .ACzumikointtitle {
  color: var(--C-Zumiko_Red);
}
[data-theme="light"] .ACmythseavalancheinttitle,
.ACseavalancheinttitle,
.ACseavainttitle,
.ACvesneainttitle,
.ACkorazuinttitle,
.ACuzakoninttitle,
.ACzumikointtitle {
  color: var(--text-color-3a);
}
[data-theme="star"] .ACmythseavalancheinttitle,
.ACseavalancheinttitle,
.ACseavainttitle,
.ACvesneainttitle,
.ACkorazuinttitle,
.ACuzakoninttitle,
.ACzumikointtitle {
  color: var(--text-color-3a);
}

.ACmythseavalancheint,
.ACseavalancheint,
.ACseavaint,
.ACvesneaint,
.ACkorazuint,
.ACuzakonint,
.ACzumikoint {
  font-size: var(--Fs-Content);
  font-style: italic;
}
[data-theme="dark"] .ACmythseavalancheint {
  color: var(--C-MythSeavalanche_Light_Yellow);
  border: 1px solid var(--C-MythSeavalanche_Dark_Green);
}
[data-theme="dark"] .ACseavalancheint {
  color: var(--C-Seava_Light_Blue);
  border: 1px solid var(--C-Vesnea_Light_Pink);
}
[data-theme="dark"] .ACseavaint {
  color: var(--C-Seava_Light_Blue);
  border: 1px solid var(--C-Seava_Light_Blue);
}
[data-theme="dark"] .ACvesneaint {
  color: var(--C-Vesnea_Light_Pink);
  border: 1px solid var(--C-Vesnea_Light_Pink);
}
[data-theme="dark"] .ACkorazuint {
  color: var(--C-Korazu_Yellow);
  border: 1px solid var(--C-Korazu_Yellow);
}
[data-theme="dark"] .ACuzakonint {
  color: var(--C-Uzakon_Lighter_Light_Purple);
  border: 1px solid var(--C-Uzakon_Lighter_Light_Purple);
}
[data-theme="dark"] .ACzumikoint {
  color: var(--C-Zumiko_Light_Red);
  border: 1px solid var(--C-Zumiko_Light_Red);
}
[data-theme="light"] .ACmythseavalancheint,
.ACseavalancheint,
.ACseavaint,
.ACvesneaint,
.ACkorazuint,
.ACuzakonint,
.ACzumikoint {
  color: var(--text-color-2a);
  border: 1px solid var(--text-color-2a);
}
[data-theme="star"] .ACmythseavalancheint,
.ACseavalancheint,
.ACseavaint,
.ACvesneaint,
.ACkorazuint,
.ACuzakonint,
.ACzumikoint {
  color: var(--text-color-2a);
  border: 1px solid var(--text-color-2a);
}

.ACcardtitle {
  color: var(--text-color-2a);
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-size: var(--Fs-ContentTitle);
  font-weight: bold;
}
.ACitem {
  color: var(--text-color-3b);
}
.aboutseparator {
  background-color: var(--bg-color-1);
}
.aboutseparatorimg1 {
  border-color: var(--C-Seava_Yellowb);
}
@media only screen and (max-width: 800px) {
  .aboutherotitle {
    font-size: calc(var(--Fs-BigTitle) - var(--Fs-FontsizeM) * 1.5);
  }
}
/* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */
/* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */
.commhero {
  background-color: var(--C-Vesnea_white);
}
.commicontext {
  font-size: var(--Fs-ContentTitle);
  color: var(--C-SeaWeb_Purple);
}
.commiconlink {
  font-size: var(--Fs-Content-small);
  color: var(--C-SeaWeb_Purple);
}
.promotext {
  font-size: var(--Fs-Content-small);
  color: var(--C-SeaWeb_Purple);
}
.artstyle {
  background-color: var(--C-SeaWeb_Purple);
}
.commstatus {
  background-color: var(--C-SeaWeb_Dark_Purple);
}
.commstatustexttitle {
  font-size: var(--Fs-ContentTitle);
  color: var(--C-Vesnea_Pink);
}
.commstatustext {
  font-size: var(--Fs-Content);
  color: var(--C-Vesnea_white);
}
.commcontent {
  background-color: var(--C-SeaWeb_Purple);

  font-size: var(--Fs-Title);
  color: var(--C-Vesnea_white);
  font-weight: bold;
}
.commcarousel {
  background-color: #9bd0e2;
}
@media only screen and (max-width: 800px) {
  .commicontext {
    font-size: calc(var(--Fs-ContentTitle) - var(--Fs-FontsizeS));
  }
  .commiconlink {
    font-size: calc(var(--Fs-Content-small) - var(--Fs-FontsizeS) / 2);
  }
  .commcontent {
    font-size: calc(var(--Fs-Title) - var(--Fs-Fontsizem));
  }
}
/* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */
/* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */
/* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */
/* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */
.tools-wrapper {
  background-color: var(--bg-color-1);
}

/* Text to HTML */ /* Text to HTML */ /* Text to HTML */ /* Text to HTML */
.TTH-container {
  font-size: var(--Fs-Content);
  color: var(--text-color-1b);
}
.TTH-converter-textarea,
.TTH-html-output,
.TTH-preview-pane {
  background-color: var(--textpanel-background);

  font-size: var(--Fs-Content-small);
  color: var(--textpanel-text);
  border: 1px solid var(--textpanel-border);
  border-radius: 4px;
  outline: none;
}
.TTH-converter-textarea:focus {
  background-color: var(--textpanel-background);
  color: var(--textpanel-text-active);
  border: 1px solid var(--textpanel-border-active);
  box-shadow: 0 2px 10px
    color-mix(in srgb, var(--charcard-border) 50%, transparent);
}
.TTH-tab-buttons button {
  background-color: var(--button-background);

  color: var(--button-text-primary);
  border: var(--button-border-primary);
  border-radius: var(--button-border-radius);
  border: none;
  cursor: pointer;
}
.TTH-tab-buttons button.active {
  background-color: var(--button-background-active);
  color: var(--button-text-active);
  font-weight: bold;
}
.TTH-button-group button {
  color: var(--C-Vesnea_white);
  border: var(--button-border-primary);
  border-radius: var(--button-border-radius);
  border: none;
  cursor: pointer;
}
.TTH-button-group button:hover {
  opacity: 0.9;
}
.TTH-convert-btn {
  background: #007bff;
}
.TTH-copy-btn {
  background: #28a745;
}
.TTH-download-btn {
  background: #6c757d;
}
.TTH-markdown-btn {
  background: #6f42c1;
}
/* Text to HTML */ /* Text to HTML */ /* Text to HTML */ /* Text to HTML */
/* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */
/* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */
/* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */ /* TOOLS */

/* GAMES */ /* GAMES */ /* GAMES */ /* GAMES */ /* GAMES */ /* GAMES */ /* GAMES */
.gamedesc-return a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
.gamedesc-return a:hover {
  color: var(--generalcontent-texthover);
  text-shadow: 0 2px 5px
    color-mix(in srgb, var(--generalcontent-textshadow) 50%, transparent);
  transform: scale(1.5);
  font-style: italic;
}
.gamedesc-return a:active {
  font-weight: bold;
}
/* GAMES */ /* GAMES */ /* GAMES */ /* GAMES */ /* GAMES */ /* GAMES */ /* GAMES */

/* VESNEA THEMES */ /* VESNEA THEMES */ /* VESNEA THEMES */ /* VESNEA THEMES */
.VT-container {
  transition: all 0.1s ease;
}
/* VT-list */ /* VT-list */
/* VT-list */ /* VT-list */
.VT-list {
  border: 1px solid transparent;
  border-radius: 4px;
}
.VT-list:hover {
  border: var(--button-border-hover);
  /* box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent); */
  transition: all 0.1s ease;
  transform: scale(1.03);
  /* transition-delay: 0.1s; */
}
.VT-list.active {
  border: var(--button-border-hover);
  border-radius: 6px;
  /* box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent); */
  transition: all 0.3s ease;
  transform: scale(1.03);
  transition-delay: 0.1s;
}
/* VT-list .VT-Char-main */
.VT-list.active .VT-pfp-img {
  border: 1px dashed
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  border-radius: 4px;
  box-shadow: 0 4px 6px
    color-mix(in srgb, var(--button-border2-active) 10%, transparent) inset;
  opacity: 35%;
}
.VT-list.active .VT-pfp-img.big {
  border: 1px dashed
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  border-radius: 50%;
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 20%, transparent) inset;
  opacity: 100%;
}
.VT-list.active .VT-pfp-img:hover {
  opacity: 100%;
  transition: all 1s ease;
}
/* VT-list .VT-Char-sub */
.VT-list.active .VT-color-name {
  word-break: break-word;
  line-height: 1.2;
}
.VT-list.active .VT-color-cell:hover .VT-color-name {
  font-weight: bold;
  transition: font-weight 0.2s ease;
}
.VT-list.active .VT-color-cell:hover {
  background-color: hsl(from var(--bg-color-3) h s l / 0.5);
}
[data-theme="star"] .VT-list.active .VT-color-cell:hover {
  background-color: hsl(from var(--C-Uzakon_Purple) h s l / 0.3);
}
/* VT-Char-main */ /* VT-Char-main */
/* VT-Char-main */ /* VT-Char-main */
/* VT-Char-name */
.VT-char-name {
  word-break: break-word;
}
.VT-char-name .alt {
  font-size: var(--Fs-Content-small);
}
/* VT-Char-pfp */
.VT-char-pfp:hover .VT-pfp-name {
  font-size: var(--Fs-Content-small);
  transition: all 0.1s ease;
}

/* VT-Char-sub */ /* VT-Char-sub */
/* VT-Char-sub */ /* VT-Char-sub */
/* VT-color-palette */
.VT-color-palette {
  border-radius: 4px;
}
.VT-color-cell {
  font-size: var(--Fs-Content-small);
}
.VT-color-cell:hover .VT-color-name {
  word-break: break-word;
  line-height: 1.2;
  transition: all 0.1s ease;
  transform: scale(1.43);
}
.VT-color-name {
  transition: all 0.3s ease;
}
.VT-color-hexcode {
  font-size: var(--Fs-Content-smaller);
}
/* VT-details */
.VT-det-title {
  font-weight: bold;
}
.VT-color-palette2 {
  border-radius: 4px;
}
.VT-color-swatch2:hover .VT-tooltip-text {
  opacity: 1;
}
.VT-tooltip-text {
  font-size: var(--Fs-Content-small);
  white-space: nowrap;
  color: var(--bg-color-1);
  background-color: var(--button-border2-active);
  border: var(--button-border-hover);
  border-radius: 4px;
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: opacity 0.1s;
  transform: translateX(-50%);
  opacity: 0;
}
.VT-det-desc {
  white-space: pre-line;
}
/* VESNEA THEMES */ /* VESNEA THEMES */ /* VESNEA THEMES */ /* VESNEA THEMES */
