@font-face {
  font-family: "F-Navbar";
  src: url(./Assets/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "F-NavbarTitle";
  src: url(./Assets/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "F-BigTitle";
  src: url(./Assets/Baskervville-Regular.ttf);
}

@font-face {
  font-family: "F-Title";
  src: url(./Assets/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "F-ContentTitle";
  src: url(./Assets/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "F-Content";
  src: url(./Assets/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "F-Link";
  src: url(./Assets/InterTight-ExtraLightItalic.ttf);
}

/* Variable setting*/
* {
  --F-Navbar: "F-Navbar";
  --F-NavbarTitle: "F-NavbarTitle";
  --F-BigTitle: "F-BigTitle";
  --F-Title: "F-Title";
  --F-ContentTitle: "F-ContentTitle";
  --F-Content: "F-Content";
  --F-Link: "F-Link";
}

/* These are the standard font sizes*/
* {
  --Fs-Navbar: 12pt;
  --Fs-NavbarTitle: 18pt;
  --Fs-BigTitle: 48pt;
  --Fs-Title: 24pt;
  --Fs-ContentTitle: 18pt;
  --Fs-Content: 15pt;
  --Fs-Link: 12pt;
}
@media only screen and (max-width: 800px) {
  * {
    --Fs-Navbar: 12pt;
    --Fs-NavbarTitle: 18pt;
    --Fs-BigTitle: 24pt;
    --Fs-Title: 20pt;
    --Fs-ContentTitle: 18pt;
    --Fs-Content: 12pt;
    --Fs-Link: 10pt;
  }
}

/*These are font sizer*/
* {
  --Fs-FontsizeS: 4pt;
  --Fs-FontsizeM: 8pt;
}

/*These are the color palette*/
* {
  --C-SeaWeb_Dark_Purple: #181621; /*Main Color*/
  --C-SeaWeb_Dark_Purple2: rgba(24, 22, 33, 0.75);
  --C-SeaWeb_Purple: #2c233d;
  --C-SeaWeb_Purple2: rgba(44, 35, 61, 0.5);
  --C-SeaWeb_Purple3: rgba(44, 35, 61, 0.75);

  --C-Seavalanche_Light_Blue: #bbe2f0;

  --C-Vesnea_Purple: #4c2c57;
  --C-Vesnea_Pink: #f29cc2;
  --C-Vesnea_Light_Pink: #fdc4d3;
  --C-Vesnea_white: #fefcfc;
  --C-Vesnea_whiteb: rgba(240, 248, 252, 0.98);
  --C-Vesnea_whitec: rgba(240, 248, 252, 0.7);

  --C-Seava_Dark_Blue: #3e4f7b;
  --C-Seava_Lighter_Dark_Blue: #536e9d;
  --C-Seava_Blue: #4c77ae;
  --C-Seava_Light_Blue: #9bd0e2;
  --C-Seava_Yellow: rgb(252, 243, 217);
  --C-Seava_Yellowb: rgba(252, 243, 217, 0.3);

  --C-Korazu_Orange: #fcba9f;
  --C-Korazu_Yellow: #ebd6a5;
  --C-Korazu_Light_Yellow: #f5eeda;
  --C-Korazu_White: #fbf8ee;

  --C-Uzakon_Purple: #958abf;
  --C-Uzakon_Light_Purple: #c6b0cf;
  --C-Uzakon_Lighter_Light_Purple: #d8d3e5;
  --C-Uzakon_White: #eeecf4;

  --C-Zumiko_Red: #e28094;
  --C-Zumiko_Light_Red: #f2cbd4;
  --C-Zumiko_Pink: #f8bed5;
  --C-Zumiko_White: #f9e8ec;

  --C-MythSeavalanche_Light_Yellow: #fbefa1;
  --C-MythSeavalanche_Yellow: #f4df7e;
  --C-MythSeavalanche_Dark_Yellow: #d8b86d;
  --C-MythSeavalanche_Light_Green: #e0e98b;
  --C-MythSeavalanche_Green: #c1cc83;
  --C-MythSeavalanche_Dark_Green: #9ebb98;
  --C-MythSeavalanche_Blue: #e6f3f8;
  --C-MythSeavalanche_Peach: #f4cebd;

  --TC-BG_Light: var(--C-Vesnea_white);
  --TC-BG_Light2: var(--C-Uzakon_Light_Purple);
  --TC-BG_Light3: var(--C-Uzakon_Lighter_Light_Purple);
  --TC-BG_Dark: var(--C-SeaWeb_Purple);
  --TC-BG_Dark2: var(--C-SeaWeb_Dark_Purple);
  --TC-Text_Light: var(--C-SeaWeb_Purple);
  --TC-Text_Light2: var(--C-Vesnea_Purple);
  --TC-Text_Dark: var(--C-Korazu_Yellow);
  --TC-Text_Dark2: var(--C-Vesnea_white);
}
/* Add a global theme */
:root {
  /* Light Theme */
  --navbg: var(--C-Vesnea_white);
  --navtext-a: var(--C-SeaWeb_Purple);
  --navtext-b: var(--C-SeaWeb_Purple);
  --navtext-accent: var(--C-Vesnea_Pink);

  --footnavtext-a: var(--C-Vesnea_white);
  --footnavtext-b: var(--C-Korazu_white);

  --bg-color-1: var(--C-Vesnea_white);
  --text-color-1a: var(--C-SeaWeb_Purple);
  --text-color-1b: var(--C-SeaWeb_Purple);

  --bg-color-2: var(--C-Uzakon_Light_Purple);
  --text-color-2a: var(--C-Vesnea_Purple);
  --text-color-2b: var(--C-Vesnea_Purple);

  --bg-color-3: var(--C-Uzakon_Lighter_Light_Purple);
  --text-color-3a: var(--C-Vesnea_Purple);
  --text-color-3b: var(--C-Vesnea_Purple);
}
[data-theme="dark"] {
  /* Dark Theme */
  --navbg: var(--C-SeaWeb_Purple);
  --navtext-a: var(--C-Korazu_Yellow);
  --navtext-b: var(--C-Korazu_Yellow);
  --navtext-accent: var(--C-Vesnea_Pink);

  --footnavtext-a: var(--C-Vesnea_white);
  --footnavtext-b: var(--C-Korazu_White);

  --bg-color-1: var(--C-SeaWeb_Purple);
  --text-color-1a: var(--C-Korazu_Yellow);
  --text-color-1b: var(--C-Vesnea_white);

  --bg-color-2: var(--C-SeaWeb_Dark_Purple);
  --text-color-2a: var(--C-Korazu_Yellow);
  --text-color-2b: var(--C-Vesnea_white);

  --bg-color-3: var(--C-SeaWeb_Dark_Purple);
  --text-color-3a: var(--C-Vesnea_white);
  --text-color-3b: var(--C-Korazu_White);
}
[data-theme="star"] {
  /* Star Theme */
  --navbg: var(--C-SeaWeb_Dark_Purple);
  --navtext-a: var(--C-Uzakon_Light_Purple);
  --navtext-b: var(--C-Uzakon_Purple);
  --navtext-accent: var(--C-Vesnea_Pink);

  --footnavtext-a: var(--C-Vesnea_white);
  --footnavtext-b: var(--C-Korazu_white);

  --bg-color-1: var(--C-SeaWeb_Dark_Purple);
  --text-color-1a: var(--C-Uzakon_Light_Purple);
  --text-color-1b: var(--C-Uzakon_Purple);

  --bg-color-2: var(--C-SeaWeb_Dark_Purple);
  --text-color-2a: var(--C-Uzakon_Light_Purple);
  --text-color-2b: var(--C-Uzakon_Purple);

  --bg-color-3: var(--C-SeaWeb_Dark_Purple);
  --text-color-3a: var(--C-Uzakon_Light_Purple);
  --text-color-3b: var(--C-Uzakon_Purple);
}

/* Apply custom styles to all scrollbars */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--C-SeaWeb_Purple); /* Track background color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--C-Uzakon_Light_Purple); /* Thumb color */
  border-radius: 6px; /* Roundness of the thumb */
  border: 3px solid var(--C-SeaWeb_Purple); /* Adds space around thumb */
}

/* Optional: Customize hover behavior */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--C-Uzakon_Purple);
}

/* For Firefox (Experimental) */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: var(--C-Uzakon_Light_Purple) var(--C-SeaWeb_Purple); /* Thumb color | Track color */
}
/* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */
.navbar {
  background: var(--navbg);
}
.navbar-menu-text {
  font-family: var(--F-Navbar);
  font-size: var(--Fs-Navbar);
  text-decoration: none;
  color: var(--navtext-b);
}
.navbar-wrapper .active {
  font-weight: bold;
  color: var(--navtext-accent);
}

.lang-btn {
  font-family: var(--F-Navbar);
  font-size: var(--Fs-Navbar);
  color: var(--navtext-b);
}
@media only screen and (max-width: 800px) {
  .navbar-menu {
    background: var(--navbg);
  }
}
@media only screen and (max-width: 1199px) {
  .navbar-button {
    color: var(--navtext-a);
  }
  .navbar-func {
    background-color: var(--navbg);
    box-shadow: 0px 5px var(--navtext-b);
    box-shadow: 2.5vw 25px 20px -25px var(--navtext-b);
  }
}
/* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */
/* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */
.footnav {
  --Footnav1: var(--C-Vesnea_white);
  --Footnav2: var(--C-Korazu_White);
  text-shadow: 3px 4px 7px var(--C-SeaWeb_Dark_Purple2);
}
[data-theme="star"] .footnav-wrapperX {
  background-color: var(--C-SeaWeb_Purple3);
  box-shadow: 3px 4px 7px var(--C-SeaWeb_Dark_Purple2);
}
.footnav-title {
  font-family: var(--F-NavbarTitle);
  font-size: var(--Fs-NavbarTitle);
  color: var(--Footnav1);
}
.footnav-text {
  font-family: var(--F-Navbar);
  font-size: var(--Fs-Navbar);
  color: var(--Footnav2);
  text-decoration: none;
}
/* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */
/* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */
.footbar {
  background: var(--bg-color-1);
}
.footbar-logo {
  background: none;
  border: none;
  cursor: pointer;
  width: 210.94px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
[data-theme="light"] .footbar-logo {
  background-image: url("./Assets/Footer/FootbarLogoX2_LightMode.png");
}
[data-theme="dark"] .footbar-logo {
  background-image: url("./Assets/Footer/FootbarLogoX2_DarkMode.png");
}
[data-theme="star"] .footbar-logo {
  background-image: url("./Assets/Footer/FootbarLogoX2_StarMode.png");
}
.footbar-text {
  font-family: var(--F-Navbar);
  font-size: var(--Fs-Navbar);
  color: var(--text-color-1a);
}
@media only screen and (max-width: 800px) {
  .footbar-text {
    font-size: var(--Fs-Navbar);
  }
}
/* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

/* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */
.welcome {
  background-color: var(--bg-color-2);
}
[data-theme="light"] .welcomewrapper {
  background-image: url("./Assets/Homepage/WelcomeSect-light.jpg");
}
[data-theme="dark"] .welcomewrapper {
  background-image: url("./Assets/Homepage/WelcomeSect-dark.jpg");
}
[data-theme="star"] .welcomewrapper {
  background-image: url("./Assets/Homepage/WelcomeSect-star.jpg");
}
.welcometitle {
  font-family: var(--F-Title);
  font-size: var(--Fs-Title);
  font-weight: bold;
  color: var(--text-color-2a);
}
.welcometext {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--text-color-2b);
}

.shortintro {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  background-color: var(--bg-color-2);
  color: var(--text-color-2b);
}

.commsect {
  background-color: var(--bg-color-1);
}
[data-theme="light"] .commsectbanner {
  background-image: url("./Assets/CommBanner1.webp");
}
[data-theme="dark"] .commsectbanner {
  background-image: url("./Assets/CommBanner2.webp");
}
[data-theme="star"] .commsectbanner {
  background-image: url("./Assets/CommBanner2.webp");
}
.commsectitemcard {
  border-color: var(--text-color-1b);
}
.commsectitemtitle {
  font-family: var(--F-Title);
  font-size: var(--Fs-Title);
  font-weight: bold;
  color: var(--text-color-1a);
}
.commsectitemtext {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--text-color-1b);
}
.commsectlearnmore {
  font-family: var(--F-Link);
  font-size: var(--Fs-Link);
  color: var(--text-color-1a);
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  [data-theme="light"] .commsectbanner {
    background-image: url("./Assets/CommBanner1m.webp");
  }
  [data-theme="dark"] .commsectbanner {
    background-image: url("./Assets/CommBanner2m.webp");
  }
  [data-theme="star"] .commsectbanner {
    background-image: url("./Assets/CommBanner2m.webp");
  }
}
/* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */

/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */
.projectshero {
  background-color: var(--C-Vesnea_white);
}
.projectsheroheader {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
}
.projectsherotitle {
  font-family: var(--F-BigTitle);
  font-size: var(--Fs-BigTitle);
}
.projectsheroitemcard {
  border-color: var(--C-SeaWeb_Purple2);
}
.projectsheroitemtitle {
  font-family: var(--F-Title);
  font-size: var(--Fs-Title);
  font-weight: bold;
  color: var(--C-SeaWeb_Purple);
}
.projectsheroitemtext {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--C-SeaWeb_Purple);
}
.projectsherolearnmore {
  font-family: var(--F-Link);
  font-size: var(--Fs-Link);
  color: var(--C-Seava_Lighter_Dark_Blue);
  text-decoration: none;
}
.historicalsect {
  background-color: var(--C-SeaWeb_Purple);
}
.historicalsectinfo {
  font-family: var(--F-ContentTitle);
  font-size: var(--Fs-ContentTitle);
  color: var(--C-Vesnea_white);
}
.historicalsect li {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--C-Vesnea_white);
}
.projectsshowcase {
  background-color: var(--C-Vesnea_white);
  font-family: var(--F-ContentTitle);
  font-size: var(--Fs-ContentTitle);
  font-style: italic;
}
/*ProjectSeaWeb*/
.websitelinktree-title {
  font-family: var(--F-ContentTitle);
  font-size: var(--Fs-ContentTitle);
  color: var(--C-Seava_Yellow);
}
.websitelinktree-text {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--C-Vesnea_white);
  text-decoration: none;
}
.webshowcase {
  background-color: var(--C-SeaWeb_Dark_Purple);
}
.webshowcase-text1 {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--C-Vesnea_white);
}
.webshowcase-text2 {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--C-Vesnea_white);
}
.webstyle-wrapperA {
  background-color: var(--C-Vesnea_Light_Pink);
}
.webstyle-wrapperA-text {
  font-family: var(--F-ContentTitle);
  font-size: var(--Fs-ContentTitle);
  color: var(--C-Zumiko_White);
}
.webstyle-wrapperB {
  background-color: var(--C-Zumiko_White);
}
.webstyle-wrapperB-text {
  font-family: var(--F-Title);
  font-size: var(--Fs-Title);
  font-weight: bold;
  color: var(--C-Zumiko_Red);
}
@media only screen and (max-width: 800px) {
  .projectsherotitle {
    font-size: calc(var(--Fs-BigTitle) - var(--Fs-FontsizeM) * 1.5);
  }
  .webstyle-wrapperA-text {
    font-size: calc(var(--Fs-ContentTitle) - var(--Fs-FontsizeM) / 2);
    padding-left: 10px;
    padding-right: 10px;
  }
  .webstyle-wrapperB-text {
    font-size: calc(var(--Fs-Title) - var(--Fs-FontsizeM) / 2);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */

/* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */
.ACinfo {
  background-color: var(--bg-color-1);
}
.ACinfoitemcard {
  font-family: var(--F-Title);
  font-size: var(--Fs-Title);
  font-weight: bold;
}

[data-theme="light"] .Antagonist1 {
  border-color: var(--C-Zumiko_Red);
}
[data-theme="light"] .ACinfoitemtitleA1 {
  color: var(--C-Zumiko_Red);
}
[data-theme="dark"] .Antagonist1 {
  border-color: var(--C-Zumiko_Red);
}
[data-theme="dark"] .ACinfoitemtitleA1 {
  color: var(--C-Zumiko_Red);
}
.Antagonist1,
.ACinfoitemtitleA1 {
  border-color: var(--text-color-1a);
}
.ACinfoitemtitleA1 {
  color: var(--text-color-1a);
}

[data-theme="light"] .ACinfoitemtitle0 {
  color: var(--C-Vesnea_Purple);
}
[data-theme="light"] .ACinfoitemtitle1 {
  color: var(--C-Vesnea_Purple);
}
[data-theme="light"] .ACinfoitemtitle2 {
  color: var(--C-Seava_Dark_Blue);
}
[data-theme="light"] .ACinfoitemtitle3 {
  color: var(--C-Vesnea_Pink);
}
[data-theme="light"] .ACinfoitemtitle4 {
  color: var(--C-Korazu_Orange);
}
[data-theme="light"] .ACinfoitemtitle5 {
  color: var(--C-Uzakon_Purple);
}
[data-theme="light"] .ACinfoitemtitle6 {
  color: var(--C-Zumiko_Red);
}
[data-theme="dark"] .ACinfoitemtitle0 {
  color: var(--C-Vesnea_white);
}
[data-theme="dark"] .ACinfoitemtitle1 {
  color: var(--C-Seava_Yellow);
}
[data-theme="dark"] .ACinfoitemtitle2 {
  color: var(--C-Seava_Light_Blue);
}
[data-theme="dark"] .ACinfoitemtitle3 {
  color: var(--C-Vesnea_Light_Pink);
}
[data-theme="dark"] .ACinfoitemtitle4 {
  color: var(--C-Korazu_Yellow);
}
[data-theme="dark"] .ACinfoitemtitle5 {
  color: var(--C-Uzakon_Light_Purple);
}
[data-theme="dark"] .ACinfoitemtitle6 {
  color: var(--C-Zumiko_Pink);
}
.ACinfoitemtitle0,
.ACinfoitemtitle1,
.ACinfoitemtitle2,
.ACinfoitemtitle3,
.ACinfoitemtitle4,
.ACinfoitemtitle5,
.ACinfoitemtitle6 {
  color: var(--text-color-1a);
}
.ACinfoitemtext {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--text-color-1b);
}

.AC {
  background-color: var(--bg-color-3);
}

.ACmythseavalancheinttitle,
.ACseavalancheinttitle,
.ACseavainttitle,
.ACvesneainttitle,
.ACkorazuinttitle,
.ACuzakoninttitle,
.ACzumikointtitle {
  font-family: var(--F-Title);
  font-size: var(--Fs-Title);
  font-weight: bold;
}
.ACmythseavalancheinttitleB {
  font-size: var(--Fs-Content);
  font-weight: normal;
  font-style: italic;
}
[data-theme="dark"] .ACmythseavalancheinttitle {
  color: var(--C-Vesnea_white);
}
[data-theme="dark"] .ACmythseavalancheinttitleB {
  color: var(--C-MythSeavalanche_Dark_Green);
}
[data-theme="dark"] .ACseavalancheinttitle {
  color: var(--C-Seava_Yellow);
}
[data-theme="dark"] .ACseavainttitle {
  color: var(--C-Seava_Light_Blue);
}
[data-theme="dark"] .ACvesneainttitle {
  color: var(--C-Vesnea_Light_Pink);
}
[data-theme="dark"] .ACkorazuinttitle {
  color: var(--C-Korazu_Orange);
}
[data-theme="dark"] .ACuzakoninttitle {
  color: var(--C-Uzakon_Purple);
}
[data-theme="dark"] .ACzumikointtitle {
  color: var(--C-Zumiko_Red);
}
[data-theme="light"] .ACmythseavalancheinttitle,
.ACseavalancheinttitle,
.ACseavainttitle,
.ACvesneainttitle,
.ACkorazuinttitle,
.ACuzakoninttitle,
.ACzumikointtitle {
  color: var(--text-color-3a);
}
[data-theme="star"] .ACmythseavalancheinttitle,
.ACseavalancheinttitle,
.ACseavainttitle,
.ACvesneainttitle,
.ACkorazuinttitle,
.ACuzakoninttitle,
.ACzumikointtitle {
  color: var(--text-color-3a);
}

.ACmythseavalancheint,
.ACseavalancheint,
.ACseavaint,
.ACvesneaint,
.ACkorazuint,
.ACuzakonint,
.ACzumikoint {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
}
[data-theme="dark"] .ACmythseavalancheint {
  color: var(--C-MythSeavalanche_Light_Yellow);
  border: 1px solid var(--C-MythSeavalanche_Dark_Green);
}
[data-theme="dark"] .ACseavalancheint {
  color: var(--C-Seava_Light_Blue);
  border: 1px solid var(--C-Vesnea_Light_Pink);
}
[data-theme="dark"] .ACseavaint {
  color: var(--C-Seava_Light_Blue);
  border: 1px solid var(--C-Seava_Light_Blue);
}
[data-theme="dark"] .ACvesneaint {
  color: var(--C-Vesnea_Light_Pink);
  border: 1px solid var(--C-Vesnea_Light_Pink);
}
[data-theme="dark"] .ACkorazuint {
  color: var(--C-Korazu_Yellow);
  border: 1px solid var(--C-Korazu_Yellow);
}
[data-theme="dark"] .ACuzakonint {
  color: var(--C-Uzakon_Lighter_Light_Purple);
  border: 1px solid var(--C-Uzakon_Lighter_Light_Purple);
}
[data-theme="dark"] .ACzumikoint {
  color: var(--C-Zumiko_Light_Red);
  border: 1px solid var(--C-Zumiko_Light_Red);
}
[data-theme="light"] .ACmythseavalancheint,
.ACseavalancheint,
.ACseavaint,
.ACvesneaint,
.ACkorazuint,
.ACuzakonint,
.ACzumikoint {
  color: var(--text-color-2a);
  border: 1px solid var(--text-color-2a);
}
[data-theme="star"] .ACmythseavalancheint,
.ACseavalancheint,
.ACseavaint,
.ACvesneaint,
.ACkorazuint,
.ACuzakonint,
.ACzumikoint {
  color: var(--text-color-2a);
  border: 1px solid var(--text-color-2a);
}

.ACcardtitle {
  color: var(--text-color-3a);
}
.ACitem {
  font-family: var(--F-ContentTitle);
  font-size: var(--Fs-ContentTitle);
  color: var(--text-color-3b);
}
.ACcontent1,
.ACcontent2 {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
}
.aboutseparator {
  background-color: var(--bg-color-1);
}
.aboutseparatorimg1 {
  border-color: var(--C-Seava_Yellowb);
}
@media only screen and (max-width: 800px) {
  .aboutherotitle {
    font-size: calc(var(--Fs-BigTitle) - var(--Fs-FontsizeM) * 1.5);
  }
}
/* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */

/* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */
.abouthero {
  background-color: var(--bg-color-1);
}
.aboutherocontainer {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--text-color-1b);
}
.aboutherotitle {
  font-family: var(--F-BigTitle);
  font-size: var(--Fs-BigTitle);
  color: var(--text-color-1a);
}
/* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */

/* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */
.commhero {
  background-color: var(--C-Vesnea_white);
}
.commicontext {
  font-family: var(--F-ContentTitle);
  font-size: var(--Fs-ContentTitle);
  color: var(--C-SeaWeb_Purple);
}
.commiconlink {
  font-family: var(--F-Link);
  font-size: var(--Fs-Link);
  color: var(--C-SeaWeb_Purple);
}
.promotext {
  font-family: var(--F-Link);
  font-size: var(--Fs-Link);
  color: var(--C-SeaWeb_Purple);
}
.artstyle {
  background-color: var(--C-SeaWeb_Purple);
}
.commstatus {
  background-color: var(--C-SeaWeb_Dark_Purple);
}
.commstatustexttitle {
  font-family: var(--F-ContentTitle);
  font-size: var(--Fs-ContentTitle);
  color: var(--C-Vesnea_Pink);
}
.commstatustext {
  font-family: var(--F-Content);
  font-size: var(--Fs-Content);
  color: var(--C-Vesnea_white);
}
.commcontent {
  font-family: var(--F-Title);
  font-size: var(--Fs-Title);
  font-weight: bold;
  color: var(--C-Vesnea_white);
  background-color: var(--C-SeaWeb_Purple);
}
.commcarousel {
  background-color: #9bd0e2;
}
@media only screen and (max-width: 800px) {
  .commicontext {
    font-size: calc(var(--Fs-ContentTitle) - var(--Fs-FontsizeS));
  }
  .commiconlink {
    font-size: calc(var(--Fs-Link) - var(--Fs-FontsizeS) / 2);
  }
  .commcontent {
    font-size: calc(var(--Fs-Title) - var(--Fs-Fontsizem));
  }
}
/* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */
