@font-face {
  font-family: "F-Navbar";
  src: url(./Assets/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "F-NavbarTitle";
  src: url(./Assets/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "F-BigTitle";
  src: url(./Assets/Baskervville-Regular.ttf);
}

@font-face {
  font-family: "F-Title";
  src: url(./Assets/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "F-ContentTitle";
  src: url(./Assets/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "F-Content";
  src: url(./Assets/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "F-Link";
  src: url(./Assets/InterTight-ExtraLightItalic.ttf);
}

/* Variable setting*/
* {
  --F-Navbar: "F-Navbar";
  --F-NavbarTitle: "F-NavbarTitle";
  --F-BigTitle: "F-BigTitle";
  --F-Title: "F-Title";
  --F-ContentTitle: "F-ContentTitle";
  --F-Content: "F-Content";
  --F-Link: "F-Link";
}

/* These are the standard font sizes*/
* {
  --Fs-Navbar: 12pt;
  --Fs-NavbarTitle: 18pt;
  --Fs-BigTitle: 48pt;
  --Fs-Title: 24pt;
  --Fs-ContentTitle: 18pt;
  --Fs-Content: 15pt;
  --Fs-Link: 12pt;
}

/*These are font sizer*/
* {
  --Fs-FontsizeS: 4pt;
  --Fs-FontsizeM: 8pt;

  @media only screen and (max-width: 800px) {
    --Fs-Navbar: calc(12pt + var(--Fs-FontsizeS));
    --Fs-NavbarTitle: calc(18pt + var(--Fs-FontsizeS));
    --Fs-BigTitle: calc(48pt - var(--Fs-FontsizeM));
    --Fs-Title: calc(24pt - var(--Fs-FontsizeS));
    --Fs-ContentTitle: calc(18pt - var(--Fs-FontsizeS));
    --Fs-Content: calc(15pt - var(--Fs-FontsizeS));
    --Fs-Link: calc(15pt - var(--Fs-FontsizeS));
  }
  @media only screen and (min-width: 801px) and (max-width: 1199px) {
    --Fs-BigTitle: calc(48pt - var(--Fs-FontsizeM));
    --Fs-Title: calc(24pt - var(--Fs-FontsizeS));
    --Fs-ContentTitle: calc(18pt - var(--Fs-FontsizeS) / 2);
    --Fs-Content: calc(15pt - var(--Fs-FontsizeS) / 2);
    --Fs-Link: calc(15pt - var(--Fs-FontsizeS));
  }
}

/*These are the color palette*/
* {
  --C-SeaWeb_Dark_Purple: #181621; /*Main Color*/
  --C-SeaWeb_Dark_Purple2: rgba(24, 22, 33, 0.75);
  --C-SeaWeb_Purple: #2c233d;
  --C-SeaWeb_Purple2: rgba(44, 35, 61, 0.5);

  --C-Seavalanche_Light_Blue: #bbe2f0;

  --C-Vesnea_Purple: #4c2c57;
  --C-Vesnea_Pink: #f29cc2;
  --C-Vesnea_Light_Pink: #fdc4d3;
  --C-Vesnea_white: #fefcfc;
  --C-Vesnea_whiteb: rgba(240, 248, 252, 0.98);
  --C-Vesnea_whitec: rgba(240, 248, 252, 0.7);

  --C-Seava_Dark_Blue: #3e4f7b;
  --C-Seava_Lighter_Dark_Blue: #536e9d;
  --C-Seava_Blue: #4c77ae;
  --C-Seava_Light_Blue: #9bd0e2;
  --C-Seava_Yellow: rgb(252, 243, 217);
  --C-Seava_Yellowb: rgba(252, 243, 217, 0.3);

  --C-Korazu_Orange: #fcba9f;
  --C-Korazu_Yellow: #ebd6a5;
  --C-Korazu_Light_Yellow: #f5eeda;
  --C-Korazu_White: #fbf8ee;

  --C-Uzakon_Purple: #958abf;
  --C-Uzakon_Light_Purple: #c6b0cf;
  --C-Uzakon_Lighter_Light_Purple: #d8d3e5;
  --C-Uzakon_White: #eeecf4;

  --C-Zumiko_Red: #e28094;
  --C-Zumiko_Light_Red: #f2cbd4;
  --C-Zumiko_Pink: #f8bed5;
  --C-Zumiko_White: #f9e8ec;

  --TC-BG_Light: var(--C-Vesnea_white);
  --TC-BG_Light2: var(--C-Uzakon_Light_Purple);
  --TC-BG_Light3: var(--C-Uzakon_Lighter_Light_Purple);
  --TC-BG_Dark: var(--C-SeaWeb_Purple);
  --TC-BG_Dark2: var(--C-SeaWeb_Dark_Purple);
  --TC-Text_Light: var(--C-SeaWeb_Purple);
  --TC-Text_Light2: var(--C-Vesnea_Purple);
  --TC-Text_Dark: var(--C-Korazu_Yellow);
  --TC-Text_Dark2: var(--C-Vesnea_white);
}

/* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */
* {
  .navbar.light {
    background: var(--TC-BG_Light);
  }
  .navbar.dark {
    background: var(--TC-BG_Dark);
  }
  .navbar-menu-text {
    font-family: var(--F-Navbar);
    font-size: var(--Fs-Navbar);
    text-decoration: none;
  }
  .navbar-menu-text.light {
    color: var(--TC-Text_Light);
  }
  .navbar-menu-text.dark {
    color: var(--TC-Text_Dark);
  }
  .navbar-func-text {
    font-family: var(--F-Navbar);
    font-size: var(--Fs-Navbar);
  }
  .navbar-func-text.light {
    color: var(--TC-Text_Light);
  }
  .navbar-func-text.dark {
    color: var(--TC-Text_Dark);
  }
  .navbar-wrapper .active {
    color: var(--C-Vesnea_Pink);
    font-weight: bold;
  }
  .theme-toggle-btn .theme-icon {
    transition: transform 0.3s ease;
  }
  .theme-toggle-btn:hover .theme-icon {
    transform: scale(1.1); /* Add a hover effect */
  }
  @media only screen and (max-width: 800px) {
    .navbar-menu.light {
      background: var(--TC-BG_Light);
    }
    .navbar-menu.dark {
      background: var(--TC-BG_Dark);
    }
  }
  @media only screen and (max-width: 1199px) {
    .navbar-button.light {
      color: var(--TC-Text_Light);
      transition: fill 0.3s ease;
    }
    .navbar-button.dark {
      color: var(--TC-Text_Dark);
      transition: fill 0.3s ease;
    }
    .navbar-func.light {
      background-color: var(--TC-BG_Light);
      box-shadow: 0px 5px var(--TC-Text_Light);
      box-shadow: 2.5vw 25px 20px -25px var(--TC-Text_Light2);
    }
    .navbar-func.dark {
      background-color: var(--TC-BG_Dark);
      box-shadow: 0px 5px var(--TC-Text_Dark);
      box-shadow: 2.5vw 25px 20px -25px var(--TC-Text_Dark);
    }
  }
}
/* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */
/* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */
* {
  .footnav {
    --Footnav1: var(--C-Vesnea_white);
    --Footnav2: var(--C-Korazu_White);
    text-shadow: 3px 4px 7px var(--C-SeaWeb_Dark_Purple2);
  }
  .footnav-title {
    font-family: var(--F-NavbarTitle);
    font-size: var(--Fs-NavbarTitle);
    font-size: 18pt;
    color: var(--Footnav1);
  }
  .footnav-text {
    font-family: var(--F-Navbar);
    font-size: var(--Fs-Navbar);
    font-size: 12pt;
    color: var(--Footnav2);
    text-decoration: none;
  }
  /* @media only screen and (max-width: 800px) {
    .footnav-wrapper {
      background-color: var(--C-SeaWeb_Purple2);
    }
  } */
}
/* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */ /* Footnav */
/* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */
* {
  .footbar.light {
    background: var(--TC-BG_Light);
  }
  .footbar.dark {
    background: var(--TC-BG_Dark);
  }
  .footbar-text {
    font-family: var(--F-Navbar);
    font-size: var(--Fs-Navbar);
  }
  .footbar-text.light {
    color: var(--TC-Text_Light);
  }
  .footbar-text.dark {
    color: var(--TC-Text_Dark);
  }
  @media only screen and (max-width: 800px) {
    .footbar-text {
      font-size: calc(var(--Fs-Navbar)-var(--Fs-FontsizeS));
    }
  }
}
/* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */ /* Footbar */

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

/* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */
* {
  .welcome {
    background-color: var(--C-SeaWeb_Purple);
  }
  .welcometitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
  }
  .welcometext {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
  }
  .welcometitle.light {
    color: var(--TC-Text_Light2);
  }
  .welcometitle.dark {
    color: var(--TC-Text_Dark);
  }
  .welcometext.light {
    color: var(--TC-Text_Light2);
  }
  .welcometext.dark {
    color: var(--TC-Text_Dark2);
  }

  .shortintro {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
  }
  .shortintro.light {
    background-color: var(--TC-BG_Light);
    color: var(--TC-Text_Light2);
  }
  .shortintro.dark {
    background-color: var(--TC-BG_Dark);
    color: var(--TC-Text_Dark2);
  }

  .commsect {
    background-color: var(--C-SeaWeb_Dark_Purple);
  }
  .commsectitemcard {
    border-color: var(--C-Seava_Yellowb);
  }
  .commsectitemtitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
    color: var(--C-Seava_Yellow);
  }
  .commsectitemtext {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Vesnea_white);
  }
  .commsectlearnmore {
    font-family: var(--F-Link);
    font-size: var(--Fs-Link);
    color: var(--C-Seava_Light_Blue);
    text-decoration: none;
  }
  @media only screen and (max-width: 800px) {
    .welcometitle {
      font-size: calc(var(--Fs-Title) - var(--Fs-FontsizeS));
    }
    .welcometext {
      font-size: calc(var(--Fs-Content) - var(--Fs-FontsizeS) / 2);
    }
  }
}
/* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */

/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */
* {
  .projectshero {
    background-color: var(--C-Vesnea_white);
  }
  .projectsheroheader {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
  }
  .projectsherotitle {
    font-family: var(--F-BigTitle);
    font-size: var(--Fs-BigTitle);
  }
  .projectsheroitemcard {
    border-color: var(--C-SeaWeb_Purple2);
  }
  .projectsheroitemtitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
    color: var(--C-SeaWeb_Purple);
  }
  .projectsheroitemtext {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-SeaWeb_Purple);
  }
  .projectsherolearnmore {
    font-family: var(--F-Link);
    font-size: var(--Fs-Link);
    color: var(--C-Seava_Lighter_Dark_Blue);
    text-decoration: none;
  }
  .historicalsect {
    background-color: var(--C-SeaWeb_Purple);
  }
  .historicalsectinfo {
    font-family: var(--F-ContentTitle);
    font-size: var(--Fs-ContentTitle);
    color: var(--C-Vesnea_white);
  }
  .historicalsect li {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Vesnea_white);
  }
  .projectsshowcase {
    background-color: var(--C-Vesnea_white);
    font-family: var(--F-ContentTitle);
    font-size: var(--Fs-ContentTitle);
    font-style: italic;
  }
}
* {
  /*ProjectSeaWeb*/
  .websitelinktree-title {
    font-family: var(--F-ContentTitle);
    font-size: var(--Fs-ContentTitle);
    color: var(--C-Seava_Yellow);
  }
  .websitelinktree-text {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Vesnea_white);
    text-decoration: none;
  }
  .webshowcase {
    background-color: var(--C-SeaWeb_Dark_Purple);
  }
  .webshowcase-text1 {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Vesnea_white);
  }
  .webshowcase-text2 {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Vesnea_white);
  }
  .webstyle-wrapperA {
    background-color: var(--C-Vesnea_Light_Pink);
  }
  .webstyle-wrapperA-text {
    font-family: var(--F-ContentTitle);
    font-size: var(--Fs-ContentTitle);
    color: var(--C-Zumiko_White);
  }
  .webstyle-wrapperB {
    background-color: var(--C-Zumiko_White);
  }
  .webstyle-wrapperB-text {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
    color: var(--C-Zumiko_Red);
  }
  @media only screen and (max-width: 800px) {
    .projectsherotitle {
      font-size: calc(var(--Fs-BigTitle) - var(--Fs-FontsizeM) * 1.5);
    }
    .webstyle-wrapperA-text {
      font-size: calc(var(--Fs-ContentTitle) - var(--Fs-FontsizeM) / 2);
      padding-left: 10px;
      padding-right: 10px;
    }
    .webstyle-wrapperB-text {
      font-size: calc(var(--Fs-Title) - var(--Fs-FontsizeM) / 2);
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
  }
}
/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */

/* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */
* {
  .ACinfo {
    transition: all 0.1s ease;
  }
  .ACinfo.light {
    background-color: var(--TC-BG_Light);
  }
  .ACinfo.dark {
    background-color: var(--TC-BG_Dark);
  }
  .ACinfoitemcard {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
  }
  .ACinfoitemtitle0.light {
    color: var(--C-Vesnea_Purple);
  }
  .ACinfoitemtitle1.light {
    color: var(--C-Vesnea_Purple);
  }
  .ACinfoitemtitle2.light {
    color: var(--C-Seava_Dark_Blue);
  }
  .ACinfoitemtitle3.light {
    color: var(--C-Vesnea_Pink);
  }
  .ACinfoitemtitle4.light {
    color: var(--C-Korazu_Orange);
  }
  .ACinfoitemtitle5.light {
    color: var(--C-Uzakon_Purple);
  }
  .ACinfoitemtitle6.light {
    color: var(--C-Zumiko_Red);
  }
  .ACinfoitemtitle0.dark {
    color: var(--C-Vesnea_white);
  }
  .ACinfoitemtitle1.dark {
    color: var(--C-Seava_Yellow);
  }
  .ACinfoitemtitle2.dark {
    color: var(--C-Seava_Light_Blue);
  }
  .ACinfoitemtitle3.dark {
    color: var(--C-Vesnea_Light_Pink);
  }
  .ACinfoitemtitle4.dark {
    color: var(--C-Korazu_Yellow);
  }
  .ACinfoitemtitle5.dark {
    color: var(--C-Uzakon_Light_Purple);
  }
  .ACinfoitemtitle6.dark {
    color: var(--C-Zumiko_Pink);
  }
  .ACinfoitemtext {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
  }
  .ACinfoitemtext.light {
    color: var(--TC-Text_Light2);
  }
  .ACinfoitemtext.dark {
    color: var(--TC-Text_Dark2);
  }

  .AC.light {
    background-color: var(--TC-BG_Light3);
  }
  .AC.dark {
    background-color: var(--TC-BG_Dark2);
  }
  .ACseavalancheinttitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
  }
  .ACseavalancheinttitle.dark {
    color: var(--C-Seava_Yellow);
  }
  .ACseavainttitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
  }
  .ACvesneainttitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
  }
  .ACkorazuinttitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
    color: var(--C-Korazu_Orange);
  }
  .ACuzakoninttitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
    color: var(--C-Uzakon_Purple);
  }
  .ACzumikointtitle {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
    color: var(--C-Zumiko_Red);
  }
  .ACseavalancheinttitle.light,
  .ACseavainttitle.light,
  .ACvesneainttitle.light,
  .ACkorazuinttitle.light,
  .ACuzakoninttitle.light,
  .ACzumikointtitle.light {
    color: var(--TC-Text_Light2);
  }

  .ACseavalancheint {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
  }
  .ACseavalancheint.dark {
    color: var(--C-Seava_Light_Blue);
    border: 1px solid var(--C-Vesnea_Light_Pink);
  }
  .ACseavaint {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
  }
  .ACseavaint.dark {
    color: var(--C-Seava_Light_Blue);
    border: 1px solid var(--C-Seava_Light_Blue);
  }
  .ACvesneaint {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Vesnea_Light_Pink);
    border: 1px solid var(--C-Vesnea_Light_Pink);
  }
  .ACvesneaint.dark {
    color: var(--C-Vesnea_Light_Pink);
    border: 1px solid var(--C-Vesnea_Light_Pink);
  }
  .ACkorazuint {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Korazu_Yellow);
    border: 1px solid var(--C-Korazu_Yellow);
  }
  .ACuzakonint {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Uzakon_Lighter_Light_Purple);
    border: 1px solid var(--C-Uzakon_Lighter_Light_Purple);
  }
  .ACzumikoint {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Zumiko_Light_Red);
    border: 1px solid var(--C-Zumiko_Light_Red);
  }
  .ACseavalancheint.light,
  .ACseavaint.light,
  .ACvesneaint.light,
  .ACkorazuint.light,
  .ACuzakonint.light,
  .ACzumikoint.light {
    color: var(--TC-Text_Light2);
    border: 1px solid var(--TC-Text_Light2);
  }

  .ACitem {
    font-family: var(--F-ContentTitle);
    font-size: var(--Fs-ContentTitle);
  }
  .ACitem.light {
    color: var(--TC-Text_Light2);
  }
  .ACitem.dark {
    color: var(--TC-Text_Dark2);
  }
  .ACcontent1 {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
  }
  .ACcontent2 {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
  }
  .aboutseparator {
    background-color: var(--C-SeaWeb_Purple);
  }
  .aboutseparatorimg1 {
    border-color: var(--C-Seava_Yellowb);
  }
  @media only screen and (max-width: 800px) {
    .aboutherotitle {
      font-size: calc(var(--Fs-BigTitle) - var(--Fs-FontsizeM) * 1.5);
    }
  }
}
/* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */ /* CHARACTERS */

/* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */
* {
  .abouthero {
    background-color: var(--C-Vesnea_white);
  }
  .aboutherocontainer {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-SeaWeb_Purple);
  }
  .aboutherotitle {
    font-family: var(--F-BigTitle);
    font-size: var(--Fs-BigTitle);
    color: var(--C-SeaWeb_Purple);
  }
}
/* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */

/* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */
* {
  .commhero {
    background-color: var(--C-Vesnea_white);
  }
  .commicontext {
    font-family: var(--F-ContentTitle);
    font-size: var(--Fs-ContentTitle);
    color: var(--C-SeaWeb_Purple);
  }
  .commiconlink {
    font-family: var(--F-Link);
    font-size: var(--Fs-Link);
    color: var(--C-SeaWeb_Purple);
  }
  .promotext {
    font-family: var(--F-Link);
    font-size: var(--Fs-Link);
    color: var(--C-SeaWeb_Purple);
  }
  .artstyle {
    background-color: var(--C-SeaWeb_Purple);
  }
  .commstatus {
    background-color: var(--C-SeaWeb_Dark_Purple);
  }
  .commstatustexttitle {
    font-family: var(--F-ContentTitle);
    font-size: var(--Fs-ContentTitle);
    color: var(--C-Vesnea_Pink);
  }
  .commstatustext {
    font-family: var(--F-Content);
    font-size: var(--Fs-Content);
    color: var(--C-Vesnea_white);
  }
  .commcontent {
    font-family: var(--F-Title);
    font-size: var(--Fs-Title);
    font-weight: bold;
    color: var(--C-Vesnea_white);
    background-color: var(--C-SeaWeb_Purple);
  }
  .commcarousel {
    background-color: #9bd0e2;
  }
  @media only screen and (max-width: 800px) {
    .commicontext {
      font-size: calc(var(--Fs-ContentTitle) - var(--Fs-FontsizeS));
    }
    .commiconlink {
      font-size: calc(var(--Fs-Link) - var(--Fs-FontsizeS) / 2);
    }
    .commcontent {
      font-size: calc(var(--Fs-Title) - var(--Fs-Fontsizem));
    }
  }
}
/* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */ /* COMMISSIONS */
