@font-face {
  font-family: "F-Navbar";
  src: url(/src/Assets/fonts/montserrat-variable.ttf);
}

@font-face {
  font-family: "F-NavbarTitle";
  src: url(/src/Assets/fonts/montserrat-semibold.ttf);
}

@font-face {
  font-family: "F-BigTitle";
  src: url(/src/Assets/fonts/baskervville-regular.ttf);
}

@font-face {
  font-family: "F-Content";
  src: url(/src/Assets/fonts/montserrat-variable.ttf);
}

@font-face {
  font-family: "F-Link";
  src: url(/src/Assets/fonts/intertight-extralightitalic.ttf);
}

@font-face {
  font-family: "OpenDyslexic";
  src: url(/src/Assets/fonts/opendyslexic-regular.otf);
}
@font-face {
  font-family: "F-AboutVesnea";
  src: url(/src/Assets/fonts/josefinsans-italic-variable.ttf);
}
:root {
  /* Z-Index */
  --navbar-z-index: 10;
  --character-selector-z-index: 5;
  --charcard-tab-z-index: 4;
  --charcard-art-preview-z-index: 10;
  --charcard-bio-btn-z-index: 5;
}
:root {
  /* Fonts - Tier 1 */
  --F-Montserrat: "Montserrat", "Noto Sans JP", sans-serif;
  --F-Footbar: "Josefin Sans", "Noto Sans JP", sans-serif;
  --F-Default: "Josefin Sans", "Noto Sans JP", sans-serif;
  --F-CharCard: "Crimson Pro", "BIZ UDPMincho", serif;
  --F-TextPanel: "Josefin Sans", "Noto Sans JP", sans-serif;
  --F-AboutVesnea: "Josefin Sans", "Noto Sans JP", sans-serif;

  --font-layout: "Montserrat", "Noto Sans JP", sans-serif;
  --font-heading: "Baskervville", "Noto Serif JP", serif;
  --font-main: "Josefin Sans", "Noto Sans JP", sans-serif;
  --font-accent: "Dancing Script", "Zen Kurenaido", cursive, sans-serif;

  /* Font Sizes - Tier 1 (Scale) */
  --fs-xxs: 0.65rem;
  --fs-xs: 0.7rem;
  --fs-sm: 0.8rem;
  --fs-base: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-hero: 3.5rem;

  /* Font Sizes - Tier 2 (Type) */
  --fs-body: var(--fs-base);
  --fs-h1: var(--fs-xl);
  --fs-h2: var(--fs-lg);
  --fs-h3: var(--fs-md);
  --fs-h4: var(--fs-base);
  --fs-h5: var(--fs-base);
  --fs-h6: var(--fs-base);
  --spacing-md: var(--fs-lg);

  /* Spacing Scale - Tier 1 */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  /* Component Jobs - Tier 2 */
  --container-padding: var(--space-lg);
  --card-gap: var(--space-md);
}
/*These are the color palette*/
/* 1. THE PALETTE (Raw Colors) */
:root {
  --C-SeaWeb_Dark_Purple: #181621; /*Main Color*/
  --C-SeaWeb_Dark_Purple2: rgba(24, 22, 33, 0.749);
  --C-SeaWeb_Purple: #2c233d;
  --C-SeaWeb_Purple2: rgba(44, 35, 61, 0.5);
  --C-SeaWeb_Purple3: rgba(44, 35, 61, 0.75);

  --C-Seavalanche_Light_Blue: #bbe2f0;

  --C-Vesnea_Purple: #4c2c57;
  --C-Vesnea_Pink: #f29cc2;
  --C-Vesnea_Light_Pink: #fdc4d3;
  --C-Vesnea_white: #fefcfc;
  --C-Vesnea_whiteb: rgba(240, 248, 252, 0.98);
  --C-Vesnea_whitec: rgba(240, 248, 252, 0.7);

  --C-Seava_Dark_Blue: #3e4f7b;
  --C-Seava_Lighter_Dark_Blue: #536e9d;
  --C-Seava_Blue: #4c77ae;
  --C-Seava_Light_Blue: #9bd0e2;
  --C-Seava_Yellow: rgb(252, 243, 217);
  --C-Seava_Yellowb: rgba(252, 243, 217, 0.3);

  --C-Korazu_Orange: #fcba9f;
  --C-Korazu_Yellow: #ebd6a5;
  --C-Korazu_Light_Yellow: #f5eeda;
  --C-Korazu_White: #fbf8ee;

  --C-Uzakon_Purple: #958abf;
  --C-Uzakon_Light_Purple: #c6b0cf;
  --C-Uzakon_Lighter_Light_Purple: #d8d3e5;
  --C-Uzakon_White: #eeecf4;

  --C-Zumiko_Red: #e28094;
  --C-Zumiko_Light_Red: #f2cbd4;
  --C-Zumiko_Pink: #f8bed5;
  --C-Zumiko_White: #f9e8ec;

  --C-MythSeavalanche_Light_Yellow: #fbefa1;
  --C-MythSeavalanche_Yellow: #f4df7e;
  --C-MythSeavalanche_Dark_Yellow: #d8b86d;
  --C-MythSeavalanche_Light_Green: #e0e98b;
  --C-MythSeavalanche_Green: #c1cc83;
  --C-MythSeavalanche_Dark_Green: #9ebb98;
  --C-MythSeavalanche_Blue: #e6f3f8;
  --C-MythSeavalanche_Peach: #f4cebd;

  --cutepink: #ff69b4;
  --cutepink2: #d63384;
  --cutepink3: #ec6f97cc;

  --TC-BG_Light: var(--C-Vesnea_white);
  --TC-BG_Light2: var(--C-Uzakon_Light_Purple);
  --TC-BG_Light3: var(--C-Uzakon_Lighter_Light_Purple);
  --TC-BG_Dark: var(--C-SeaWeb_Purple);
  --TC-BG_Dark2: var(--C-SeaWeb_Dark_Purple);
  --TC-Text_Light: var(--C-SeaWeb_Purple);
  --TC-Text_Light2: var(--C-Vesnea_Purple);
  --TC-Text_Dark: var(--C-Korazu_Yellow);
  --TC-Text_Dark2: var(--C-Vesnea_white);

  /* Attributes */
  --attribute-aether: #f4df7e;
  --attribute-void: #1c1b1d;
  --attribute-light: #ffffff;
  --attribute-darkness: #382f3c;
  --attribute-fire: #e1294d;
  --attribute-water: #3e4f7b;
  --attribute-nature: #70bb74;
  --attribute-metal: #5a6775;
  --attribute-electric: #ffe941;
  --attribute-wind: #9be2c9;
  --attribute-magical: #fdc4d3;
  --attribute-psionic: #ce36be;
  --attribute-spirit: #70488c;
  --attribute-sound: #ec6f97;
  --attribute-text-seawebdarkpurple: #181621;
  --attribute-text-vesneawhite: #fefcfc;
}
/* 2. THE THEMES (Assigning jobs to the palette) */
/* Default / Light Theme */
:root,
[data-theme="light"] {
  --navbg: var(--C-Vesnea_white);
  --navbg-ext: var(--C-Vesnea_Light_Pink);
  --navbg-secondary: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 50%,
    transparent
  );
  --navbg-secondary-m: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 20%,
    var(--navbg) 70%
  );
  --navtext-a: var(--C-SeaWeb_Purple);
  --navtext-b: var(--C-SeaWeb_Purple);
  --navtext-accent: var(--C-Vesnea_Pink);

  --footnavtext-a: var(--C-Vesnea_white);
  --footnavtext-b: var(--C-Korazu_white);

  --bg-color-1: var(--C-Vesnea_white);
  --text-color-1a: var(--C-SeaWeb_Purple);
  --text-color-1b: var(--C-SeaWeb_Purple);

  --bg-color-2: var(--C-Uzakon_Light_Purple);
  --text-color-2a: var(--C-Vesnea_Purple);
  --text-color-2b: var(--C-Vesnea_Purple);

  --bg-color-3: var(--C-Uzakon_Lighter_Light_Purple);
  --text-color-3a: var(--C-Vesnea_Purple);
  --text-color-3b: var(--C-Vesnea_Purple);

  /* Texts */
  --text-hover: var(--cutepink);

  /* Buttons */
  --button-background: var(--bg-color-3);
  --button-text: var(--C-SeaWeb_Dark_Purple);
  --button-border: var(--C-Uzakon_Light_Purple);
  --button-border2: var(--C-Uzakon_Lighter_Light_Purple);
  --button-background-active: color-mix(
    in srgb,
    var(--attribute-sound) 80%,
    transparent
  );
  --button-text-active: var(--C-Vesnea_white);
  --button-border-active: var(--C-SeaWeb_Dark_Purple);
  --button-border2-active: var(--cutepink);

  /* Textpanels */
  --textpanel-background: var(--C-Uzakon_Lighter_Light_Purple);
  --textpanel-text: var(--C-Vesnea_Purple);
  --textpanel-border: var(--C-Uzakon_Light_Purple);
  --textpanel-border2: var(--C-Uzakon_Lighter_Light_Purple);
  --textpanel-background-active: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 50%,
    transparent
  );
  --textpanel-text-active: var(--C-Vesnea_Purple);
  --textpanel-border-active: var(--cutepink);

  /* Sliders */
  --slider-background-active: var(--textpanel-background-active);

  /* Charcard */
  --charcard-bg: var(--C-Vesnea_white);
  --charcard-PFPbg: var(--C-Zumiko_White);
  --charcard-art-title: var(--C-Vesnea_white);
  --charcard-text-prop: var(--C-Uzakon_Light_Purple);
  --charcard-text-value: var(--C-SeaWeb_Dark_Purple);
  --charcard-text-name: var(--C-SeaWeb_Dark_Purple);
  --charcard-text-altname: var(--C-Uzakon_Purple);
  --charcard-border: var(--C-Vesnea_Light_Pink);
  --charcard-PFPborder: var(--C-Vesnea_white);
  --charcard-closebtn: var(--C-Vesnea_Pink);
  --charcard-active-tab: var(--attribute-sound);
  --charcard-active-tab-border: var(--attribute-sound);
  --charcard-active-tab-text: var(--C-Vesnea_white);

  --storyfnbar-text: var(--C-SeaWeb_Dark_Purple);
  --storyfnbar-text2: var(--C-Vesnea_Purple);
  --aboutvesnea-bg: var(--C-Zumiko_White);
  --aboutvesnea-text: var(--C-Vesnea_Purple);
  --aboutvesnea-link: var(--attribute-sound);
  --aboutvesnea-cardborder: var(--C-Zumiko_Pink);
  --generaltitle-text: var(--C-Vesnea_Purple);
  --generalcontent-text: var(--C-Vesnea_Purple);
  --generalcontent-texthover: var(--cutepink2);
  --generalcontent-textshadow: var(--C-Vesnea_Pink);
  --poembook-scroll-btn: color-mix(
    in srgb,
    var(--C-Uzakon_Purple) 30%,
    transparent
  );
  --listseparator-text: var(--cutepink2);
  --listseparator-bg: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 30%,
    transparent
  );
  --notfound-bg1: color-mix(
    in srgb,
    var(--C-Vesnea_Light_Pink) 10%,
    var(--C-Vesnea_white) 90%
  );
  --notfound-bg2: color-mix(
    in srgb,
    var(--C-Vesnea_Pink) 35%,
    var(--C-Vesnea_white) 65%
  );
  --notfound-text1: var(--cutepink2);
  --notfound-text2: var(--cutepink2);
  --notfound-textbtn: color-mix(
    in srgb,
    var(--C-Vesnea_white) 90%,
    var(--C-Vesnea_Pink) 10%
  );
  --notfound-btn: color-mix(
    in srgb,
    var(--cutepink) 80%,
    var(--C-Vesnea_Purple) 20%
  );
}
:root,
[data-theme="light"] {
  --bg-primary: var(--C-Vesnea_white);
  --bg-secondary: var(--C-Uzakon_Light_Purple);
  --bg-brand: var(--C-Uzakon_Lighter_Light_Purple);
  --bg-special: var(--C-Zumiko_White);
  --text-on-primary: var(--C-Vesnea_Purple);
  --text-on-secondary: var(--C-Vesnea_Purple);
  --text-on-brand: var(--C-Vesnea_Purple);
  --text-on-special: var(--C-Vesnea_Purple);
  --text-on-special-link: var(--attribute-sound);
  --border-on-special: var(--C-Zumiko_Pink);
  --accent: var(--cutepink2);
  --text-active: var(--cutepink);

  /* general color scheme */
  --gender-female: var(--attribute-sound);
  --gender-male: hsl(
    from var(--attribute-water) calc(h + 5) calc(s + 15) calc(l + 15) / 1
  );
  --gender-genderless: hsl(from var(--attribute-wind) h s calc(l - 20) / 1);
  --gender-unknown: var(--text-on-primary);

  /* buttons */
  --button-bg-hover: hsl(from var(--text-on-brand) h s l / 0.5);
  --button-text-hover: var(--bg-primary);
  --button-border-hover: 1px solid var(--text-on-brand);
  --button-shadow-hover: 0 8px 12px hsl(from var(--text-on-brand) h s l / 0.5);

  /* navbar */
  --navbar-height-primary: 2.5rem;
  --navbar-height-secondary: 2rem;
  --navbar-padding-sides: 2rem;
  --navbar-padding: 0 var(--navbar-padding-sides);
  --navbar-width: calc(100% - 2 * var(--navbar-padding-sides));
  --navbar-menu-gap: 0.8rem;
  --navbar-item-gap: 0.4rem;
  --navbar-item-gap-m: 0.8rem;
  --navbar-logo-height: 7rem;
  --navbar-menu-font-size: var(--fs-xs);
  --navbar-menu-font-size-m: var(--fs-base);
  --navbar-logo-hover: var(--cutepink2);
  --navbg-secondary: hsl(from var(--bg-brand) h s l / 0.5);
  --navbg-secondary-hover: hsl(from var(--bg-brand) h s l / 0.95);
  --navbg-shadow: hsl(from var(--text-on-brand) h calc(s + 50) l / 0.3);
  --navbg-bg-hover: hsl(from var(--text-on-special) h calc(s + 50) l / 0.1);
  --navbg-bg-hover-border: var(--bg-brand);
  /* footer */
  --footnav-height: 500px;
  --footnav-height-m: auto;
  --footnav-positioner-margin: 0 0 0 210px;
  --footnav-positioner-margin-m: 0 0 0 0;
  --footnav-positioner-padding: 55px 0 0 0;
  --footnav-positioner-padding-m: 1.5rem 0 1.5rem 0;
  --footnav-box-margin: 0 0 0 0;
  --footnav-box-margin-m: 0;
  --footnav-box-padding: 1rem;
  --footnav-box-padding-m: 0;
  --footnav-box-bg: hsl(from var(--bg-primary) h s l / 0.9);
  --footnav-box-shadow: 3px 4px 7px hsl(from var(--bg-primary) h s l / 0.8);
  --footnav-box-shadow-hover: 0 0 6px 6px
    hsl(from var(--bg-secondary) h s l / 0.5);
  --footnav-box-radius: 12pt;
  --footnav-card-flow: row;
  --footnav-card-flow-m: row;
  --footnav-card-margin: 0 0 0 0;
  --footnav-card-margin-m: 0 0 0 0;
  --footnav-card-padding: 0.5rem 1rem 0.5rem 0.5rem;
  --footnav-card-gap: 0.5rem;
  --footnav-menu-gap: 1rem;
  --footnav-text-gap: 0.5rem;
  --footnav-text1: var(--text-on-brand);
  --footnav-text2: var(--text-on-primary);
  --footnav-text-shadow: var(--text-on-primary);
  /* About Vesnea */
  --about-vesnea-my-style-img-bg: #3c1a2c;
  /* charcard */
  --charcard-art-preview-shadow:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 0px 50px 20px hsl(from var(--bg-special) h s l / 0.5);
  /* story and poem */
  --story-poem-bg: hsl(from var(--bg-secondary) h s l / 0.5);
  --story-poem-text: var(--text-on-secondary);
  --story-poem-font-family: var(--F-Default);
  --story-poem-font-size: 22pt;
}
[data-theme="dark"] {
  /* Dark Theme */
  --navbg: var(--C-SeaWeb_Purple);
  --navbg-ext: var(--C-Vesnea_white);
  /* --navbg-secondary: color-mix(
    in srgb,
    var(--C-SeaWeb_Dark_Purple) 50%,
    transparent
  );
  --navbg-secondary-m: color-mix(
    in srgb,
    var(--C-SeaWeb_Dark_Purple) 20%,
    var(--navbg) 70%
  ); */
  --navtext-a: var(--C-Korazu_Yellow);
  --navtext-b: var(--C-Korazu_Yellow);
  --navtext-accent: var(--C-Vesnea_Pink);

  --footnavtext-a: var(--C-Vesnea_white);
  --footnavtext-b: var(--C-Korazu_White);

  --bg-color-1: var(--C-SeaWeb_Purple);
  --text-color-1a: var(--C-Korazu_Yellow);
  --text-color-1b: var(--C-Vesnea_white);

  --bg-color-2: var(--C-SeaWeb_Dark_Purple);
  --text-color-2a: var(--C-Korazu_Yellow);
  --text-color-2b: var(--C-Vesnea_white);

  --bg-color-3: var(--C-SeaWeb_Dark_Purple);
  --text-color-3a: var(--C-Vesnea_white);
  --text-color-3b: var(--C-Korazu_White);

  /* Texts */
  --text-hover: var(--C-Korazu_Yellow);

  /* Buttons */
  --button-background: var(--C-SeaWeb_Dark_Purple);
  --button-text: var(--C-Uzakon_White);
  --button-border: var(--C-Uzakon_Purple);
  --button-border2: var(--C-SeaWeb_Purple);
  --button-background-active: color-mix(
    in srgb,
    var(--C-Korazu_Yellow) 80%,
    transparent
  );
  --button-text-active: var(--C-SeaWeb_Purple);
  --button-border-active: var(--C-Uzakon_White);
  --button-border2-active: var(--C-Korazu_Yellow);

  /* Textpanels */
  --textpanel-background: var(--C-SeaWeb_Dark_Purple);
  --textpanel-text: var(--C-Uzakon_Light_Purple);
  --textpanel-border: var(--C-Uzakon_Purple);
  --textpanel-border2: var(--textpanel-border);
  --textpanel-background-active: var(--C-SeaWeb_Purple);
  --textpanel-background-active: color-mix(
    in srgb,
    var(--C-Korazu_Yellow) 30%,
    var(--C-SeaWeb_Dark_Purple) 80%
  );
  --textpanel-text-active: var(--C-Korazu_Yellow);
  --textpanel-border-active: var(--C-Korazu_Yellow);

  /* Sliders */
  --slider-background-active: var(--textpanel-background-active);

  /* Charcard */
  --charcard-bg: var(--C-SeaWeb_Purple);
  --charcard-PFPbg: var(--C-Uzakon_Lighter_Light_Purple);
  --charcard-art-title: var(--C-Uzakon_Purple);
  --charcard-text-prop: var(--C-Uzakon_Purple);
  --charcard-text-value: var(--C-Uzakon_White);
  --charcard-text-name: var(--C-Vesnea_white);
  --charcard-text-altname: var(--C-Uzakon_Light_Purple);
  --charcard-border: var(--C-Uzakon_Light_Purple);
  --charcard-PFPborder: var(--C-Korazu_Yellow);
  --charcard-closebtn: var(--C-Uzakon_Purple);
  --charcard-active-tab: var(--C-Korazu_Yellow);
  --charcard-active-tab-border: var(--C-Korazu_Yellow);
  --charcard-active-tab-text: var(--C-SeaWeb_Purple);

  --storyfnbar-text: var(--C-Uzakon_White);
  --storyfnbar-text2: var(--C-Uzakon_Purple);
  --aboutvesnea-bg: var(--C-SeaWeb_Purple);
  --aboutvesnea-text: var(--C-Zumiko_Light_Red);
  --aboutvesnea-link: var(--C-Zumiko_Red);
  --aboutvesnea-cardborder: var(--C-Vesnea_Purple);
  --generaltitle-text: var(--C-Zumiko_Light_Red);
  --generalcontent-text: var(--C-Zumiko_Light_Red);
  --generalcontent-texthover: var(--C-Korazu_Yellow);
  --generalcontent-textshadow: var(--C-Korazu_Yellow);
  --poembook-scroll-btn: rgba(0, 0, 0, 0.15);
  --listseparator-text: color-mix(
    in srgb,
    var(--C-SeaWeb_Dark_Purple) 70%,
    var(--C-Vesnea_Purple) 10%
  );
  --listseparator-text: color-mix(
    in srgb,
    var(--C-Korazu_Yellow) 80%,
    transparent
  );
  --listseparator-bg: color-mix(
    in srgb,
    var(--C-Vesnea_Purple) 30%,
    var(--C-Vesnea_white) 20%
  );
  --listseparator-bg: color-mix(
    in srgb,
    var(--C-SeaWeb_Dark_Purple) 40%,
    transparent
  );
  --notfound-bg1: var(--C-SeaWeb_Purple);
  --notfound-bg2: var(--C-SeaWeb_Dark_Purple);
  --notfound-text1: var(--C-Korazu_Yellow);
  --notfound-text2: var(--C-Vesnea_Light_Pink);
  --notfound-textbtn: var(--C-Vesnea_white);
  --notfound-btn: var(--C-SeaWeb_Purple);
}
[data-theme="dark"] {
  --bg-primary: var(--C-SeaWeb_Purple);
  --bg-secondary: var(--C-SeaWeb_Dark_Purple);
  --bg-brand: var(--C-SeaWeb_Dark_Purple);
  --bg-special: var(--C-SeaWeb_Purple);
  --text-on-primary: var(--C-Korazu_White);
  --text-on-secondary: var(--C-Korazu_White);
  --text-on-brand: var(--C-Korazu_Yellow);
  --text-on-special: var(--C-Zumiko_Light_Red);
  --text-on-special-link: var(--C-Zumiko_Red);
  --border-on-special: var(--C-Vesnea_Purple);
  --accent: var(--C-Vesnea_Pink);
  --text-active: var(--C-Korazu_Yellow);

  /* navbar */
  --navbar-logo-hover: var(--C-Vesnea_Light_Pink);
  --navbg-shadow: hsl(from var(--bg-primary) h calc(s + 50) l / 0.3);
  /* footer */
  --footnav-positioner-margin: 0 210px 0 0;
  /* About Vesnea */
  --about-vesnea-my-style-img-bg: #211b2b;
  /* charcard */
  --charcard-art-preview-shadow:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 0px 50px 20px hsl(from var(--text-on-brand) h s l / 0.5);
}
[data-theme="star"] {
  /* Star Theme */
  --navbg: var(--C-SeaWeb_Dark_Purple);
  --navbg-ext: var(--C-Vesnea_white);
  /* --navbg-secondary: color-mix(
    in srgb,
    var(--C-Uzakon_Purple) 5%,
    var(--navbg) 95%
  );
  --navbg-secondary-m: color-mix(
    in srgb,
    var(--C-SeaWeb_Purple) 10%,
    var(--navbg) 80%
  ); */
  --navtext-a: var(--C-Uzakon_Light_Purple);
  --navtext-b: var(--C-Uzakon_Purple);
  --navtext-accent: var(--C-Vesnea_Pink);

  --footnavtext-a: var(--C-Vesnea_white);
  --footnavtext-b: var(--C-Korazu_white);

  --bg-color-1: var(--C-SeaWeb_Dark_Purple);
  --text-color-1a: var(--C-Uzakon_Light_Purple);
  --text-color-1b: var(--C-Uzakon_Purple);

  --bg-color-2: var(--C-SeaWeb_Dark_Purple);
  --text-color-2a: var(--C-Uzakon_Light_Purple);
  --text-color-2b: var(--C-Uzakon_Purple);

  --bg-color-3: var(--C-SeaWeb_Dark_Purple);
  --text-color-3a: var(--C-Uzakon_Light_Purple);
  --text-color-3b: var(--C-Uzakon_Purple);

  /* Texts */
  --text-hover: var(--C-Uzakon_Lighter_Light_Purple);

  /* Buttons */
  --button-background: var(--bg-color-3);
  --button-text: var(--C-Uzakon_Purple);
  --button-border: color-mix(in srgb, var(--C-Uzakon_Purple) 50%, transparent);
  --button-border2: color-mix(in srgb, var(--C-Uzakon_Purple) 20%, transparent);
  --button-background-active: color-mix(
    in srgb,
    var(--C-Uzakon_Purple) 80%,
    transparent
  );
  --button-text-active: var(--C-Uzakon_White);
  --button-border-active: var(--C-Uzakon_Purple);
  --button-border2-active: var(--C-Uzakon_Purple);

  /* Textpanels */
  --textpanel-background: var(--bg-color-3);
  --textpanel-text: var(--C-Uzakon_Purple);
  --textpanel-border: color-mix(
    in srgb,
    var(--C-Uzakon_Purple) 20%,
    transparent
  );
  --textpanel-border2: var(--textpanel-border);
  --textpanel-background-active: color-mix(
    in srgb,
    var(--C-Vesnea_Purple) 10%,
    var(--C-Uzakon_Purple) 40%
  );
  --textpanel-text-active: var(--C-Uzakon_Light_Purple);
  --textpanel-border-active: var(--C-Uzakon_Purple);

  /* Sliders */
  --slider-background-active: var(--textpanel-background-active);

  /* Charcard */
  --charcard-bg: var(--C-SeaWeb_Dark_Purple);
  --charcard-PFPbg: var(--C-SeaWeb_Purple);
  --charcard-art-title: color-mix(
    in srgb,
    var(--C-Uzakon_Purple) 50%,
    transparent
  );
  --charcard-text-prop: color-mix(
    in srgb,
    var(--C-Uzakon_Purple) 50%,
    transparent
  );
  --charcard-text-value: var(--C-Uzakon_Purple);
  --charcard-text-name: var(--C-Uzakon_Light_Purple);
  --charcard-text-altname: var(--C-Uzakon_Purple);
  --charcard-border: var(--C-Uzakon_Purple);
  --charcard-PFPborder: var(--C-Uzakon_Purple);
  --charcard-closebtn: var(--C-Uzakon_Purple);
  --charcard-active-tab: var(--C-Uzakon_Purple);
  --charcard-active-tab-border: var(--C-Uzakon_Purple);
  --charcard-active-tab-text: var(--C-Uzakon_White);

  --storyfnbar-text: var(--C-Uzakon_Purple);
  --storyfnbar-text2: var(--C-Uzakon_Purple);
  --aboutvesnea-bg: var(--C-SeaWeb_Dark_Purple);
  --aboutvesnea-text: var(--C-Uzakon_Light_Purple);
  --aboutvesnea-link: var(--C-Uzakon_Purple);
  --aboutvesnea-cardborder: var(--C-SeaWeb_Purple);
  --generaltitle-text: var(--C-Uzakon_Light_Purple);
  --generalcontent-text: var(--C-Uzakon_Light_Purple);
  --generalcontent-texthover: var(--C-Uzakon_Purple);
  --generalcontent-textshadow: var(--C-Vesnea_Pink);
  --poembook-scroll-btn: rgba(0, 0, 0, 0.15);
  --listseparator-text: color-mix(
    in srgb,
    var(--C-Uzakon_Light_Purple) 50%,
    var(--C-Uzakon_White) 20%
  );
  --listseparator-bg: color-mix(
    in srgb,
    var(--C-Uzakon_Purple) 30%,
    var(--C-SeaWeb_Dark_Purple) 70%
  );
  --notfound-bg1: var(--C-SeaWeb_Dark_Purple);
  --notfound-bg2: var(--C-SeaWeb_Dark_Purple);
  --notfound-text1: var(--C-Uzakon_Lighter_Light_Purple);
  --notfound-text2: var(--C-Uzakon_Light_Purple);
  --notfound-textbtn: var(--C-Uzakon_Lighter_Light_Purple);
  --notfound-btn: var(--C-SeaWeb_Purple);
}
[data-theme="star"] {
  --bg-primary: var(--C-SeaWeb_Dark_Purple);
  --bg-secondary: var(--C-SeaWeb_Dark_Purple);
  --bg-brand: var(--C-SeaWeb_Dark_Purple);
  --bg-special: var(--C-SeaWeb_Dark_Purple);
  --text-on-primary: var(--C-Uzakon_Light_Purple);
  --text-on-secondary: var(--C-Uzakon_Light_Purple);
  --text-on-brand: var(--C-Uzakon_Light_Purple);
  --text-on-special: var(--C-Uzakon_Light_Purple);
  --text-on-special-link: var(--C-Uzakon_Purple);
  --border-on-special: var(--C-SeaWeb_Purple);
  --accent: var(--C-Vesnea_Pink);
  --text-active: var(--C-Uzakon_Lighter_Light_Purple);

  /* navbar */
  --navbar-logo-hover: var(--C-Vesnea_Light_Pink);
  --navbg-shadow: hsl(from var(--bg-primary) h calc(s + 50) l / 0.3);
  /* footer */
  --footnav-height: 800px;
  --footnav-positioner-margin: 0 194px 0 0;
  --footnav-positioner-padding: 70px 0 0 0;
  --footnav-box-margin: 0 -510px 0 0;
  --footnav-box-bg: hsl(from var(--bg-primary) h s l / 0.8);
  --footnav-card-flow: column;
  /* About Vesnea */
  --about-vesnea-my-style-img-bg: #1f1b2c;
  /* charcard */
  --charcard-art-preview-shadow:
    0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 0px 50px 20px hsl(from var(--text-on-brand) h s l / 0.5);
}
[data-theme="infinity"] {
  --bg-primary: hsl(
    from var(--C-MythSeavalanche_Light_Yellow) h s calc(l + 35)
  );
  --bg-secondary: hsl(from var(--C-MythSeavalanche_Yellow) h s calc(l + 15));
  --bg-brand: hsl(from var(--C-MythSeavalanche_Light_Green) h s calc(l + 15));
  --bg-special: hsl(from var(--C-MythSeavalanche_Green) h s calc(l + 15));
  --text-on-primary: hsl(
    from var(--C-MythSeavalanche_Dark_Yellow) calc(h - 50) s calc(l - 45)
  );
  --text-on-secondary: hsl(
    from var(--C-MythSeavalanche_Dark_Yellow) calc(h - 50) s calc(l - 45)
  );
  --text-on-brand: hsl(
    from var(--C-MythSeavalanche_Dark_Green) calc(h - 20) calc(s - 5)
      calc(l - 35)
  );
  --text-on-special: hsl(
    from var(--C-MythSeavalanche_Dark_Green) calc(h - 20) calc(s - 5)
      calc(l - 35)
  );
  --text-on-special-link: var(--C-Uzakon_Purple);
  --border-on-special: hsl(from var(--text-on-brand) h s calc(l + 20));
  --accent: hsl(from var(--C-MythSeavalanche_Peach) h s calc(l - 20));
  --text-active: var(--C-Uzakon_Lighter_Light_Purple);

  /* navbar */
  --navbar-logo-hover: var(--C-MythSeavalanche_Dark_Yellow);
}

/* Assets */ /* Assets */ /* Assets */ /* Assets */ /* Assets */
:root,
[data-theme="light"] {
  --navbar-theme-btn1: url("/src/Assets/Navbar/korazusun.svg");
  --navbar-theme-btn2: url("/src/Assets/Navbar/uzakonmoon.svg");
  --navbar-theme-btn3: url("/src/Assets/Navbar/zumikostar.svg");
  --navbar-theme-btn4: url("/src/Assets/Navbar/seavalancheinfinity.svg");
  --homepage-welcome-img: url("/src/Assets/Homepage/welcomesect-light.webp");
  --homepage-commsect-img: url("/src/Assets/commbanner1.webp");
  --homepage-commsect-img-m: url("/src/Assets/commbanner1m.webp");
  --footnav-img: url("/src/Assets/footer/lightmode.jpg");
  --footnav-img-m: url("/src/Assets/footer/lightmode-xssize.jpg");
  --about-vesnea-header-img: url("/src/Assets/About/AboutVesnea/aboutvesnea-header-2.png");
  --about-vesnea-header-shadow: url("/src/Assets/About/AboutVesnea/aboutvesnea-header-2-shadow.png");
  --about-vesnea-separator: url("/src/Assets/About/AboutVesnea/tidy-er-light.svg");
  --about-vesnea-timeline: url("/src/Assets/About/AboutVesnea/AboutTimeline/abouttimeline.svg");
  --about-vesnea-timeline-jp: url("/src/Assets/About/AboutVesnea/AboutTimeline/abouttimelinejp.svg");
  --about-vesnea-timeline-m: url("/src/Assets/About/AboutVesnea/AboutTimeline/abouttimelinem.svg");
  --about-vesnea-timeline-m-jp: url("/src/Assets/About/AboutVesnea/AboutTimeline/abouttimelinemjp.svg");
}

[data-theme="dark"] {
  --homepage-welcome-img: url("/src/Assets/Homepage/welcomesect-dark.jpg");
  --homepage-commsect-img: url("/src/Assets/commbanner2.webp");
  --homepage-commsect-img-m: url("/src/Assets/commbanner2m.webp");
  --footnav-img: url("/src/Assets/footer/darkmode.jpg");
  --footnav-img-m: url("/src/Assets/footer/darkmode-xssize.jpg");
}

[data-theme="star"] {
  --homepage-welcome-img: url("/src/Assets/Homepage/welcomesect-star.jpg");
  --homepage-commsect-img: url("/src/Assets/commbanner2.webp");
  --homepage-commsect-img-m: url("/src/Assets/commbanner2m.webp");
  --footnav-img: url("/src/Assets/footer/starmode.webp");
  --footnav-img-m: url("/src/Assets/footer/starmode.jpg");
}
/* Assets */ /* Assets */ /* Assets */ /* Assets */ /* Assets */
